17. **Filter out negative numbers from a list**  
    Given a list `[1, -2, 3, -4, 5, -6]`, write a `for` loop to filter out all negative numbers and store the positive numbers in a new list.
8. **Calculate factorial**  
   Write a program using a `while` loop that calculates the factorial of a number, say 5.

In [2]:
li1= [1,-2,3,4,5,-6]
ponum =[]
for  temp in li1:
    if temp>0:
        ponum.append(temp)

print(ponum)

[1, 3, 4, 5]

In [4]:
fact=1
number =15
i=1
while(i<=number):
    fact*=i
    print("factorial",i,"is ",fact)
    i+=1
   
print(fact)

factorial 1 is  1
factorial 2 is  2
factorial 3 is  6
factorial 4 is  24
factorial 5 is  120
factorial 6 is  720
factorial 7 is  5040
factorial 8 is  40320
factorial 9 is  362880
factorial 10 is  3628800
factorial 11 is  39916800
factorial 12 is  479001600
factorial 13 is  6227020800
factorial 14 is  87178291200
factorial 15 is  1307674368000
1307674368000

In [8]:
str1 ='Hello world'
str2 = "Python is fun"

str3 ="""line 1
lin2
line 3
"""

In [ ]:
print(str1)
print(str2)
print(str3)

In [ ]:
str1[0]
str1[0:5]

In [ ]:
for i in str1:
    print(i)

In [14]:
str1[0]="s"

TypeError: 'str' object does not support item assignment

In [16]:
str1 ="Shell World"
str1

'Shell World'

In [22]:
str1[-5:]

'World'

In [31]:
s1=1
s2=1.0

In [32]:
s1==s2

True

In [33]:
s1 is s2

False

In [34]:
str1

'Shell World'

In [35]:
"W" in str1

True

In [36]:
"w" in str1

False

In [42]:
# concatination
str1 +" | "+ str2

'Shell World | Python is fun'

In [39]:
str1.capitalize()

'Shell world'

In [40]:
str1.casefold()

'shell world'

In [41]:
str1.upper()

'SHELL WORLD'

In [49]:
str1.count("r")

1

In [50]:
len(str1)

11

In [62]:
str1

'Shell World'

In [53]:
str1.partition(" ")

('Shell', ' ', 'World')

In [59]:
str1.find("or")

7

In [61]:
str1.replace("S","H")

'Hhell World'

In [66]:
str4="  abc "
str4

'  abc '

In [68]:
str4.rstrip()

'  abc'

In [69]:
str4.strip()

'abc'

In [70]:
str4.lstrip()

'abc '

In [73]:
str2

'Python is fun'

In [74]:
str2.split(" ")

['Python', 'is', 'fun']

In [75]:
sr= str2.split(" ")

In [76]:
sr

['Python', 'is', 'fun']

In [77]:
sr.append("new word")
sr

['Python', 'is', 'fun', 'new word']

In [81]:
" ".join(sr)

'Python is fun new word'

# Dict

In [ ]:
d1={}
d2=dict()
d3={1:"a",2:"v"}

print(type(d1))
print(type(d2))
print(type(d3))
#

In [22]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

In [23]:
country_capitals["Canada"]

'Ottawa'

In [24]:
country_capitals["India"] =  "New Delhi"

country_capitals

{'Germany': 'Berlin',
 'Canada': 'Ottawa',
 'England': 'London',
 'India': 'New Delhi'}

In [25]:
country_capitals["India"] =  "Delhi"

country_capitals

{'Germany': 'Berlin',
 'Canada': 'Ottawa',
 'England': 'London',
 'India': 'Delhi'}

In [27]:
country_capitals.pop("India")

'Delhi'

In [28]:
country_capitals

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [30]:
del country_capitals["Canada"]

In [31]:
country_capitals

{'Germany': 'Berlin', 'England': 'London'}

In [32]:
for i in country_capitals:
    print(i)

Germany
England

In [34]:
country_capitals.update({"Germany":"France"})
country_capitals

{'Germany': 'France', 'England': 'London'}

In [35]:
country_capitals.update({"India":"Delhi"})
country_capitals

{'Germany': 'France', 'England': 'London', 'India': 'Delhi'}

In [36]:
country_capitals.keys()

dict_keys(['Germany', 'England', 'India'])

In [37]:
country_capitals.values()

dict_values(['France', 'London', 'Delhi'])

In [ ]:
for i,j in country_capitals.items():
    print("state",i)
    print("capital",j)

In [38]:
country_capitals.items()

dict_items([('Germany', 'France'), ('England', 'London'), ('India', 'Delhi')])

In [43]:
country_capitals.get("India")

'Delhi'

In [44]:
country_capitals.popitem()

('India', 'Delhi')

In [45]:
f= country_capitals.copy()

In [ ]:
g= country_capitals

In [55]:
f

{'Germany': 'France', 'England': 'London'}

In [56]:
g

{'Germany': 'France', 'England': 'London', 'a': 'b', 'aa': 'b'}

In [47]:
country_capitals.update({"a":"b"})

In [52]:
country_capitals.update({"aa":"b"})

In [53]:

g

{'Germany': 'France', 'England': 'London', 'a': 'b', 'aa': 'b'}

In [54]:
f

{'Germany': 'France', 'England': 'London'}

18. **Find the first occurrence of a target element**  
    Write a `for` loop to find the first occurrence of a target element, say 50, in the list `[10, 20, 30, 40, 50, 60]`. Break the loop once the element is found.

13. **Sum of each row in a 2D list**  
    Given a 2D list `[[1, 2, 3], [4, 5, 6], [7, 8, 9]]`, use a nested `for` loop to print the sum of each row.
    
18. Write a program to classify a triangle as equilateral, isosceles, or scalene using nested `if` statements.

In [8]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for l in li2:
    print(sum(l))

6
15
24

In [9]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for l in li2:
    print(l)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for l in li2:
    for j in l:
        total+=j
total

45

In [20]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for l in li2:
    total=0
    for j in l:
        total+=j
    print(total)

6
15
24

In [19]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for l in li2:
    print(l)
    total=0
    print(" in 1st loop total" ,total)
    for j in l:
        print(j)
        total+=j
    print(total)

[1, 2, 3]
 in 1st loop total 0
1
2
3
6
[4, 5, 6]
 in 1st loop total 0
4
5
6
15
[7, 8, 9]
 in 1st loop total 0
7
8
9
24

In [4]:
li=[34,65,78,34,87,50,34,23]
element =50
for i in range(0, len(li) ):
    if li[i] == element:
        print("Element ",li[i], " is  found at index ", i)
        break

Element  50  is  found at index  5

In [21]:
# Define the 2D list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Iterate over each row
for row in matrix:
    row_sum = 0  # Initialize sum for the current row
    # Sum the elements in the current row
    for element in row:
        row_sum += element
    # Print the sum of the current row
    print(f"Sum of row {row}: {row_sum}")

Sum of row [1, 2, 3]: 6
Sum of row [4, 5, 6]: 15
Sum of row [7, 8, 9]: 24

In [6]:
n=5
for i in range(1,n):
    print("-"*(n-i), end="")
    for j in range(i):
        print("*" ,end="")
    print()

----*
---**
--***
-****

In [ ]:
n=5
for i in range(1,n):
    print("-"*(n-i), end="")
    for j in range(i):
        print("*" ,end="")
    print()

## OOP

In [23]:
class Bottle:
    cap=None
    name=None
    color =None

    def dis(self):
        print(self.cap, self.name,self.color)

In [24]:
b1 = Bottle()

In [25]:
b1.cap="small"
b1.name="cello"
b1.color="red"

In [26]:
b2 = Bottle()
b2.cap="large"
b2.name="melten"
b2.color="green"

In [21]:
b1.name

'cello'

In [27]:
b1.dis()

small cello red

In [28]:
b2.dis()

large melten green

In [36]:
class Customer:

    name=None
    cus_id=None
    amount=None
    def  __init__(self):
        print("object created")


    def dis(self):
        print("Customer Name: ", self.name)
        print(f"Customer id: {self.cus_id}")
        print(f"Customer Amount: {self.amount}")

In [38]:
c2 = Customer()

object created

In [37]:
c2 = Customer()
c2.name = "John"
c2.cus_id=2
c2.amount=100

c2.dis()

object created
Customer Name:  John
Customer id: 2
Customer Amount: 100

In [31]:
c1=Customer("deep",1,1000)

TypeError: Customer() takes no arguments

In [ ]:
def

In [43]:
class Customer:
    def  __init__(self, name, cus_id, amount):
        self.name = name
        self.id = cus_id
        self.amt= amount

    def dis(self):
        print("Customer Name: ", self.name)
        print(f"Customer id: {self.id}")
        print(f"Customer Amount: {self.amt}")

In [44]:
c2 =Customer("john",343,1000)

In [45]:
c2.dis()

Customer Name:  john
Customer id: 343
Customer Amount: 1000

In [46]:
del c2

In [47]:
c2

NameError: name 'c2' is not defined

### Create a Vehicle class with max_speed and mileage instance attributes

In [1]:
class Vehicle:
    def __init__(self, max_speed, milage):
        self.max_speed = max_speed
        self.milage = milage

    def display(self):
        print(f"Max Speed: {self.max_speed} mph")
        print(f"Milage: {self.milage} miles")


car1 =  Vehicle(120, 200)
car1.display()

Max Speed: 120 mph
Milage: 200 miles

In [7]:
class Animal:
    # attribute and method of the parent class
    name = ""
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):
    # new method in subclass
    def display(self):
        # access name attribute of superclass using self
        print("My name is ", self.name)

# create an object of the subclass
labrador = Dog()
# access superclass attribute and method 
labrador.name = "Rohu"
labrador.eat()
# call subclass method 
labrador.display()

I can eat
My name is  Rohu

In [10]:
class pom(Dog): #multilevel  Animal-> Dog-> Pom
    pass

In [9]:
class pom(Dog,Animal):  #multiple  inheritance  (Dog , Animal)
    pass

In [13]:
class Animal:
    name = ""
    def eat(self):
        print("I can eat")

class Dog(Animal):
    def display(self):
        print("My name is ", self.name)

    def eat(self):
        print("I can eat  dog food")

class Cat(Animal):
    def display(self):
        print("My name is ", self.name)

    def eat(self):
        print("I can eat  cat food")

In [23]:
labrador = Dog()
labrador.name = "Rohu"
labrador.eat()
labrador.display()

I can eat  dog food
My name is  Rohu

In [24]:
cat = Cat()
cat.name = "mie"
cat.eat()
cat.display()

I can eat  cat food
My name is  mie

In [25]:
for i in (labrador,cat):   # polymorfism
    i.eat()
    i.display()

I can eat  dog food
My name is  Rohu
I can eat  cat food
My name is  mie

In [27]:
4+5

9

In [28]:
"4"+"5"

'45'

In [42]:
#encapsulation
class Animal:
    def  __init__(self, name):
        self.__name = name
    def eat(self):
        print("I can eat")
    def get_name(self):
        return self.__name

    def  set_name(self, name):
        self.__name = name

class Dog(Animal):
    def display(self):
        name = self.get_name()
        print("My name is ", name)

    def eat(self):
        print("I can eat  dog food")

class Cat(Animal):
    def display(self):
        print("My name is ", self.name)

    def eat(self):
        print("I can eat  cat food")

In [43]:
dog1 = Dog("ddd")
dog1.display()

My name is  ddd

In [44]:
dog1.set_name("deep")

In [45]:
dog1.display()

My name is  deep

In [54]:
import requests
from bs4 import BeautifulSoup
import lxml

# URL of the product page (This example URL is generic; you need the URL of the specific mobile page)
url = "https://www.amazon.in/POCO-Mirror-Black-RAM-Storage/dp/B0CSDSJ31L?pd_rd_w=nJl6Q&content-id=amzn1.sym.4208c4b0-bca1-4d25-819d-4a63e3b5b520&pf_rd_p=4208c4b0-bca1-4d25-819d-4a63e3b5b520&pf_rd_r=M2DR6ZCX3Z9TPC4BHVG5&pd_rd_wg=GLokb&pd_rd_r=2a4c31a2-3904-4461-9486-05a939847d02&pd_rd_i=B0CSDSJ31L&ref_=pd_hp_d_btf_unk_B0CSDSJ31L"

# Set up headers to mimic a browser request (prevents blocking)
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
}

# Send a GET request to fetch the HTML content of the page
response = requests.get(url, headers=headers)
print(response.status_code)
# Check if the request was successful (status code 200)
if response.status_code == 200:
    print(1)
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'lxml')
    print(1)
    # Find all the product containers (specific to Amazon structure; class names may change over time)
    for product in soup.find_all('div', {'data-component-type': 's-search-result'}):
        # Extract product title
        print(product)
        title = product.h2.text.strip()
        print(f"Product Title: {title}")
        # Extract price (Note: Price may not always be available or could be in different parts of the page)
        price_whole = product.find('span', class_='a-price-whole')
        price_fraction = product.find('span', class_='a-price-fraction')
        print(1)
        if price_whole and price_fraction:
            price = price_whole.text + price_fraction.text
        else:
            price = "Price not available"

        # Extract product rating (if available)
        rating = product.find('span', class_='a-icon-alt')
        if rating:
            rating = rating.text
        else:
            rating = "No rating available"

        # Print the extracted details
        print(f"Product Title: {title}")
        print(f"Price: {price}")
        print(f"Rating: {rating}")
        print("-" * 40)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

200
1
1

In [26]:
class Animal:
    def __init__(self, name=""):
        self.__name = name  # Private attribute

    # Getter for name
    def get_name(self):
        return self.__name

    # Setter for name
    def set_name(self, name):
        self.__name = name

    def eat(self):
        print("I can eat")

class Dog(Animal):
    def display(self):
        print("My name is", self.get_name())  # Accessing the private attribute through a getter

    def eat(self):
        print("I can eat dog food")

class Cat(Animal):
    def display(self):
        print("My name is", self.get_name())  # Accessing the private attribute through a getter

    def eat(self):
        print("I can eat cat food")


# Create Dog and Cat objects
dog = Dog()
dog.set_name("Buddy")  # Set the private attribute using the setter
dog.display()          # Output: My name is Buddy
dog.eat()              # Output: I can eat dog food

cat = Cat()
cat.set_name("Whiskers")  # Set the private attribute using the setter
cat.display()             # Output: My name is Whiskers
cat.eat()                 # Output: I can eat cat food

My name is Buddy
I can eat dog food
My name is Whiskers
I can eat cat food

In [ ]:
class Car:
    def __init__(self, brand, year):
        self.brand = brand      # Public attribute
        self.__year = year      # Private attribute (by convention, using __ makes it private)

    # Public method to access the private attribute
    def get_year(self):
        return self.__year

    # Public method to modify the private attribute
    def set_year(self, year):
        if year > 1885:  # Cars weren't invented before 1886, so adding validation
            self.__year = year
        else:
            print("Invalid year!")

# Create an object of the Car class
my_car = Car("Toyota", 2020)

# Access public attribute
print(my_car.brand)  # Output: Toyota

# Try to access private attribute directly (will fail)
# print(my_car.__year)  # This will raise an AttributeError

# Access the private attribute through the public method
print(my_car.get_year())  # Output: 2020

# Modify the private attribute using the setter method
my_car.set_year(2023)
print(my_car.get_year())  # Output: 2023