In [ ]:
print("hello")

hello

In [2]:
6 # value

6

In [3]:
# value assign 
a =7

In [7]:
a

9

In [5]:
a=9

In [8]:
name = "anuj"

In [9]:
name

'anuj'

In [10]:
# 1.variable never start with numbers
1name ="anuj"

SyntaxError: invalid decimal literal (892453661.py, line 1)

In [11]:
name1 ="anuj"

In [12]:
name1

'anuj'

In [ ]:
camelcase

camelCase

In [13]:

fullname ="anuj kumar"
FullName = "ajay kumar"
full_name = "ajay kumar"

In [14]:
fullname

'anuj kumar'

In [16]:
FullName

'ajay kumar'

In [ ]:
PI = 3.14

In [17]:
full_name = "ajay"

SyntaxError: invalid syntax (1446960536.py, line 1)

In [18]:
# Create a name that makes sense.
sdfsd  = "ajay"

name ="ajay"

In [19]:
roll_no = 23
fddfd =23

In [20]:
5

5

In [21]:
5

5

In [22]:
s =3434

In [23]:
s

3434

In [24]:
s

3434

In [26]:
s= 5

In [27]:
s

5

In [28]:
# keywords are not used as variable
if  ="anuj"

SyntaxError: invalid syntax (4029659987.py, line 2)

In [31]:
And

43

In [36]:
course = None

In [37]:
course

In [35]:
course =55
course

55

In [38]:
# list literal
fruits = ["apple", "mango", "orange"] 
fruits

['apple', 'mango', 'orange']

In [39]:
fruits[1]

'mango'

### datatypes

In [40]:
# 1. int
number1 =232

In [41]:
type(number1)

int

In [44]:
num = " apple ",121

In [46]:
type(num)

tuple

In [47]:
# float 
type(545.76)

float

In [50]:
# string
type("34434fdsfsds")

str

In [51]:
# boolean
type(True)

bool

### Sequential data types
1. list
2. tuple
3. set
4.  dict

In [1]:
#  list 

students=  ["John", "Mary", "David", "Emma"]

In [ ]:
# indexing 
students[0]
s=4

str

In [ ]:
print(students[0])

In [ ]:
print()

In [ ]:
students.pop()  # by default last value delete

'Emma'

In [ ]:
students.pop(2)  # delete based on inedx number

'David'

In [ ]:
students.remove("John")  # delete based on value

In [6]:
len(students)

1

In [7]:
students

['Mary']

In [8]:
a= [3,4,5,5,"5"]
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [9]:
a.reverse()

In [10]:
a

['5', 5, 5, 4, 3]

In [15]:
a[2]= 454

In [16]:
a

['5', 5, 454, 4, 3]

In [11]:
b = a

In [17]:
b

['5', 5, 454, 4, 3]

In [13]:
c= a.copy()

In [18]:
c

['5', 5, 5, 4, 3]

#### Tuple

- Python Tuple

A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created.

In [ ]:
#  create tuple
t1 =()
t2 =(1,2,3,4,5)
t3 =tuple()
t4 =tuple([3,4,5])

In [26]:
type(t4)

tuple

In [ ]:
a =5.67

In [28]:
type(a)

float

In [34]:
int(a)
str(a)

'5.67'

In [35]:
list(t2)

[1, 2, 3, 4, 5]

Tuples are:

- Ordered - They maintain the order of elements.
- Immutable - They cannot be changed after creation.
- Allow duplicates - They can contain duplicate values.

In [38]:
# tuple is immutable
t2[4] =4454

TypeError: 'tuple' object does not support item assignment

In [42]:
t5 =(4,5,6,4,5,6,5)
t5

(4, 5, 6, 4, 5, 6, 5)

In [43]:
t5.count(6)

2

In [44]:
t5.index(5)

1

In [45]:
# in 
5 in t5

True

In [46]:
5 not in t5

False

In [47]:
del t5

In [48]:
t5

NameError: name 't5' is not defined

In [ ]:
# string datatypes
name = "anuj"

In [54]:
name[2]

'e'

In [52]:
name[2] ="p"

TypeError: 'str' object does not support item assignment

In [ ]:
name = "deep"
name

'deep'

In [56]:
name.count("d")

1

In [57]:
name.capitalize()

'Deep'

In [58]:
name.casefold()

'deep'

In [59]:
name.lower()

'deep'

In [60]:
name.isalnum()

True

In [61]:
name.isalpha()

True

In [62]:
name.isnumeric()

False

In [63]:
story = "this is one line story"

In [64]:
story2 = "this is 2 story.
this is 2nd line"

SyntaxError: unterminated string literal (detected at line 1) (3695730235.py, line 1)

In [ ]:
# multiline string 
story2 = """this is 2 story.
this is 2nd line 
"""

In [ ]:
story2

'this is 2 story.\nthis is 2nd line \n'

In [68]:
print(story2)

this is 2 story.
this is 2nd line

In [69]:
s1= "deep"
s2 = "Deep"


print(s1==s2)

False

In [70]:
s3 = "deep"

In [71]:
s1==s3

True

In [ ]:
# concatinate
s1 +s2

'deepDeep'

In [73]:
s1+ " " + s3

'deep deep'

In [77]:
s1.partition("ee")

('d', 'ee', 'p')

In [78]:
s1.replace("ee","oo")

'doop'

In [79]:
s1.find("e")

1

In [ ]:
s1.rstrip()   # remove the extra space from right side 
s1.lstrip()  # remove the extra space from left side

'deep'

In [90]:
s4 = "      classroom     "
s4

'      classroom     '

In [91]:
s4.rstrip()

'      classroom'

In [92]:
s4.lstrip()

'classroom     '

In [97]:
s1.strip()

'deep'

In [84]:
s1.split('e')

['d', '', 'p']

In [88]:
s1.startswith("w")

False

In [96]:
s1

'deep'

In [95]:
s1.index("ep")

2

In [98]:
name = ["a","b","c"]
marks= [87,97,65]

print(name,marks)

['a', 'b', 'c'] [87, 97, 65]

In [ ]:
print("students a got a marks ", marks[0])

students a got a marks  87

In [ ]:
str(65)   # convert number in string format

'65'

In [103]:
print("students a got a marks " + str(marks[0]))

students a got a marks 87

In [110]:
print(f"student {name[0]} got {marks[0]} marks")
print(f"student {name[1]} got {marks[1]} marks")
print(f"student {name[2]} got {marks[2]} marks")

student a got 87 marks
student b got 97 marks
student c got 65 marks

In [ ]:
# set
# no duplicate value store
#  not support indexing 
s1 =set()  #empty

a2 = {1,2,3,4,5,5,5,6,7,8,8,8} 

a2

{1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
a2[2]

TypeError: 'set' object is not subscriptable

In [ ]:
#  insert new value 
a2.add(34)
a2

{1, 2, 3, 4, 5, 6, 7, 8, 34}

In [ ]:
# update the value  
#  
a2.update([4,5])

In [120]:
a2

{1, 2, 3, 34, 4, 5, 6, '6', 7, '7', 8}

In [ ]:
a2.discard(34)  # delete the value  34 from the set

In [123]:
a2

{1, 2, 3, 4, 5, 6, '6', 7, '7', 8}