In [1]:
print("class 1 ")

class 1

#### Variable
 * define

In [ ]:
# comment  define by  # at start point in python
print("Hello, World!")  # comment

# multiline comment

# dfdf
# dfdf
# dsds

# sdsd

Hello, World!

In [ ]:
# define text
"Hello, World!"  # double quotes
'Hello, World!'    # single quotes

'Hello, World!'

In [8]:
"my name is shahl.
i am  a teacher."

SyntaxError: unterminated string literal (detected at line 1) (2631630270.py, line 1)

In [9]:
"my name is shahl."
"i am  a teacher."

'i am  a teacher.'

##### multiline string define

In [10]:
# use triple quotes to define a multiline string in python
# triple quotes can be single or double quotes
"""
my name is shahl.
i am  a teacher."""

'\nmy name is shahl.\ni am  a teacher.'

In [11]:
'''
my name is shahl.
i am  a teacher.
'''

'\nmy name is shahl.\ni am  a teacher.\n'

In [13]:
'my father's house'

SyntaxError: unterminated string literal (detected at line 1) (513272027.py, line 1)

In [ ]:
# resovlve error using double quote
" my father's house "   
# why we use double quetations if we use single quotes

" my father's house "

In [14]:
100

100

In [15]:
100

100

In [21]:
a= 100

In [22]:
a

100

In [ ]:
name

'shahil'

#### rules to define variable

In [ ]:
#1.  meaningfull variable
sdsda = 300  

amount =300

In [29]:
amount

300

In [30]:
amount =500
amount

500

In [31]:
# 2. not startwith number
1name = "sahil"

SyntaxError: invalid decimal literal (1646030847.py, line 2)

In [32]:
name1 = "shahil"

In [35]:
Full name = "shahil ans"

SyntaxError: invalid syntax (3022158364.py, line 1)

In [ ]:
#3. use underscore for space in variable names
Full_name = "shahil ans"

Full_name

'shahil ans'

In [39]:
# 4.Variable names are case-sensitive
full_name

NameError: name 'full_name' is not defined

In [40]:
Full_name

'shahil ans'

In [42]:
# 5. keywords not use as a variable name
if = "shahil"

SyntaxError: invalid syntax (1378827965.py, line 2)

In [43]:
ifs= "Shahil"

In [ ]:
name =

SyntaxError: invalid syntax (278833736.py, line 1)

In [45]:
name = None

In [50]:
name11

NameError: name 'name11' is not defined

In [52]:
name1

'shahil'

### Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

comment 
strings define 
variables
variable rules

In [ ]:
# create 4 variable 
# full name
# age
# city
# phone number

In [53]:
full_name ="xyz"
age = 23
city= "delhi"
phone_number =54544543

In [56]:
# Assigning multiple values to multiple variables
full_name, age, city, phone_number = "abc", 23, "pune", 1234567890

In [58]:
print(full_name= "xys")

TypeError: 'full_name' is an invalid keyword argument for print()

In [60]:
full_name ="xyz"
    age = 23
city= "delhi"

IndentationError: unexpected indent (955263105.py, line 2)

In [59]:
full_name ="xyz"
age = 23
city= "delhi"

In [ ]:
print

In [ ]:
'5'+6

TypeError: can only concatenate str (not "int") to str

In [48]:
5+6

11

## Data Types

In [76]:
a =6. ## define variable
a

6.0

In [77]:
type(a)  ## use type function to get the type of data

float

In [ ]:
a ="6.6" 

type(a)

str

In [80]:
# type( value)
4/2

type(4/2)

float

In [82]:
4/2

2.0

In [79]:
2

2

## change the data types maually

* int(pass value or variable )
* float()
* str()
* bool()
* list(),dict(),set(),tuple()

In [81]:
int(4/2)

2

In [83]:
float(4)

4.0

In [86]:
x= 45
x
type(x)

int

In [ ]:
# change the intger to string using str() functions
str(x)

'45'

In [88]:
x

45

In [89]:
y = str(x)
y

'45'

In [90]:
type(y)

str

In [98]:
#  store multplevalue in single variable 
# 1.list
std_name = ["Rahul", "raj", "Rahul", "rohit",343,243243]
std_name

['Rahul', 'raj', 'Rahul', 'rohit', 343, 243243]

In [99]:
type(std_name)

list

In [100]:
std_name[1]

'raj'

In [104]:
type(std_name[3] )

str

In [97]:

tuple(std_name)

('Rahul', 'raj', 'Rahul', 'rohit')

In [1]:
a =5

In [2]:
a

5

Arithmetic Operators
Assignment Operators
Comparison Operators
Logical Operators
Bitwise Operators
Special Operators

In [7]:
# Comparison Operators --> ><, >=,<= ,==, !=
math= 70
eng =50
comp= 50
math>eng

True

In [5]:
math<eng

False

In [11]:
eng>comp

False

In [ ]:
eng>=comp

True

In [10]:
eng==comp

True

In [13]:
math>eng , eng>comp

(True, False)

In [ ]:
math>eng and eng>comp

False

In [ ]:
math>eng or eng>comp

False

In [15]:
(math>eng or eng>comp) and comp<math

True

In [17]:
not(math>eng or eng>comp)

False

In [ ]:
# and(math>eng , eng>comp)

In [23]:
list_1= [3,4,5,2,8]

In [ ]:
# memeber operators --> in  not in
2 in list_1

True

In [24]:
2 not in list_1

False

In [33]:
a=10
b=10

In [34]:
a==b

True

In [35]:
id(a)

140720850008792

In [36]:
id(b)

140720850008792

In [ ]:
# identity operator  =-> if memory location is same then return true else return false
# id() function is used to get the id of the object
#  it show true if both object are store in core datatypes in diffrent variable(int,float, bool, string)
a is b

True

In [ ]:
# if same data store in diffrent sequetial datatypes it actually store in diffrent  memory id.
x3 = [1,2,3]
y3 = [1,2,3]

In [ ]:
#  == use for data compare
x3==y3

True

In [ ]:
# is use for memory id based comparision
x3 is y3

False

In [41]:
id(x3)

1748190147584

In [42]:
id(y3)

1748190587008

In [ ]:
# even logic
a=34

a%2==0

True

In [48]:
a/2

17.0

if

In [ ]:
# if a%2==0 , "even", "odd" --> excel format
a=34
if a%2==0:
    print("even",a)

even 34

In [ ]:
a=13
if a%2==0:
    print("even")

In [ ]:
a=13
# multiple if 
if a%2==0:
    print("even")
if a%2!=0:
    print("odd")

odd

In [ ]:
# nested if  
# use
a=13
if a%2==0:
    print("even")
    if a%2!=0:
        print("odd")

In [ ]:
# check odd/even if number is positive 
num=-23
if num>0:
    print(num)
    if num%2==0:
        print("even")
    if num%2!=0:
        print("odd")

In [66]:
num=23

if num>0:
    print(num)
if num%2==0:
    print("even")
if num%2!=0:
    print("odd")

23
odd

In [ ]:
# std marks 
# 0<marks>100

# 33<marks -->f
# 45>marks --> D
# 60>marks --> c
# 80>marks-->  b 
# 80<marks -->a

In [ ]:
if age>=18:
    print("You are an adult")

In [ ]:
v_id ="N"
if v_id == "Y":
        print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
age =16
v_id ="Y"
if age>=18:
    print("You are an adult")
    
    if v_id == "Y":
        print("You are eligible to vote")
    else:
        print("You are not eligible to vote")

You are eligible to vote

In [ ]:

marks =60

if marks<35:
    print("Fail")
else:
    print("pass")

print("pass 2")

pass
pass 2

In [ ]:
marks =30
if marks<35:
    print("F")
if marks>=35 and marks<45:
    print("D")
if marks>=45 and marks<60:
    print("C")
if marks>=60 and marks<75:
    print("B")
if marks>=75 and marks<90:
    print("A")
if marks>=90:
    print("A+")

F

In [ ]:
marks = int(input("Enter a number between 0 to 100"))
if marks >0 and marks <100:
 
    if marks<35:
        print("F")
    elif marks>=35 and marks<45:
        print("D")
    elif marks>=45 and marks<60:
        print("C")
    elif marks>=60 and marks<75:
        print("B")
    elif marks>=75 and marks<90:
        print("A")
    else:
        print("A+")
else:
    print("please enter a number between 0 to 100")

A

In [ ]:
# 
user_id = input("enter user id: ")
password = int(input("enter your password"))
print(user_id, password)

if user_id == "sha" and password == 1234:
    print("login succesfully")
else:
    print("please enter vaild user id or password")

In [ ]:
# give a 3 attempt for login 

for a in range(1,4):
    
    user_id = input("enter user id: ")
    password = int(input("enter your password"))
    print("attampte", a, user_id, password)

    if user_id == "sha" and password == 1234:
        print("login succesfully")
        break
    else:
        print("please enter vaild user id or password")

attampte 1 dse 543
please enter vaild user id or password
attampte 2 656 232
please enter vaild user id or password
attampte 3 sds 3231
please enter vaild user id or password

In [ ]:
for _ in range(0,10):
    print("hii")

In [53]:
for i in range(1,11):
    print(i,"* 2 =" ,i*2)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [ ]:
n=13
if n%2 ==0:
    print(n,"even")
else:
    print(n, "odd")
# 1 odd
# 2 eve

13 odd

In [ ]:
for n in range(50,120):
    if n%2 ==0:
        print(n,"even")
    else:
        print(n, "odd")

In [ ]:
# count the even number 
even_count =0
for n in range(50,120):
    if n%2 ==0:
        # print(n,"even")
        even_count +=1
    else:
        pass
        # print(n, "odd")

print(even_count)

35

In [ ]:
# count the even number 
even_count =0
for n in range(50,120):
    if n%2 ==0:
        print(n,"even")
        even_count +=1
    else:
        print(n, "odd")

50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd
100 even
101 odd
102 even
103 odd
104 even
105 odd
106 even
107 odd
108 even
109 odd
110 even
111 odd
112 even
113 odd
114 even
115 odd
116 even
117 odd
118 even
119 odd

In [64]:
even_count

35