In [1]:
print("class 1 ")

class 1

#### Variable
 * define

In [ ]:
# comment  define by  # at start point in python
print("Hello, World!")  # comment

# multiline comment

# dfdf
# dfdf
# dsds

# sdsd

Hello, World!

In [ ]:
# define text
"Hello, World!"  # double quotes
'Hello, World!'    # single quotes

'Hello, World!'

In [8]:
"my name is shahl.
i am  a teacher."

SyntaxError: unterminated string literal (detected at line 1) (2631630270.py, line 1)

In [9]:
"my name is shahl."
"i am  a teacher."

'i am  a teacher.'

##### multiline string define

In [10]:
# use triple quotes to define a multiline string in python
# triple quotes can be single or double quotes
"""
my name is shahl.
i am  a teacher."""

'\nmy name is shahl.\ni am  a teacher.'

In [11]:
'''
my name is shahl.
i am  a teacher.
'''

'\nmy name is shahl.\ni am  a teacher.\n'

In [13]:
'my father's house'

SyntaxError: unterminated string literal (detected at line 1) (513272027.py, line 1)

In [ ]:
# resovlve error using double quote
" my father's house "   
# why we use double quetations if we use single quotes

" my father's house "

In [14]:
100

100

In [15]:
100

100

In [21]:
a= 100

In [22]:
a

100

In [ ]:
name

'shahil'

#### rules to define variable

In [ ]:
#1.  meaningfull variable
sdsda = 300  

amount =300

In [29]:
amount

300

In [30]:
amount =500
amount

500

In [31]:
# 2. not startwith number
1name = "sahil"

SyntaxError: invalid decimal literal (1646030847.py, line 2)

In [32]:
name1 = "shahil"

In [35]:
Full name = "shahil ans"

SyntaxError: invalid syntax (3022158364.py, line 1)

In [ ]:
#3. use underscore for space in variable names
Full_name = "shahil ans"

Full_name

'shahil ans'

In [39]:
# 4.Variable names are case-sensitive
full_name

NameError: name 'full_name' is not defined

In [40]:
Full_name

'shahil ans'

In [42]:
# 5. keywords not use as a variable name
if = "shahil"

SyntaxError: invalid syntax (1378827965.py, line 2)

In [43]:
ifs= "Shahil"

In [ ]:
name =

SyntaxError: invalid syntax (278833736.py, line 1)

In [45]:
name = None

In [50]:
name11

NameError: name 'name11' is not defined

In [52]:
name1

'shahil'

### Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

comment 
strings define 
variables
variable rules

In [ ]:
# create 4 variable 
# full name
# age
# city
# phone number

In [53]:
full_name ="xyz"
age = 23
city= "delhi"
phone_number =54544543

In [56]:
# Assigning multiple values to multiple variables
full_name, age, city, phone_number = "abc", 23, "pune", 1234567890

In [58]:
print(full_name= "xys")

TypeError: 'full_name' is an invalid keyword argument for print()

In [60]:
full_name ="xyz"
    age = 23
city= "delhi"

IndentationError: unexpected indent (955263105.py, line 2)

In [59]:
full_name ="xyz"
age = 23
city= "delhi"

In [ ]:
print

In [ ]:
'5'+6

TypeError: can only concatenate str (not "int") to str

In [48]:
5+6

11

## Data Types

In [76]:
a =6. ## define variable
a

6.0

In [77]:
type(a)  ## use type function to get the type of data

float

In [ ]:
a ="6.6" 

type(a)

str

In [80]:
# type( value)
4/2

type(4/2)

float

In [82]:
4/2

2.0

In [79]:
2

2

## change the data types maually

* int(pass value or variable )
* float()
* str()
* bool()
* list(),dict(),set(),tuple()

In [81]:
int(4/2)

2

In [83]:
float(4)

4.0

In [86]:
x= 45
x
type(x)

int

In [ ]:
# change the intger to string using str() functions
str(x)

'45'

In [88]:
x

45

In [89]:
y = str(x)
y

'45'

In [90]:
type(y)

str

In [98]:
#  store multplevalue in single variable 
# 1.list
std_name = ["Rahul", "raj", "Rahul", "rohit",343,243243]
std_name

['Rahul', 'raj', 'Rahul', 'rohit', 343, 243243]

In [99]:
type(std_name)

list

In [100]:
std_name[1]

'raj'

In [104]:
type(std_name[3] )

str

In [97]:

tuple(std_name)

('Rahul', 'raj', 'Rahul', 'rohit')