### Introduction to Pandas

Pandas is a Python library used for data manipulation and analysis. Pandas provides a convenient way to analyze and clean data.

The Pandas library introduces two new data structures to Python - Series and DataFrame, both of which are built on top of NumPy.

### What is Pandas Used for?

Pandas is a powerful library generally used for:

- Data Cleaning
- Data Transformation
- Data Analysis
- Machine Learning
- Data Visualization

### Why Use Pandas?

Some of the reasons why we should use Pandas are as follows:

1. **Handle Large Data Efficiently**

   Pandas is designed for handling large datasets. It provides powerful tools that simplify tasks like data filtering, transforming, and merging.

   It also provides built-in functions to work with formats like CSV, JSON, TXT, Excel, and SQL databases.

2. **Tabular Data Representation**

   Pandas DataFrames, the primary data structure of Pandas, handle data in tabular format. This allows easy indexing, selecting, replacing, and slicing of data.

3. **Data Cleaning and Preprocessing**

   Data cleaning and preprocessing are essential steps in the data analysis pipeline, and Pandas provides powerful tools to facilitate these tasks. It has methods for handling missing values, removing duplicates, handling outliers, data normalization, etc.

4. **Time Series Functionality**

   Pandas contains an extensive set of tools for working with dates, times, and time-indexed data as it was initially developed for financial modeling.

5. **Free and Open-Source**

   Pandas follows the same principles as Python, allowing you to use and distribute Pandas for free, even for commercial use.

### Install Pandas

To install pandas, you need Python and PIP installed on your system. If you have Python and PIP installed already, you can install pandas by entering the following command in the terminal:

```bash
pip install pandas
```

If the installation completes without any errors, Pandas is now successfully installed on your system. You can start using it in your Python projects by importing the Pandas library.

### Import Pandas in Python

We can import Pandas in Python using the import statement:

```python
import pandas as pd
```

In [ ]:
# !pip install pandas

In [1]:
import  pandas

In [ ]:

#pandas>>data manipulation and data wrangling
# create Series, DataFrame ,indexing, columns, data types, assign, create new columns

# data cleaning
# drop columns,  drop rows, fill missing values, handle outliers, remove duplicates


# data transformation
# pivot, melt, groupby, sort, sortby, rank, quantile, shift,
# data merging
# join, merge, concat, append
# data analysis
# summary statistics, descriptive statistics, correlation, regression, time series analysis
# data visualization
# plot, scatter plot, bar plot, histogram, box plot, violin plot, heatmap
# data export
# to_csv, to_excel, to_json, to_pickle, to_sql



# A Pandas Series is a one-dimensional labeled array-like object that can hold data of any type.
### Labels

# The labels in the Pandas Series are 
# index numbers by default. Like in DataFrame and array, the index number in Series starts from 0.

# Create a Series and specify labels
# my_series = pd.Series(a, index = ["x", "y", "z"])

import pandas as pd
li = [34,3,534,34,23]
se = pd.Series(li)
se[2]
se[2:4]

se2 = pd.Series([12,32,243,45] , index=['a','b','c','d'])
se2["c"]
se2["c"] = 24

#  data frame
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=['a','b','c'], columns=['x','y','z'])
df
pd.DataFrame({"x":[1,2,3],"y":[4,5,6],"z":[7,8,9]})

s = pd.Series(list(df['Name'][2:5]), index = ['a', 'b', 'c'])
s
s1 = pd.Series(list(df['Name'][5:8]))
s1
s+s1 #series or dataframe doesnt work with +
s.append(s1)
type(df)

#data structure>> series, dataframe
#series> 1 dimensional in nature
#dataframe> 2 dimensional in nature , multiple series constitute to form a dataframe

df.dtypes
df.shape
df
pd.Series([2, 3, 4], index = [100, "ajay", 2])
d = pd.DataFrame(pd.Series([2, 3, 4], index = [100, "ajay", 2]))
d[1] = "Anuj"

d

In [ ]:
pd.rea

In [2]:
import pandas as pd
# load Diffrent Files
df = pd.read_csv("services.csv")
df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:567be8c7e70a068367cdedd0728bf4f98b6...
1                                         size 19104

In [ ]:

# load Diffrent Files
df = pd.read_csv("services.csv")
ex = pd.read_excel("basic_data_excel.xlsx")
ex
df
df3 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df3
df3.dtypes
df3.shape
df3.info()
df3[['Sex']]

df3.columns
df4 = df3[['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare']]
df4.to_csv("test.csv", index = False)

# pip install lxml
import lxml
url_df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
type(url_df)
len(url_df)
df4 = url_df[0]
df4
df4.head()
df4.shape
df4.info()
df4.to_csv("players.csv", index=False)

json ="https://api.github.com/repos/pandas-dev/pandas/issues"

for i in range(len(df)):
    print(df[i]['user']['node_id'])

df = pd.DataFrame(df, columns = ['user', 'timeline_url'])

# df.to_csv('json_info.csv')
#Solving the dataset

# mysql connector
import mysql.connector  
 
#Create the connection object   
myconn = mysql.connector.connect(host = "127.0.0.1", user = "root",passwd = "Azsxdcf123@" ,database = "mavenmovies")  
  
#creating the cursor object  
cur = myconn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select * from Actor")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
  
    for x in result:  
        print(x);  
except:  
    myconn.rollback()  
  
myconn.close()

### Data Explore

In [ ]:
# ================================== 
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df
df.columns
df.head()
df.tail()
df.dtypes
df.size
df.sample(1)
df.columns
list(df.columns)
df.info()
df.dtypes
df.shape
df.describe() #numerical data

type(df['id'])

# df.numeric.describe()
df.describe()
df[['PassengerId', 'Survived', 'Pclass']]
df.describe(include = 'object')
df.describe(include = 'all')
df.astype('object').describe()

df.dtypes == 'object'
df.dtypes
df.dtypes[df.dtypes == 'object'].index
df[df.dtypes[df.dtypes == 'object'].index]
df[df.columns[df.dtypes == 'object']]

df[df.dtypes[df.dtypes != 'object'].index].describe()
df[df.columns[df.dtypes != 'object']].describe()
df[df.dtypes[df.dtypes == 'object'].index].describe()


# df.numeric.describe()
df.describe()
df
# Slicing : indexing  by label or position
df[10:100:5]
pd.Categorical(df['Pclass'])
pd.Categorical(df['Cabin'])
df['Cabin'].unique()
df['Cabin'].nunique()
df['Cabin'].value_counts()
df
df.head()
# deep copy shallow copy
df3= df
df2 = df.copy()   # copy the dataframe

# Slicing name basis
df4.loc[0:4]   # row  slicing
df4.loc[0:4,"Name":"Fare"] # rows and  columns slice
df4.loc[0:4,["Name","Fare"]]

# Slicing index
df4.iloc[0:4]   # row  slicing
df4.iloc[0:4,2:6]
df4.iloc[0:4,[2,5]]

# create new cols and add into df4
df4["new col"] =0

#Access df rows #implicit index>internal/integer index and explicit index/named>>define
df[0:100]
df.iloc[0:2] #start from 0 and go to 1
df.loc[0:2] #give me the rows whose name is 0, 1, 2

#loc will go with named indexes, iloc will go with inbuilt index
df.iloc[0:2, ['Name', 'Sex', 'Age']] #it will throw an error, why?
df.loc[0:2, ['Name', 'Sex', 'Age']]

df
df.iloc[0:2, 3:6]
list(df['Name'][2:5])


df1[['name']].dropna(axis = 1) #for one column
df1.fillna("missing_value_here>lalalalalala", inplace = True)
df1

In [ ]:
# replace value example
df.loc[7, 'Duration'] = 45

# If the value is higher than 120, set it to 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120
# Delete rows where "Duration" is higher than 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

In [ ]:
# Data Cleaning
df4.duplicated()
df4.duplicated().sum()
df4.drop_duplicates()

df4.isna()
df4.isna().sum()
df4.drop(columns=["Unnamed: 0","Cabin"] ,axis=1) 
df4.drop(columns=["Unnamed: 0","Cabin"] ,axis=1,inplace=True)
df4.isnull().sum()

df.drop(1, inplace=True)
df
df.set_index('Name', inplace = True) #time series data>>you will be making date time column as index
df
df.reset_index(inplace = True)
df

# use aggrigate funtions
df4["Age"].mean()   # for replace value find mean

#  fill null age value # replace missing values with 0
df4["Age"].fillna(df4["Age"].mean(),  inplace=True)

df4.dropna(inplace=True)

# change the datatypes
df4["SibSp"].astype("float32")
# data types change
df4["SibSp"] = df4["SibSp"].astype("float32")

In [3]:


# remove duplicates based on column 'A'
df.drop_duplicates(subset=['A'], keep='first', inplace=True)

# rename columns
df.rename(columns={'A': 'Age', 'B': 'Name', 'C': 'Salary'}, inplace=True)

# remove rows with missing values
df.dropna(inplace=True)

#  How to remove columns containing only NaN values?
# check which columns contain only NaN values
columns_with_nan = df.columns[df.isnull().all()]

# drop the columns containing only NaN values
df = df.drop(columns=columns_with_nan)

KeyError: Index(['A'], dtype='object')

In [4]:
# Questions form dataset

#Q. How many passengers are less than 5 years old
df2.drop(["Unnamed: 0"], inplace=True,axis=1)
# unique value count  of age

df2['Age'].value_counts()

df['Age'] < 5
df[df['Age'] < 5]

len(df[df['Age'] < 5])

#no of passenger >18

len(df[df['Age'] > 18])

#how many passengers are less than 18 years old

len(df) - len(df[df['Age'] > 18])

len(df[df['Age'] <= 18]) #missing value in age column

#Q. How many passengers have paid less than avg fare

df['Fare'].mean()
df[df['Fare']<df['Fare'].mean()]
len(df[df['Fare'] > df['Fare'].mean()])
#How many passengers paid 0 fare
list(df[df['Fare'] == 0].Name)

#Qhow many passengers are male and female
len(df[df['Sex'] == "male"])
len(df[df['Sex'] == "female"])
df['Sex'].value_counts(normalize = True)

#Q how many passengers of class 1
df[df['Pclass'] == 1]

#How many passengers survived
df[df['Survived'] == 1]
df['Survived'].value_counts(normalize = True)

#How many females paid more than avg fare
df['Sex'] == 'female'
df['Fare'].mean()
df[(df['Sex'] == 'female') & (df['Fare'] > df['Fare'].mean())]

#Q how many passengers are male or who paid greater than avg fare >>or
#Qhow many male passenger paid more than avg >>and
df[(df['Sex'] == 'male') | (df['Fare'] > df['Fare'].mean())]

np.mean(df['Fare'])
df['Fare'].mean()
max(df['Fare'])
min(df['Fare'])

#who are the passengers who paid maximum fare
df[df['Fare'] == max(df['Fare'])]['Name']

# Q. How many passenger have parch greater than 3
# Q. How many passenger who survived paid the maximum fare
# Q. How many passengers who didnt survived was from class 1
# Q. How many passengers are children(<5 years old)

NameError: name 'df2' is not defined

In [7]:

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df
df1=df.copy()
df.groupby('Survived').mean(numeric_only=True) #for recent pandas version

          PassengerId    Pclass        Age     SibSp     Parch       Fare
Survived
0          447.016393  2.531876  30.626179  0.553734  0.329690  22.117887
1          444.368421  1.950292  28.343690  0.473684  0.464912  48.395408

In [8]:
df.groupby('Survived').sum()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Survived,,,,,,,,,,,
0,245412,1390,"Braund, Mr. Owen HarrisAllen, Mr. William Henr...",malemalemalemalemalemalemalefemalemalefemalema...,12985.50,304,181,A/5 2117137345033087717463349909A/5. 215134708...,12142.7199,E46C23 C25 C27B30C83F G73E31A5D26C110B58 B60D2...,SSQSSSSSQSSSCSSCSCSSSSSCSQCSSSCCSCSSCSSSSSCSSS...
1,151974,667,"Cumings, Mrs. John Bradley (Florence Briggs Th...",femalefemalefemalefemalefemalefemalefemalefema...,8219.67,162,159,PC 17599STON/O2. 3101282113803347742237736PP 9...,16551.2294,C85C123G6C103D56A6B78D33C52B28F33C23 C25 C27D1...,CSSSCSSSSCSQSSQCQCCCQQCSSSSCSSSSSSQSSSCSSSQSCS...

In [ ]:
df.groupby('Survived').describe()
df.groupby('Survived').aggregate([min, 'max', 'mean', 'median', 'count', 'var'])

In [ ]:
# # Sorting by column "Population"
df.sort_values(by=['Fare'], ascending=False)

:

In [18]:
import numpy as np
numeric_columns = df.select_dtypes(include=[np.number]).columns
result = df.groupby('Survived')[numeric_columns].aggregate([np.min, 'max', 'mean', 'median', 'count', 'var'])
result

C:\Users\hp\AppData\Local\Temp\ipykernel_976\1239507556.py:3: FutureWarning: The provided callable <function min at 0x000001EAB3CB9BC0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result = df.groupby('Survived')[numeric_columns].aggregate([np.min, 'max', 'mean', 'median', 'count', 'var'])

         PassengerId                                             Survived      \
                 min  max        mean median count           var      min max
Survived
0                  1  891  447.016393  455.0   549  67933.454110        0   0
1                  2  890  444.368421  439.5   342  63684.984102        1   1

                      ...     Parch                        Fare            \
         mean median  ...      mean median count       var  min       max
Survived              ...
0         0.0    0.0  ...  0.329690    0.0   549  0.677602  0.0  263.0000
1         1.0    1.0  ...  0.464912    0.0   342  0.595539  0.0  512.3292


               mean median count          var
Survived
0         22.117887   10.5   549   985.219509
1         48.395408   26.0   342  4435.160158

[2 rows x 42 columns]

In [ ]:
#Q what is the average fare paid by people who survived?
#groupby >> https://www.w3resource.com/python-exercises/pandas/groupby/index.php

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df
df1=df.copy()
df.groupby('Survived').mean(numeric_only=True) #for recent pandas version

df.groupby('Survived').mean()
df.groupby('Survived').min()
df.groupby('Survived').sum()
df.groupby('Survived').mean(numeric_only=True)
df.groupby('Survived').mean()
df.groupby('Survived').describe()
df.groupby('Survived').aggregate([min, 'max', 'mean', 'median', 'count', np.std, 'var'])

#groupby with two columns
#Q. Total people for each sex, pclass
df1.groupby(['Sex', 'Pclass'])['Survived'].sum()

#To convert the result to dataframe
df.groupby(['Sex', 'Pclass'])['Survived'].sum().to_frame()

df.groupby(['Sex', 'Pclass'])['Survived'].sum().unstack()

In [ ]:
df1 = df.groupby('Pclass').sum(numeric_only = True)
df1
df1.T
df1.transpose()

df_1 = df[['Name', 'Sex', 'Age']][0:5]
df_1
df_2 =  df[['Name', 'Sex', 'Age']][5:10]
df_2.reset_index(drop = True, inplace = True)
result = pd.concat([df_1, df_2], axis = 0)
result
pd.concat([df_1, df_2], axis = 1)

In [ ]:
# pd.concat
#apply
df['len_name'] = df['Name'].apply(len)

df
# convert dollor in rupee
def convert(x):
    return x*90

df['Fare_1'] = df['Fare'].apply(convert)

#  ============================
def create_flag(x):
    if x < 10:
        return "cheap"
    elif x >= 10 and x <20:
          return "medium"
    else:
        return "high"

df["flag_fare"] = df['Fare'].apply(create_flag)

df

df1.set_index('c', inplace = True)
df.sort_values(by = "Fare")

# # Sorting by column "Population"
df.sort_values(by=['Population'], ascending=False)
# Sorting by columns "Country" and then "Continent"
df.sort_values(by=['Country', 'Continent'])
# Sorting by columns "Country" in descending
# order and then "Continent" in ascending order
df.sort_values(by=['Country', 'Continent'],
               ascending=[False, True])

In [ ]:
#date time
df = pd.DataFrame({"date": ['2024-02-08', '2024-02-09', '2024-02-10']})
df
df.dtypes
df['updated_date'] = pd.to_datetime(df['date'])
df
df.dtypes
df['month'] = df['updated_date'].dt.month
df
df['year'] = df['updated_date'].dt.year
df
df['day'] = df['updated_date'].dt.day
df


# Convert to date:datatype
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
#make dataframe is dictionary
d = {"key1": [2, 3, 4, 5],
    "key2": [4, 5, 6, 7],
    "key3": [2, 3, 4, 5]}

d
pd.DataFrame(d)
#make dataframe is dictionary
d = {"key1": (2, 3, 4, 5),
    "key2": (4, 5, 6, 7),
    "key3": (2, 3, 4, 5)}

pd.DataFrame(d)
pd.merge(df1, df2, how = 'left')
df1
#merge
pd.merge(df1, df2, how = 'right')
pd.merge(df1, df2, how = 'left', left_on = 'key2', right_on = 'key4')

In [ ]:
# This is useful for categorizing passengers
# by age groups, which can be helpful for further analysis (e.g., checking survival rates by age group).
df['Age_Group'] = pd.cut(df['Age'], 
                         bins=[0, 12, 18, 60, 80], 
                         labels=['Child', 'Teen', 'Adult', 'Senior'])
# pd.cut() function, which segments the data into bins (ranges) and labels those
# bins with categorical names (e.g., 'Child', 'Teen', 'Adult', 'Senior') based on the values in the Age column.


# Further Analysis:
# You can now analyze data based on these groups.
df['Age_Group'].value_counts()

Here’s a detailed explanation of each of the provided data manipulation techniques in Pandas:

### 1. **Pivot the DataFrame**

The `pivot_table()` function reshapes the data by summarizing it. It allows you to group by one or more columns and calculate aggregate values (e.g., mean, sum).

#### Syntax:
```python
pivot_table = df.pivot_table(values='Fare', index='Pclass', columns='Sex', aggfunc='mean')
```

- **`values='Fare'`**: The column we want to aggregate.
- **`index='Pclass'`**: Rows will be grouped by the `Pclass` (Passenger Class) column.
- **`columns='Sex'`**: The unique values in the `Sex` column will become the columns in the resulting table (i.e., Male, Female).
- **`aggfunc='mean'`**: The aggregation function, in this case, calculates the **mean** fare for each combination of `Pclass` and `Sex`.

#### Example Output:
| Sex    | Female | Male |
|--------|--------|------|
| Pclass |        |      |
| 1      | 100.0  | 80.0 |
| 2      | 40.0   | 20.0 |
| 3      | 10.0   | 5.0  |

This gives the **mean fare** for each combination of **Passenger Class (`Pclass`)** and **Sex**.

### 2. **Melt the DataFrame (Unpivot)**

The `pd.melt()` function reshapes the DataFrame from wide format to long format (unpivot). It is useful when you want to convert multiple columns into rows.

#### Syntax:
```python
df_melted = pd.melt(df, id_vars=['Pclass'], value_vars=['Age', 'Fare'])
```

- **`id_vars=['Pclass']`**: These columns are kept intact.
- **`value_vars=['Age', 'Fare']`**: These columns will be "melted" into one single column of values, creating a long-form DataFrame.

#### Example Output:

| Pclass | variable | value |
|--------|----------|-------|
| 1      | Age      | 22    |
| 1      | Fare     | 71.0  |
| 2      | Age      | 26    |
| 2      | Fare     | 12.0  |

The new DataFrame is in a **long** format, with each row representing a single observation for `Age` or `Fare`.

### 3. **Group by 'Pclass' and Calculate Mean Fare**

The `groupby()` function groups the DataFrame by one or more columns and allows you to apply aggregation functions like `mean`, `sum`, etc.

#### Syntax:
```python
df_grouped = df.groupby('Pclass')['Fare'].mean()
```

- **`groupby('Pclass')`**: Groups the data by `Pclass` (Passenger Class).
- **`['Fare']`**: Selects the `Fare` column.
- **`.mean()`**: Calculates the **mean fare** for each group.

#### Example Output:

| Pclass | Fare  |
|--------|-------|
| 1      | 84.0  |
| 2      | 20.0  |
| 3      | 13.0  |

This shows the **mean fare** paid by passengers in each class (`Pclass`).

### 4. **Sort by 'Age' Column**

The `sort_values()` function sorts the DataFrame by one or more columns.

#### Syntax:
```python
df_sorted = df.sort_values(by='Age', ascending=False)
```

- **`by='Age'`**: Specifies the column by which to sort the DataFrame (here, `Age`).
- **`ascending=False`**: Sorts the data in **descending** order, so the oldest passengers appear first.

#### Example Output:

| Name  | Age | Fare |
|-------|-----|------|
| John  | 80  | 100  |
| Jane  | 60  | 50   |
| Mark  | 45  | 20   |

This sorts the DataFrame by **Age** in descending order, so the oldest passengers are listed first.

---

### Summary:
- **Pivot Table**: Reshapes the DataFrame by summarizing values based on rows and columns.
- **Melt**: Unpivots the DataFrame, converting wide format into long format.
- **GroupBy**: Groups the data by one or more columns and applies aggregation functions (like `mean`).
- **Sort**: Sorts the DataFrame by specified columns in either ascending or descending order.

These operations are fundamental for transforming and analyzing data in Pandas.

In [ ]:
# Step 7: Data Transformation
# Pivot the DataFrame
pivot_table = df.pivot_table(values='Fare', index='Pclass', columns='Sex', aggfunc='mean')

# Melt the DataFrame (unpivot)
df_melted = pd.melt(df, id_vars=['Pclass'], value_vars=['Age', 'Fare'])

# Group by 'Pclass' and calculate mean fare
df_grouped = df.groupby('Pclass')['Fare'].mean()

# Sort by 'Age' column
df_sorted = df.sort_values(by='Age', ascending=False)

In [ ]:
# plotting
d = pd.Series([1, 2, 8, 4, 5, 6])
d.plot()

https://pandas.pydata.org/docs/user_guide/visualization.html

pd.set_option("display.max_colwidth", 1000)