# python

In [ ]:
# numpy 
# pandas --> excel powerbi missing  values,  data cleaning, data manipulation, data analysis, data visualization
#  matplotlib/seaborn --> data visualization

In [1]:
print("hello every")

hello every one

In [3]:
input ()

'iidst'

In [6]:
#variable
age =18

In [5]:
age

18

In [7]:
xys= "iidst"

In [8]:
xys

'iidst'

In [10]:
ifs = 43

In [11]:
ifs

43

In [12]:
name = "iidst"

In [13]:
name1 = "ok"

In [14]:
name1

'ok'

In [16]:
full_name ="raj kumar"

In [17]:
full_name

'raj kumar'

In [ ]:
# variable rules
# not use any keyword
# number not use in starting
# use underscore in between

In [18]:
4

4

In [22]:
#data types

In [21]:
type('abc')

str

In [23]:

a= 4

In [24]:
# Basic datatypes 
#int 
# float
# str
# bool

4

In [ ]:
# Sequential datatypes
# list
# tuple
# dict
# set

In [25]:
list1  =[1,23,4,6,8]
list1

[1, 23, 4, 6, 8]

In [27]:
list1[1]

23

In [28]:
list1[4]  # indexing in list

8

In [29]:
list1

[1, 23, 4, 6, 8]

In [31]:
list1[1] = 2   # value assign in  list1

In [32]:
list1

[1, 2, 4, 6, 8]

In [33]:
#[1, 2, 4, 6, 8]
# 0 ,1 ,2  3, 4
# sliceing 
# list[starting index:end_index : step]
list1[0:4]

[1, 2, 4, 6]

In [35]:
a =list1[2:4]

In [36]:
a

[4, 6]

In [37]:
list1

[1, 2, 4, 6, 8]

In [38]:
ele = 8

In [41]:
for index, value in enumerate(list1):
    print(index, value)
    if  value == 8:
        list1[index] =5

0 1
1 2
2 4
3 6
4 8

In [42]:
list1

[1, 2, 4, 6, 5]

In [43]:
list2 =["raj","mukesh",12,32.093, True]
list2

['raj', 'mukesh', 12, 32.093, True]

In [44]:
list1.sort()

In [45]:
list1

[1, 2, 4, 5, 6]

In [46]:
list2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [50]:
list2.append(12) # append add value add last position

In [51]:
list2

['raj', 'mukesh', 12, 32.093, True, 500, 12]

In [53]:
list2.count("mukesh")

1

In [55]:
d =list2.copy()

In [56]:
d

['raj', 'mukesh', 12, 32.093, True, 500, 12]

In [57]:
list2[2]= 2

In [58]:
list2

['raj', 'mukesh', 2, 32.093, True, 500, 12]

In [59]:
d

['raj', 'mukesh', 12, 32.093, True, 500, 12]

In [60]:

# shallow copy
e = list2
e

['raj', 'mukesh', 2, 32.093, True, 500, 12]

In [61]:
list2[2]=12

In [62]:
list2

['raj', 'mukesh', 12, 32.093, True, 500, 12]

In [63]:
e

['raj', 'mukesh', 12, 32.093, True, 500, 12]

In [64]:
list2.extend([3,4,5,67,8,9])

In [65]:
list2

['raj', 'mukesh', 12, 32.093, True, 500, 12, 3, 4, 5, 67, 8, 9]

In [66]:
list2.append([3,4,5,67,8,9])

In [67]:
list2

['raj',
 'mukesh',
 12,
 32.093,
 True,
 500,
 12,
 3,
 4,
 5,
 67,
 8,
 9,
 [3, 4, 5, 67, 8, 9]]

In [68]:
list2.index(4)

8

In [69]:
list2.insert(1,50)

In [70]:
list2

['raj',
 50,
 'mukesh',
 12,
 32.093,
 True,
 500,
 12,
 3,
 4,
 5,
 67,
 8,
 9,
 [3, 4, 5, 67, 8, 9]]

In [71]:
list1

[1, 2, 4, 5, 6]

In [72]:
list1.pop()

6

In [73]:
list1.remove(4)

In [74]:
list1

[1, 2, 5]

In [75]:
list1.reverse()

In [76]:
list1

[5, 2, 1]

In [78]:
list1[2]=4

In [79]:
list1

[5, 2, 4]

In [85]:
tup = (1,2,3,4,4,5)

In [86]:
type(tup)

tuple

In [88]:
tup

(1, 2, 3, 4, 4, 5)

In [87]:
tup[2]

3

In [83]:
tup[2]= 4

TypeError: 'tuple' object does not support item assignment

In [84]:
tup.index(4)

3

In [89]:
# set 
set1 = {1,1, 2, 3, 4, 4, 5}
set1

{1, 2, 3, 4, 5}

In [90]:
# dict
# {key:val}

d1 = {1:"abc",2:"boy","c":"Cat"}

In [91]:
d1

{1: 'abc', 2: 'boy', 'c': 'Cat'}

In [92]:
d1[1]

'abc'

In [93]:
d1["c"]

'Cat'

In [94]:
d1.get(2)

'boy'

In [96]:
d1.keys()

dict_keys([1, 2, 'c'])

In [97]:
d1.values()

dict_values(['abc', 'boy', 'Cat'])

In [98]:
d1.items()

dict_items([(1, 'abc'), (2, 'boy'), ('c', 'Cat')])

In [99]:
d1[1] ="xyz"

In [100]:
d1

{1: 'xyz', 2: 'boy', 'c': 'Cat'}

## Conditions
The conditions for the existence of a solution to the problem of finding the maximum of a function of several

- if 
- nested if
- if else
- if elif else

In [2]:
# if condition:
#     pass

age =15
#  normal if
if age >= 18:
    print("You are an adult")

In [6]:
# nested if  statement
voter_id =False
age =19
if age >=18:
    print("You are an adult")
    if voter_id ==True:
        print("You are eligible to vote")

You are an adult

In [8]:
# if else statement
age=15
if age> 18:
    print("You are an adult")
else:
    print("you are a Teenager")

you are a Teenager

In [11]:
percentage = 65
#  if the % is >90 --> print  "A"
#  if the % is >70 and <90 --> print "B"
#  if the % is >60 and <70 --> print "C"
#  if the % is >35 and <60 --> print "D"
#  if the % is <35 --> print "F"


# #  elif-->  statement is used when there are multiple conditions to check
# if condition :
#     execute this  block of code
# elif condition:
#     execute this block of code
# elif  condition:
#     execute this block of code
# else:
#     execute this block of code if all the above conditions are false


percentage =23
if percentage > 90:
    print("Grade A")
elif percentage > 70 and percentage < 90:
    print("Grade B")
elif percentage>60 and  percentage < 70:
    print("Grade C")
elif percentage > 35 and percentage < 60:
    print("Grade D")
else:
    print("Grade fail")

Grade fail

In [13]:
list1=[2,3,4,5,6,7,8,9,0]

In [14]:
list1

[2, 3, 4, 5, 6, 7, 8, 9, 0]

In [15]:
list1[0]

2

In [16]:
list1[1]

3

In [ ]:
# loop
# for 
# while

In [ ]:
for temp in sequential_data:
    print(temp)
    # statement

for temp in range(0,10):
    statement here you print

In [23]:
for i in list1:
    print(f'i= {i}',end="  || ")
    print(f'i +1 ={i+1}') # calcualate

i= 2  || i +1 =3
i= 3  || i +1 =4
i= 4  || i +1 =5
i= 5  || i +1 =6
i= 6  || i +1 =7
i= 7  || i +1 =8
i= 8  || i +1 =9
i= 9  || i +1 =10
i= 0  || i +1 =1

In [30]:
len(list1)

9

In [33]:
for i in range(0, len(list1)):
    print(f'i= {list1[i]}',end="  || ")
    print(f'i +1 ={list1[i]+1}')

i= 2  || i +1 =3
i= 3  || i +1 =4
i= 4  || i +1 =5
i= 5  || i +1 =6
i= 6  || i +1 =7
i= 7  || i +1 =8
i= 8  || i +1 =9
i= 9  || i +1 =10
i= 0  || i +1 =1

In [34]:
sum(list1)

44

In [35]:
list1

[2, 3, 4, 5, 6, 7, 8, 9, 0]

In [37]:
#  behind the work of sum  --> looping 
total =0
for i in range(0, len(list1)):
    print(f"total before  add  {list1[i]} = {total}")

    total = total + list1[i]
    print(f"total after add  {list1[i]} = {total}")

total before  add  2 = 0
total after add  2 = 2
total before  add  3 = 2
total after add  3 = 5
total before  add  4 = 5
total after add  4 = 9
total before  add  5 = 9
total after add  5 = 14
total before  add  6 = 14
total after add  6 = 20
total before  add  7 = 20
total after add  7 = 27
total before  add  8 = 27
total after add  8 = 35
total before  add  9 = 35
total after add  9 = 44
total before  add  0 = 44
total after add  0 = 44

In [38]:
total

44

In [39]:
# restart the game  that not any fix range to restart  the game

list1

[2, 3, 4, 5, 6, 7, 8, 9, 0]

In [40]:
find =6 
i =0
# and stop the iteration 
while list1[i]!=find:
    print(list1[i])
    i=i+1
print(list1[i])

2
3
4
5
6

In [42]:
for i in list1:
    print(i)
    if  i == find:
        print("Found",6)
        break

2
3
4
5
6
Found 6

In [47]:
user ="abc"
pasword =123

for  i in range(0,3):
    user_input = input("Enter your username and password: ")
    username, password = user_input.split()
    if username == user and int(password) == pasword:
        print("Welcome back acoount login successfully" )
        break
    else:
        print("Invalid username or password")
    
    if  i == 2:
        print("You have exceeded the maximum number of attempts. Your account has been locked")

Invalid username or password
Welcome back acoount login successfully

In [49]:
user ="abc"
pasword =123

while  True:

    user_input = input("Enter your username and password: ")
    username, password = user_input.split()
    if username == user and int(password) == pasword:
        print("Welcome back acoount login successfully" )
        break
    else:
        print("Invalid username or password")
    
    if  i == 2:
        print("You have exceeded the maximum number of attempts. Your account has been locked")

Invalid username or password
Invalid username or password
Invalid username or password
Invalid username or password
Invalid username or password
Welcome back acoount login successfully

In [ ]:
while True:
    print("infinte loop")

In [53]:
# define function
def func1():
    user ="abc"
    pasword =123

    while  True:
        user_input = input("Enter your username and password: ")
        username, password = user_input.split()
        if username == user and int(password) == pasword:
            print("Welcome back acoount login successfully" )
            break
        else:
            print("Invalid username or password")
        
        if  i == 2:
            print("You have exceeded the maximum number of attempts. Your account has been locked")

In [54]:
func1()

Invalid username or password
Welcome back acoount login successfully

In [52]:
user ="abc"
pasword =123

while  True:

    user_input = input("Enter your username and password: ")
    username, password = user_input.split()
    if username == user and int(password) == pasword:
        print("Welcome back acoount login successfully" )
        break
    else:
        print("Invalid username or password")
    
    if  i == 2:
        print("You have exceeded the maximum number of attempts. Your account has been locked")

Welcome back acoount login successfully

In [55]:
func1()

Welcome back acoount login successfully

In [56]:
print()

In [ ]:
# statement