In [5]:
#  file handling
data = open("demo.txt",'r')

In [10]:
data.readline()
data.seek(0)
data.readline()

'today we learn file hendling.'

In [11]:
data.close()

In [13]:
f = open("demo.txt","w+")
f.write("Hello, world!")
f.seek(0)
f.read()

'Hello, world!'

In [14]:
f = open("demo.txt","a+")
f.write("Hello, world!")
f.seek(0)
f.read()

'today we learn file hendling.Hello, world!'

In [22]:
with open("demo.txt","a+") as file:
    file.write(" new line add ") 
    file.seek(0)
    print(file.read())

today we learn file hendling.Hello, world! new line add  new line add  new line add  new line add  new line add  new line add

In [ ]:
# user input
# write a program to check age is greater than 18 so that he can apply for a voter id
# and if he/she is name in voterlist then he is eligible for vote. 

voter_names_list = ["raj","deep","kumar", "dev"]

age = int(input("Enter your age: "))
name = input("Enter your name: ")

if age >= 18:
    print("You are eligible ")

    if name in voter_names_list:
        print("he/she can vote now")
    
else:
    print("not eligible")

You are eligible to apply for voter id.
he/she can vote now

In [ ]:
voter_names_list = ["raj","deep","kumar", "dev"]

age = int(input("Enter your age: "))
name = input("Enter your name: ")
if age >= 18:
    print("You are eligible ")

    for n in voter_names_list:
        if n==name:
            print("he/she can vote now")
else:
    print("not eligible")

You are eligible
he/she can vote now

In [ ]:
# take input from user calculate the simple interest on the amount given.
amt =2000
rate =3
time =2

In [8]:
voter_names_list.append("shahil")
voter_names_list

['raj', 'deep', 'kumar', 'dev', 'shahil']

In [5]:
# find the the even number from 1 to 100:
# using for loop
even_list =[]
for i in range(1, 101):

    if i % 2 == 0:
        # print(i)
        even_list.append(i)

In [10]:
print(len(even_list),even_list)

50 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# while 
# check conditions in loop 
name = "raj"

if name=="raj":
    print("yes")

yes

In [1]:
name = "raj"

while name=="raj":
    name = input("enter your name:")
    print("yes")

yes
yes
yes
yes

In [5]:
i =1
print("i ",i)

i =i+1
print("i+1 ",i)

i  1
i+1  2

In [6]:
i

2

In [ ]:
# find the the even number from 1 to 100: # using while loop
odd_list =[]
i = 1
while i <= 10:

    if i%2!=0:
        odd_list.append(i)
   
    i = i+1

In [11]:
input()

'4343'

In [ ]:
# Print numbers until the user enters 0
number =input("enter the number:")

while number!="0":
    number = input("enter the number:")
    print(number)

In [6]:
# Print numbers until the user enters 0
number =3

while number!=0:
    number = int(input("enter the number:"))
    print(number)

45
0

NameError: name 'voter_names_list' is not defined

In [ ]:
0

voter_names_list = ["raj","deep","kumar", "dev"]
age = int(input("Enter your age: "))
name = input("Enter your name: ")
if age >= 18:
    print("You are eligible ")
    
    n = 0
    while(n<4):
        if name== voter_names_list[n]:
            print("he/she can vote now")

        n=n+1
else:
    print("not eligible")

You are eligible
he/she can vote now

In [12]:
len(voter_names_list)

4

In [ ]:
# Exercise 9: Display numbers from -10 to -1 using for loop

In [ ]:
# Exercise 1: Print first 10 natural numbers using while loop

# Exercise 3: Calculate sum of all numbers from 1 to a given number
# Exercise 4: Print multiplication table of a given number
# Exercise 5: Display numbers from a list using a loop
# Exercise 6: Count the total number of digits in a number

In [ ]:
# Exercise 3: Calculate sum of all numbers from 1 to a given number
number = int(input("Enter the nth number: "))
i =1
sum = 0
while(i <= number):
    print(sum,i)
    sum = sum + i
    
    i = i + 1

print(f"sum of 1 to {number} natural numbers is {sum}")

In [10]:
# break the loop when the sum is 10 
number = int(input("Enter the nth number: "))
i =1
sum = 0
while(i <= number):
    print(sum,i)
    sum = sum + i
    i = i + 1

    if sum == 10:
        print("break the loop when the sum is 10")
        break

print(f"sum of 1 to {number} natural numbers sum is {sum}")

0 1
1 2
3 3
6 4
break the loop when the sum is 10
sum of 1 to 343 natural numbers sum is 10

In [ ]:
a=int(input("give your number"))
b=str(a)
print(len(b))
print(f"{a} this is the number ")

3
565 this is the number

In [ ]:
#  calucate the area of the rectangle
# calucate the area of the circle
#  Reverse a integer number  123 --> 321
#  calculate the sum of the digits of a number 123 --> 1+2+3
#  Check if the first and last numbers of a list are the same  [34,3,232,12,12,34]

In [11]:
num =123
name= "ajay"
for i in name:
    print(i)

a
j
a
y

In [ ]:
sum = 0
num =1234
for i in str(num):
    print(sum,i)
    sum = sum + int(i)

sum

0 1
1 2
3 3
6 4

10

In [18]:
str(num)[::-1]

'4321'

In [14]:
f=[23,454,232,45,23]

for temp in f:
    print(temp)

23
454
232
45
23

In [27]:
for i in range(1,10):
    
    if i == 5:
        break

    print(i)
    print("HI ")

1
HI
2
HI
3
HI
4
HI

In [ ]:
for i in range(1,10):
    
    if i == 5:
        continue

    print(i)
    print("HI ")

In [28]:
for i in range(1,10):
    
    if i == 5:
        continue

    print(i)
    print("HI ")

1
HI
2
HI
3
HI
4
HI
6
HI
7
HI
8
HI
9
HI

In [ ]:

def functions_name():
    for i in range(1,10):
        
        if i == 5:
            continue

        print(i)
        print("HI ")

In [33]:
functions_name()

1
HI
2
HI
3
HI
4
HI
6
HI
7
HI
8
HI
9
HI

In [34]:
h = 5
w = 10

print(f"area of rectangular {h*w}")

area of rectangular 50

In [ ]:
def are_of_rectangular():
    h = 5
    w = 10

    print(f"area of rectangular {h*w}")

In [36]:
are_of_rectangular()

area of rectangular 50

In [37]:
def are_of_rectangular():
    h = int(input("enter height"))
    w = int(input("enter wedith"))

    print(f"area of rectangular {h*w}")

In [38]:
are_of_rectangular()

area of rectangular 400

In [40]:
def are_of_rectangular(h,w):
    print(f"area of rectangular {h*w}")

In [41]:
are_of_rectangular(20,10)

area of rectangular 200

In [ ]:
# print the pattern 
Q1
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Q2
*
* *
* * *
* * * *
* * * * *

In [14]:
n =5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end= " ")

    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
n =5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end= " ")

    print()

*
* *
* * *
* * * *
* * * * *

In [17]:
n =5
for i in range(1,n+1):
    print(i*"* ")

*
* *
* * *
* * * *
* * * * *

In [20]:
n =5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end= " ")

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
def pattern(n):
    
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end= " ")

        print()

In [ ]:
pattern(5)

In [ ]:
pattern(10)

In [ ]:
# Define parameters 
def pattern(n ,xyz):

    for i in range(1,n+1):
        for j in range(1,i+1):
            print(xyz ,end= " ")
        print()

In [41]:
pattern(5,"^")

^
^ ^
^ ^ ^
^ ^ ^ ^
^ ^ ^ ^ ^

In [ ]:
pattern(10,"^")

In [ ]:
# default Arguments
def pattern(n=5 ,xyz="*"):

    for i in range(1,n+1):
        for j in range(1,i+1):
            print(xyz ,end= " ")
        print()

In [45]:
pattern(10,"7")

7
7 7
7 7 7
7 7 7 7
7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7 7
7 7 7 7 7 7 7 7 7
7 7 7 7 7 7 7 7 7 7

In [46]:
pattern()

*
* *
* * *
* * * *
* * * * *

In [50]:
pattern(xyz="$")

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [ ]:
# positional argunment 
pattern(7, "*")

# pattern("$",7)  --> error

In [ ]:
# referntial argument
pattern(xyz = "&", n =7)

In [61]:
# create a funtions to add 2 number  and using passing number as argument
def addpr(num1, num2):

    print(num1+num2)

addpr(3,2)

5

In [63]:
a= addpr(3,4)

7

In [68]:
a

In [65]:
def addre(num1, num2):

    return num1+num2

addre(3,2)

5

In [69]:
b = addre(3,4)

In [70]:
b

7

In [71]:
b

7

In [ ]:
# create the funtion of caluculte the area of the rectangle argument as height,width and using return
def calculate_area(height, width):
    area = height * width 
    return area

# Example
# 5,63 -->30
# 10,50 -->50
# diff area1 -area2 -->20

In [79]:
area1 = calculate_area(5,63)
area1

315

In [80]:
area2 = calculate_area(10,50)
area2

500

In [81]:
area2-area1

185

In [ ]:
# Arbitrary Arguments, *args, **kwargs

# add 2 numbers 
def addre(*xyz):

    return xyz[0]+xyz[1]

In [90]:
addre(3,2)

5

In [91]:
sum([2,3,4,5,6])

20

In [92]:
# add n numbers 
def addre(*xyz):

    return sum(xyz)

In [93]:
addre(4, 5, 6, 7, 7, 8, 8, 9)

54

In [95]:
# 'Alice', 'Bob', 'Charlie', 'David'  
# create a function to show the name of the person  which is pass in  the *args  arguments
def names(*xyz):
    return xyz

In [99]:
names('Alice', 'Bob', 'Charlie', 'David' )

Alice
Bob
Charlie
David

In [100]:
def names(*xyz):
    for i in range(len(xyz)):
        print(xyz[i])

In [101]:
names('Alice', 'Bob', 'Charlie', 'David' )

Alice
Bob
Charlie
David