17. **Filter out negative numbers from a list**  
    Given a list `[1, -2, 3, -4, 5, -6]`, write a `for` loop to filter out all negative numbers and store the positive numbers in a new list.
8. **Calculate factorial**  
   Write a program using a `while` loop that calculates the factorial of a number, say 5.

In [2]:
li1= [1,-2,3,4,5,-6]
ponum =[]
for  temp in li1:
    if temp>0:
        ponum.append(temp)

print(ponum)

[1, 3, 4, 5]

In [4]:
fact=1
number =15
i=1
while(i<=number):
    fact*=i
    print("factorial",i,"is ",fact)
    i+=1
   
print(fact)

factorial 1 is  1
factorial 2 is  2
factorial 3 is  6
factorial 4 is  24
factorial 5 is  120
factorial 6 is  720
factorial 7 is  5040
factorial 8 is  40320
factorial 9 is  362880
factorial 10 is  3628800
factorial 11 is  39916800
factorial 12 is  479001600
factorial 13 is  6227020800
factorial 14 is  87178291200
factorial 15 is  1307674368000
1307674368000

In [8]:
str1 ='Hello world'
str2 = "Python is fun"

str3 ="""line 1
lin2
line 3
"""

In [ ]:
print(str1)
print(str2)
print(str3)

In [ ]:
str1[0]
str1[0:5]

In [ ]:
for i in str1:
    print(i)

In [14]:
str1[0]="s"

TypeError: 'str' object does not support item assignment

In [16]:
str1 ="Shell World"
str1

'Shell World'

In [22]:
str1[-5:]

'World'

In [31]:
s1=1
s2=1.0

In [32]:
s1==s2

True

In [33]:
s1 is s2

False

In [34]:
str1

'Shell World'

In [35]:
"W" in str1

True

In [36]:
"w" in str1

False

In [42]:
# concatination
str1 +" | "+ str2

'Shell World | Python is fun'

In [39]:
str1.capitalize()

'Shell world'

In [40]:
str1.casefold()

'shell world'

In [41]:
str1.upper()

'SHELL WORLD'

In [49]:
str1.count("r")

1

In [50]:
len(str1)

11

In [62]:
str1

'Shell World'

In [53]:
str1.partition(" ")

('Shell', ' ', 'World')

In [59]:
str1.find("or")

7

In [61]:
str1.replace("S","H")

'Hhell World'

In [66]:
str4="  abc "
str4

'  abc '

In [68]:
str4.rstrip()

'  abc'

In [69]:
str4.strip()

'abc'

In [70]:
str4.lstrip()

'abc '

In [73]:
str2

'Python is fun'

In [74]:
str2.split(" ")

['Python', 'is', 'fun']

In [75]:
sr= str2.split(" ")

In [76]:
sr

['Python', 'is', 'fun']

In [77]:
sr.append("new word")
sr

['Python', 'is', 'fun', 'new word']

In [81]:
" ".join(sr)

'Python is fun new word'

# Dict

In [ ]:
d1={}
d2=dict()
d3={1:"a",2:"v"}

print(type(d1))
print(type(d2))
print(type(d3))
#

In [22]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

In [23]:
country_capitals["Canada"]

'Ottawa'

In [24]:
country_capitals["India"] =  "New Delhi"

country_capitals

{'Germany': 'Berlin',
 'Canada': 'Ottawa',
 'England': 'London',
 'India': 'New Delhi'}

In [25]:
country_capitals["India"] =  "Delhi"

country_capitals

{'Germany': 'Berlin',
 'Canada': 'Ottawa',
 'England': 'London',
 'India': 'Delhi'}

In [27]:
country_capitals.pop("India")

'Delhi'

In [28]:
country_capitals

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [30]:
del country_capitals["Canada"]

In [31]:
country_capitals

{'Germany': 'Berlin', 'England': 'London'}

In [32]:
for i in country_capitals:
    print(i)

Germany
England

In [34]:
country_capitals.update({"Germany":"France"})
country_capitals

{'Germany': 'France', 'England': 'London'}

In [35]:
country_capitals.update({"India":"Delhi"})
country_capitals

{'Germany': 'France', 'England': 'London', 'India': 'Delhi'}

In [36]:
country_capitals.keys()

dict_keys(['Germany', 'England', 'India'])

In [37]:
country_capitals.values()

dict_values(['France', 'London', 'Delhi'])

In [ ]:
for i,j in country_capitals.items():
    print("state",i)
    print("capital",j)

In [38]:
country_capitals.items()

dict_items([('Germany', 'France'), ('England', 'London'), ('India', 'Delhi')])

In [43]:
country_capitals.get("India")

'Delhi'

In [44]:
country_capitals.popitem()

('India', 'Delhi')

In [45]:
f= country_capitals.copy()

In [ ]:
g= country_capitals

In [55]:
f

{'Germany': 'France', 'England': 'London'}

In [56]:
g

{'Germany': 'France', 'England': 'London', 'a': 'b', 'aa': 'b'}

In [47]:
country_capitals.update({"a":"b"})

In [52]:
country_capitals.update({"aa":"b"})

In [53]:

g

{'Germany': 'France', 'England': 'London', 'a': 'b', 'aa': 'b'}

In [54]:
f

{'Germany': 'France', 'England': 'London'}

18. **Find the first occurrence of a target element**  
    Write a `for` loop to find the first occurrence of a target element, say 50, in the list `[10, 20, 30, 40, 50, 60]`. Break the loop once the element is found.

13. **Sum of each row in a 2D list**  
    Given a 2D list `[[1, 2, 3], [4, 5, 6], [7, 8, 9]]`, use a nested `for` loop to print the sum of each row.
    
18. Write a program to classify a triangle as equilateral, isosceles, or scalene using nested `if` statements.

In [8]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for l in li2:
    print(sum(l))

6
15
24

In [9]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for l in li2:
    print(l)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for l in li2:
    for j in l:
        total+=j
total

45

In [20]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for l in li2:
    total=0
    for j in l:
        total+=j
    print(total)

6
15
24

In [19]:
li2= [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for l in li2:
    print(l)
    total=0
    print(" in 1st loop total" ,total)
    for j in l:
        print(j)
        total+=j
    print(total)

[1, 2, 3]
 in 1st loop total 0
1
2
3
6
[4, 5, 6]
 in 1st loop total 0
4
5
6
15
[7, 8, 9]
 in 1st loop total 0
7
8
9
24

In [4]:
li=[34,65,78,34,87,50,34,23]
element =50
for i in range(0, len(li) ):
    if li[i] == element:
        print("Element ",li[i], " is  found at index ", i)
        break

Element  50  is  found at index  5

In [21]:
# Define the 2D list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Iterate over each row
for row in matrix:
    row_sum = 0  # Initialize sum for the current row
    # Sum the elements in the current row
    for element in row:
        row_sum += element
    # Print the sum of the current row
    print(f"Sum of row {row}: {row_sum}")

Sum of row [1, 2, 3]: 6
Sum of row [4, 5, 6]: 15
Sum of row [7, 8, 9]: 24