4. **Print the even numbers between 1 and 20**  
   Use a `while` loop to print all even numbers from 1 to 20.

In [2]:
number = 20
i=1
while(i<=number):
    if(i%2 == 0):
        print(i)
        
    i+=1

2
4
6
8
10
12
14
16
18
20

6. **Find the first multiple of 7 greater than 50**  
   Use a `while break continue` loop to find the first multiple of 7 that is greater than 50.

In [4]:
num=50
while True:
    
    if num %7 ==0:
        print(num)
        break
    num+=1

56

In [5]:
num=50
while True:
    num+=1
    if num %7 !=0:
        continue
    
    print(num)
    break

56

In [7]:
t1=(2,34,5)
t1

(2, 34, 5)

In [8]:
va =list(t1)
type(va)

list

In [11]:
va.append(45)
va

[2, 34, 5, 45, 45]

In [13]:
t1 = tuple(va)
t1

(2, 34, 5, 45, 45)

In [14]:
# set
s1= set()
s2 = set(t1)
s3={1,2,3,4,5,5,67}
s4 ={}

In [15]:
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))

<class 'set'>
<class 'set'>
<class 'set'>
<class 'dict'>

In [16]:
print(s1)
print(s2)
print(s3)
print(s3)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 67}
{1, 2, 3, 4, 5, 67}

In [17]:
s1[2]

TypeError: 'set' object is not subscriptable

In [19]:
s1={1,2,3,4,5,6}
s2={3,4,5}

In [22]:
s1.add(7)
s1.difference(s2)

{1, 2, 6, 7}

In [23]:
s1.symmetric_difference(s2)

{1, 2, 6, 7}

In [33]:
s1.update("3")
s1

{1, 2, 3, '3', 4, 5, 6, 7, '7'}

In [38]:
s1.remove("3")

KeyError: '3'

In [35]:
s1

{1, 2, 3, 4, 5, 6, 7, '7'}

In [39]:
s1.discard('3')

In [40]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, '7'}

In [41]:
s1.intersection(s2)

{3, 4, 5}

In [43]:
s3={4,6,2,9,7}
s4={1,2,4,8,10}

In [44]:
s3.intersection(s4)

{2, 4}

In [45]:
s3.union(s4)

{1, 2, 4, 6, 7, 8, 9, 10}

In [46]:
all(s1)

True

In [47]:
any(s3)

True

In [48]:
s3.add(False)

In [51]:
s3

{False, 2, 4, 6, 7, 9}

In [52]:
all(s3)

False

In [53]:
bool("sdfdfcdkujd")

True

In [54]:
bool(0)

False

In [57]:
for i in enumerate(s3):
    print(i)

(0, False)
(1, 2)
(2, 4)
(3, 6)
(4, 7)
(5, 9)

In [63]:
for i,j in enumerate(s3):
    print(i,j)

0 False
1 2
2 4
3 6
4 7
5 9

In [59]:
sorted(s2)

[3, 4, 5]

In [60]:
min(s2)

3

In [61]:
max(s2)

5

In [62]:
sum(s2)

12

## count the characters in

In [1]:
string1 ="itvedant"

len(string1)

8

In [4]:
str_list = ["abc","xyxxx","itvedant"]
# count each  string length in the list
di ={}
for i in  str_list:
    di[i]=len(i)
    print(i,len(i))

abc 3
xyxxx 5
itvedant 8

In [5]:
di

{'abc': 3, 'xyxxx': 5, 'itvedant': 8}

In [7]:
str2= ["Sdffd","avcdg","rerevfd"]
# count each  string length in the list
di ={}
for i in  str2:
    di[i]=len(i)
    print(i,len(i))

Sdffd 5
avcdg 5
rerevfd 7

In [9]:
# functions
def len_calculate(var):
    
    di ={}
    for i in  var:
        di[i]=len(i)
        print(i,len(i))

In [10]:
len_calculate(str2)

Sdffd 5
avcdg 5
rerevfd 7

In [11]:
str3=["rahul","deep","raj"]

In [13]:
len_calculate(str3)

rahul 5
deep 4
raj 3

In [14]:
#  without function to add  two numbers
num1= 34
num2= 20
print(num1+num2)

54

In [15]:
#  with function to add  two numbers
def addTwoNum():
    num1= 34
    num2= 20
    print(num1+num2)

addTwoNum()

54

In [16]:
def addTwoNum(a,b):
    num1= a
    num2= b
    print(num1+num2)

90

In [ ]:
def addTwoNum(a,b):
    print(a+b)

In [18]:
addTwoNum(37774,56)

37830

In [19]:
addTwoNum(454,8787)

9241

In [20]:
# calculate area of reactangle
def  rectangle_area(length, width):
     print(length * width)

In [21]:
rectangle_area(10,6)

60

In [22]:
def area_of_circle(r):
    result = 3.14*r*r
    print(result)

In [23]:
area_of_circle(6)

113.03999999999999

In [26]:
b =area_of_circle(6)

113.03999999999999

In [27]:
b

In [3]:
a= len("sha")
a

3

In [4]:
def area_of_circle(r):
    result = 3.14*r*r
    return result

In [6]:
b = area_of_circle(6)

In [7]:
b

113.03999999999999

In [8]:
c= area_of_circle(8)

In [9]:
c-b

87.92000000000002

In [11]:
count=0
for i in "abc":
    count += 1
    print(i)

count

a
b
c

3

In [12]:
# create function length for count string
def length(var):
    count=0
    for i in var:
        count+=1
    return count

In [13]:
length("abc")

3

In [14]:
len("Abc")

3

In [15]:
len([1,2,3,4,5])

5

In [16]:
length([1,2,3,4,5])

5

In [17]:
len(12)

TypeError: object of type 'int' has no len()

In [18]:
length(12)

TypeError: 'int' object is not iterable

In [ ]:
# create functions
# create_user(username, password)
# 2. create power on number power(n,m)
# power square (number)  square(n)

In [1]:
# create a function to check number is even or odd
def check_even_odd(num):
    if num%2==0:
        print(num,"is even")
    else:
        print(num,"is odd")

# Write a Python function to calculate the factorial of a number.
# The function accepts the number as an argument.

In [6]:
num=5
fact =1
for i in range(1,num+1):
    fact =fact*i  # fact*=i
print(5 ," factorial is ", fact)

5  factorial is  120

In [9]:
def factorial(num):
    fact =1
    for i in range(1,num+1):
        fact =fact*i  # fact*=i
    print(num ," factorial is ", fact)
    return fact

In [12]:
factorial(6)

6  factorial is  720

720

In [2]:
check_even_odd(7)

7 is odd

In [3]:
check_even_odd(19992)

19992 is even

In [19]:
a="abc"

a[::-1]

'cba'

In [25]:
for i in range(len(a)-1, -1 ,-1):
    print(a[i],end="")

cba

In [6]:
def factorial(num):
    if num == 1:
        return 1
    return factorial(num-1) *  num

In [ ]:
def factorial(num):
    fact =1
    for i in range(1,num+1):
        fact =fact*i  # fact*=i
    print(num ," factorial is ", fact)
    return fact

In [8]:
def power(a,b):
    return a**b

In [9]:
power(2,3)

8

In [10]:
x = lambda a,b : a**b

In [11]:
x(2,3)

8

In [ ]:
# program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

# Output: [4, 6, 8, 12]