In [1]:
print("hello world")

hello world

In [ ]:
# litreals
# datatypes
int
float 
string
bool

# non premetive
#  sequetial --> list, tuple, set,forozen set
#  mapping --> dict

# use define
# class

In [4]:
a =5.45
type(a)

float

In [5]:
type("hello world")

str

In [8]:
int(a)

5

In [7]:
a

5.45

In [12]:
int(input("enter a number"))

67

In [11]:
b= 6

In [13]:
a+b

11.45

In [14]:
type(b)

int

In [15]:
print(type(b))

<class 'int'>

In [16]:
a = [5,6,7,8,9]
type(a)

list

In [17]:
print(type(a))

<class 'list'>

In [18]:
a.pop()

9

In [19]:
7/2

3.5

In [20]:
7//2

3

In [21]:
7%2

1

In [22]:
a= 5

In [23]:
a =a+2
a

7

In [24]:
a +=2
a

9

In [25]:
a>b

True

In [ ]:
# Logical Operators
and or not

In [27]:
print(a,b)

9 6

In [28]:
a>b and a>10

False

In [32]:
a>b or a>10

True

In [ ]:
not(a>b and a>10)

True

In [33]:
# Identity operators
a= 5
c = 5

In [34]:
id(a)

140714731579960

In [36]:
id(c)

140714731579960

In [37]:
d ="5"

In [38]:
id(d)

140714731640320

In [39]:
a==c

True

In [42]:
a==int(d)

True

In [43]:
a is c

True

In [46]:
e = int(d)
id(e)

140714731579960

In [45]:
a is d

False

In [47]:
list2 = [4,5,6,7,8,9]

In [50]:
# 5
15 not in list2

True

In [60]:
# if  condition :
#     statement 
age = 13
if  age>=18:
    print("adult")
    age +=1
else:
    print("teenage")

age

teenage

13

In [ ]:
age =23
v_id ="Y"

if  age>=18:
    print("adult")

    if v_id =="Y":
        print("eligible")

adult
eligible

In [63]:
age =13
v_id ="N"

if  age>=18:
    print("adult")

    if v_id =="Y":
        print("eligible")

    else:
        print("not eligible")
        
else:
    print("minor")

minor

In [ ]:
# multiple if statements
mark =40
if mark>=90:
    print("A")
if mark>=75 and mark<90:
    print("B")
if mark>=60 and mark<75:
    print("C")
if mark>=45 and mark<60:
    print("D")
if mark<45:
    print("F")

F

In [ ]:
mark =91
if mark>=90:
    print("A")
if mark>=75:
    print("B")
if mark<75:
    print("c")

A
B

In [74]:
mark =76
if mark>=90:
    print("A")
elif mark>=75 :
    print("B")
else:
    print("C")

B

In [ ]:
if  age>=18:
    print("yes  ")

edu="12"
if edu =="G":
    print("Y")

In [78]:
# create a login logic 
user =input("Enter your user name: ")
password = input("Enter your password: ")
if user == "admin" and password == "1234":
    print("Login Success")
else:
    print("Invalid user name or password")

Invalid user name or password

In [ ]:
# registation  form 
#  phone number   atleat 10 digit
#  email id     @ .
#  password  8 char, 1 upper case, 1 lower case, 1 number
# user name

In [ ]:
for i in range(1,10):
    print("hii")
    print(i)

print("hello")

In [ ]:
i= 1
while (i <10):
    print("hii")
    print(i)
    i = i + 1

In [ ]:
# 3 attempt
for i in  range(1,4):
    # create a login logic 
    user =input("Enter your user name: ")
    password = input("Enter your password: ")
    if user == "admin" and password == "1234":
        print("Login Success")
        break
    else:
        print("Invalid user name or password")

    print(f"your {i} attempt used")

Invalid user name or password
your 1 attempt used
Login Success

In [90]:
# 3 attempt
check = "Y"

while (check !="N"):
    user =input("Enter your user name: ")
    password = input("Enter your password: ")
    if user == "admin" and password == "1234":
        print("Login Success")
        break
    else:
        print("Invalid user name or password")

    print(f"your {i} attempt used")

    check = input("you want to try again Press Y or press N to exit: ")

Invalid user name or password
your 2 attempt used
Login Success