In [ ]:
5

In [ ]:
# functions

In [ ]:
# print is a function to print the massage  -->
print("hello world")

# comments
Comments are hints that we add to our code to make it easier to understand. Python comments start with #. For example,

In [ ]:
# add and print 2 numbers
sum([4,5])

In [ ]:
# multi-line comments
# you write a more than 1 line comments

# also use triple quote for multilne comments // doc string

"""
it is multiline string
Here, the code runs without any errors.

We have resolved the error using a comment.
Now if you need to calculate the product in the near future, you can uncomment it.
"""

print("add multiline comments")

### Why Use Comments?
We should use comments:

For future references, as comments make our code readable.

For debugging.

For code collaboration, as comments help peer developers to understand
each other's code.

In [ ]:
# if you are using nootebook --> last line will be automatically print
4
5
56

In [ ]:
print(4)
print(5)
7
print(46)
90

In [ ]:
total = sum( [4,5,6,7])
print( total )

## Variables

In [ ]:
# rules of write variable
# 1. variable never start with number
# 2. use meaningful names as variable
# 3. if using long meaningful name use _ underscore or Camelcase
# 4. never use keywords as variables

In [ ]:
# 1. variable never start with number
1total = sum( [4,5,6,7])

In [ ]:
total1 = sum( [4,5,6,7])
print( total1 )

In [ ]:
# 2. use meaningful names as variable
dsds = sum( [4,5,6,7])
print( dsds )

In [ ]:
# 3. if using long meaningful name use _ underscore or Camelcase
total sales = sum( [4,5,6,7])

In [ ]:
total_sales = sum( [4,5,6,7])

In [ ]:
print(total_sales)

In [ ]:
# camelcase
TotalSales = sum( [4,5,6,7])

In [ ]:
# 4. never use keywords as variables
if = sum( [4,5,6,7])

In [ ]:
# Keywords
# False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

<!-- ![](https://beginnersbook.com/wp-content/uploads/2019/03/Python_keywords-1024x485.jpg) -->
![]()

## 2.Litrals

Literals are representations of fixed values in a program. They can be numbers, characters, or strings, etc. For example, 'Hello, World!', 12, 23.0, 'C', etc.

In [ ]:
name ="raj "
# here name  is variable
# and  "raj " is a  litrals (string litrals)

In [ ]:
name

In [ ]:
# none use for noting assign
name = None

In [ ]:
roll_no

# it show the nameerror -- because it not define

In [ ]:
"roll_no"

In [ ]:
roll_no =34

In [ ]:
roll_no
# how to call variable --> using variable name to call

## Python Operators

Operators in Python are special symbols or keywords that perform operations on variables and values.

In [ ]:
# 1.airthmetic operators --> +-*%/
# 2.relational / comperisional operators

# 3.Assignment Operators
# 4.logical operators
# 5.tarniary operators
# 6.bitwise
# 7.Special Operators
    # membership operator
    # Identity operators

In [ ]:
# operators
buy =100
sale =120
profit = sale - buy

sale
print(profit)
buy

In [ ]:
# divide --> return float
20/3

In [ ]:
# Floor Division --> return interger
20//3

In [ ]:
round(6.666666666666667, 2)

In [ ]:
# modulo --? %  -->return reminder
20 % 3

In [ ]:
# power --> use for get the power of value
3**4

In [ ]:
num1 = 2
num2 = 3

In [ ]:
num1 + num2

In [ ]:
print("sum of 2 number " , num1 + num2)

### relational / comperisional operators -->  ><>=,<=, == ,!=
== (Equal to)
!= (Not equal to)
> (Greater than)
< (Less than)
>= (Greater than or equal to)
<= (Less than or equal to)

In [ ]:
# = and ==
std = "raj"   # = use for value assign
print(std)

In [ ]:
# == use for compare the equality of value
"raj" =="raj"
# comperisional operators return only true or false

In [ ]:
"raj" =="Raj"
5==5
# python case sensetive

In [ ]:
# != not equal to
"raj" !="Raj"
5 !=5

In [ ]:
# < less then
5<20

In [ ]:
5<5

In [ ]:
# less equal to
5<=5

In [ ]:
# < greater then
5>20

In [ ]:
# <= greater then equal
5>=20

### 4.Python Assignment Operators

In [ ]:
# Python Assignment Operators
# single = for assign operaotrs
sales =20

In [ ]:
sales

In [ ]:
sales = 45
sales

In [ ]:
sales + 30

In [ ]:
sales

In [ ]:
# reassign in same variable
total_sales = sales +30
total_sales

In [ ]:
# reassign in same variable
sales = sales +30
sales

In [ ]:
# short forms += assign
sales += 20
# sales = sales +20

In [ ]:
sales

In [ ]:
sales =10
sales

+= (Addition Assignment): x += y is equivalent to x = x + y

-= (Subtraction Assignment): x -= y is equivalent to x = x - y

*= (Multiplication Assignment): x *= y is equivalent to x = x * y

/= (Division Assignment): x /= y is equivalent to x = x / y

%= (Modulus Assignment): x %= y is equivalent to x = x % y

**= (Exponentiation Assignment): x **= y is equivalent to
x = x ** y

//= (Floor Division Assignment): x //= y is equivalent to x = x // y

In [ ]:
sales -=2

In [ ]:
sales

In [ ]:
sales *4

In [ ]:
sales

In [ ]:
# sales = sales *4
sales *=4
sales

In [ ]:
sales

### 5. logical operators
Used to combine multiple conditional statements.
- and (Returns True if both statements are true)
- or (Returns True if at least one statement is true)
- not (Reverses the logical state of its operand)

In [ ]:
a =45
b =5
c = 2
# a greater
print(a>b)
print(a>c)

In [ ]:
a>b and a>c

In [ ]:
# not !
number =24
number /2

In [ ]:
# even
number % 2 # % modulo --> show the  remiender value

In [ ]:
number % 2 ==0

In [ ]:
# conditional statements
# if else
number =33

if number % 2 ==0:
  print("even")
else:
  print("odd")

In [ ]:
# tarniary operators
# value_if_true if condition else value_if_false
result = "Even" if number % 2 == 0 else "Odd"
print(result)

In [ ]:
# Even numbers always end with a 0 in their least significant bit (LSB), which represents the 1's place (2â°).
# Odd numbers always end with a 1
# bitwise Operators
if number & 1 == 0:
    print("Even")
else:
    print( "Odd")

In [ ]:
# Special Operators
    # Identity operators(IS)
    # membership operator(in)

In [ ]:
# Identity operators
# In Python, is and is not are used to check if two values are located at the same memory location.
a =5

In [ ]:
# id --> show the memory address of value 
id(a)

In [ ]:
b= 6

In [ ]:
id(b)

In [ ]:
# a and b are store in same memory address or not .
a is b

In [ ]:
c =5

In [ ]:
id(c)

In [ ]:
a is c

In [ ]:
a is not c

In [ ]:
# membership operator 

list1 = [2,3,4,5,6,7,8]  #[] --> list 

# check 8 is in list1 or not
8 in list1

In [ ]:
80 in list1

# Conditional Statements
1. if
2. if-if Statements
3. if-else Statements
4. if-elif-else Statements
5. nested

In [ ]:
# # if syntax

# if conditions:
#   statements
age =20

if  age>=18:
  print("Adult")
  print("hii")

print("extra")