## Loop

In programming, a loop is a control flow statement that executes a block of code repeatedly until a specified condition is met

* types of Loop
1. for
2. while

- 1. for Loop:

for loops are used for iterating(get one by one ) over a sequence (like a list, tuple, string, or range) or other iterable objects.  (fixed number of iterations)

2. while loops:
while loops execute a block of code as long as a specified condition remains True. It's crucial to ensure that the condition eventually becomes False to avoid an infinite loop.

In [ ]:
range(5)

In [ ]:
name ="xyz"
print(name)
print(name)
print(name)
print(name)
print(name)

In [ ]:
for _ in range(5):
    print(name)

In [ ]:
# 1. for loop
# Syntax
# for variable/temp in sequence/data:
#     # code block
for i in range(0,5):
  print(i)
  print("hello")
  
print("bye")

In [ ]:
for i in range(0,5):
    price = float(input('Enter you payment amount: '))

    if price >=200:
        discount = price * 0.20
        final_Price = price- discount
        print("Total Price ",price, "dicount ",discount, "After discount Price", final_Price)

    elif price>=100:
        discount = price * 0.10
        final_Price = price- discount
        print("Total Price ",price, "dicount ",discount, "After discount Price", final_Price)
    else:
        print(" You Are not eligible for Discount! Better Luck Next Time ðŸ˜‹")

In [ ]:
# data in list 
marks = [10,11,12,13,14]
for j in marks:
    print(j)

In [ ]:
# data in list 
marks = [10,11,12,13,14]
for j in marks:
    print(j+2)

In [ ]:
# data in list 
marks = [10,11,12,13,14]
for j in marks:
    print(j, j+2)
    if j==13:
        print(j,j+5)

In [ ]:
# write a 2 table 
for i in range(1,11):
    print("2 *",i, " = ",i*2)

In [ ]:
name = "shahil"
name[3]

In [ ]:
for i in name:
  print(i)

In [ ]:
# take user id and password and get login u

db_user_name ="shahil"
db_password = 123456

# now login
user = input("enter your user name: ")

if user == db_user_name:
  password = int(input("Enter your password: "))
  if password == db_password:
    print("login success")
  else:
    print("login failed")

else:
  print("login failed")

In [ ]:
# Create a login system where give only 3 Attempts for login if they give wrong user name or password

In [ ]:
for i in range (1,4):
  print("hello",i)
  print('bye')

In [ ]:
# Use break to stop loop if the login is success
db_user_name ="shahil"
db_password = 123456
for i in range(1,4):
  user = input("enter your user name: ")
  password = int(input("Enter your password:(only numbers) "))

  if user == db_user_name and password == db_password:
      print("login success")
      break
  else:
    print("login failed")

In [ ]:
# 1.Use break to stop loop if the login is success
# 2. if the user attempt 3times and faild in all attempts then lock the user account for 24hours 
db_user_name ="shahil"
db_password = 123456
for attempts in range(1,4):
    user = input("enter your user name: ")
    password = int(input("Enter your password:(only numbers) "))

    if user == db_user_name and password == db_password:
        print("login success")
        break

    else:
        print("login failed")
        if attempts==3:
            print("account is lock for 24hous")

In [ ]:
# Q.User enter the password if the username is correct
db_user_name ="shahil"
db_password = 123456

user = input("enter your user name: ")
if user == db_user_name :
    password = int(input("Enter your password:(only numbers) "))
    if password==db_password:
        print("login Succesfull ")
    
    
else:
    print("Please enter you correct user name  ")

In [ ]:
# Q.User enter the password if the username is correct
db_user_name ="shahil"
db_password = 123456

user = input("enter your user name: ")
if user == db_user_name :
    password = int(input("Enter your password:(only numbers) "))
    if password==db_password:
        print("login Succesfull ")
    else:
        print("Login Failed")
    
else:
    print("Please enter you correct user name  ")

In [ ]:
for i in range(3):
  user = input("enter your user name: ")

  if user == db_user_name:
    password = int(input("Enter your password:(only numbers) "))
    if password == db_password:
      print("login success")
      break
    else:
      print("login failed incorrect password")

  else:
    print("login failed incorrect username")

In [ ]:
# create a program to Get a number from user and check number is odd or even
num = int(input ("Enter a number "))

if num%2 ==0:
    print(num, 'is even')
else:
    print(num, "is Odd")

* pass : In Python, the pass statement is a null operation, meaning it does nothing when executed. Its primary purpose is to serve as a placeholder in situations where a statement is syntactically required but no action is desired or the code block is intentionally left empty for future implementation.

* break

In [ ]:
# some keywords use in loop
# 1. pass --> used to defind structue without write the code inside of python
# 2. break
# 3. continue

if num%2==0:


print("completed")

In [ ]:
# The pass statement in Python is a null operation; it does nothing when executed. 
# Its primary purpose is to act as a placeholder where Python syntax requires a statement,
#  but no action or code logic is intended or available yet.
if num%2==0:
    pass

print("completed")

In [ ]:
# break
for i in range(10):
  if i ==7:
    break
  print(i)

In [ ]:
# Continue
# The continue statement in Python is a control flow statement used within loops (both for and while loops) 
# to skip the current iteration and proceed to the next iteration of the loop
for i in range(10):
  print(i)
  if i ==7:
    continue
  print(i+10)
  print("hii")

In [ ]:
# print all the even number from 1 to 10.
for i in range(1,11):
    if i%2==0:
        print(i)

In [ ]:
for i in range(1,11):
    if i%2!=0:
        continue
    print(i)
# print all the number which is not divisible by 2, 3 from 1 to 20 .

In [ ]:
attempts= 3
for i in range(3):
  print("you have ", attempts,"attempts")
  user = input("enter your user name: ")

  if user == db_user_name:
    password = int(input("Enter your password:(only numbers) "))
    if password == db_password:
      print("login success")
      break
    else:
      print("login failed incorrect password")
      attempts -=1

  else:
    print("login failed incorrect username")
    attempts -=1
    print("xyz")
print("hello")

In [ ]:
for i in range(2,21,2):
  print(i)

In [ ]:
# write a code for 2 table.
for i in range(1,11):
  print("2 * ",i," = ",i*2)
# 2 * 1 =2
# 2 * 2 =4

In [ ]:
# WAP to find a given number is odd or even.
num = 5
if num %2 ==0:
  print(num, " is even")
else:
  print(num," is odd")

In [ ]:
5%2 # reminder

In [ ]:
# print all even number from 1 to  20
for i in range(2,21):
  if i %2 ==0:
    print(i, " is even")

In [ ]:
# print all odd number from 1 to  20
for i in range(2,21):
  if i %2 !=0:
    print(i, " is odd")

In [ ]:
students_name = ["raj","deepak","sumit","deep","hem"]
# print all students name
for name in students_name:
  print(name)

In [ ]:
# print only the name of student is sumit if student name print then stop the loop.
for name in students_name:
  if name == "sumit":
    print(name)
    break

  # print("h")

In [ ]:
# continue  use for esc the code after the continue logic.
for i in range(10):
  print("before contiune logic",i)
  if i == 5:
    continue
  print(i)

In [ ]:
for i in students_name:
  if i =="sumit":
    continue
  print(i)

In [ ]:
23//4

In [ ]:
# for -else code

# for item in iterable:
#     # Code to execute for each item
#     # ...
#     # if some_condition:
#     #     break  # If break is encountered, else block is skipped
# else:
#     # Code to execute if the loop completes without a 'break'
#     # ...

In [ ]:
# WAP to find number is prime or not
num = 4
for  i in range(2,num//2+1):
  print(i)
  print(num%i)
  if num %i ==0:
    print("not prime")
    break

else:
  print("prime")

In [ ]:
# find all prime number from 1 to 20.
for j in range(2,121):
  num = j
  for  i in range(2,num//2 +1):
    if num %i ==0:
      # print("not prime")
      break

  else:
    print("prime",num)

## While Loop

In [ ]:
# Syntax
# while condition:
#     # code block


# Q. take a user name and passsword from user if login failed give another chance 
# untill he/she login successfully

In [ ]:
for i in range(1,11):
  print(i)

In [ ]:
# j=1
# while j<=10: # condition
#   print(j)

In [ ]:
j =1 # start
while j<=10: # condition
  print(j)
  # j +=1  # if number use increment
  j =j+1

In [ ]:
# print the number from 10 to 1(reverse counting) using while loop
num =10
while num>=1:
  print(num)
  num -=1

In [ ]:
num =10
while True:
  print(num)
  if num==0:
    break
  num -=1

In [ ]:
# print the number from 10 to 1(reverse counting) using for loop
for i in range(10,0,-1):  #range(10,0,-1) range(start, stop, step)
  print(i)

In [ ]:
# Q .give 3attempts to user for login using while
j =1 # start
while j<=3: # condition
  print(j)

  j =j+1

In [ ]:
# Q .give 3attempts to user for login using while
attempts =1 # start
while attempts<=3: # condition
  print(attempts)

  attempts =attempts+1

In [ ]:
# Q .give 3attempts to user for login using while
# run loop in 3times --> while
db_user_name ="shahil"
db_password = 123

attampts =1
while attampts<=3:
  user = input("enter your user name: ")

  if user == db_user_name:
    password = int(input("Enter your password:(only numbers) "))
    if password == db_password:
      print("login success")
      break
    else:
      print("login failed incorrect password")
  else:
    print("login failed incorrect username")

  attampts +=1

In [ ]:
# Q .give 3attempts to user for login using while
# run loop in 3times --> while
db_user_name ="shahil"
db_password = 123

attampts =3
while attampts>0:
  print("you have only",attampts, "attampts")
  user = input("enter your user name: ")

  if user == db_user_name:
    password = int(input("Enter your password:(only numbers) "))
    if password == db_password:
      print("login success")
      break
    else:
      print("login failed incorrect password")
      attampts -=1

  else:
    print("login failed incorrect username")

  attampts -=1

In [ ]:
l = [5,6,7,8,93,45,6,178,9,0,9,3]
i =0
while(l[i]!=178):
  print([l[i]])
  i+=1

In [ ]:
db_user_name ="shahil"
db_password = 123

attampts =True
while attampts:
  user = input("enter your user name: ")
  if user == db_user_name:
    password = int(input("Enter your password:(only numbers) "))
    if password == db_password:
      print("login success")
      break
    else:
      print("login failed incorrect password")

  else:
    print("login failed incorrect username")

In [ ]:
# print the star format
# *
# * *
# * * *
# * * * *
# reverse pattern
n = 4
i = 1
while i <= n:
    print(" " * (n - i) + "*" * i)
    i += 1