In [ ]:
5

In [ ]:
# functions

In [ ]:
# print is a function to print the massage  -->
print("hello world")

# comments
Comments are hints that we add to our code to make it easier to understand. Python comments start with #. For example,

In [ ]:
# add and print 2 numbers
sum([4,5])

In [ ]:
# multi-line comments
# you write a more than 1 line comments

# also use triple quote for multilne comments // doc string

"""
it is multiline string
Here, the code runs without any errors.

We have resolved the error using a comment.
Now if you need to calculate the product in the near future, you can uncomment it.
"""

print("add multiline comments")

### Why Use Comments?
We should use comments:

For future references, as comments make our code readable.

For debugging.

For code collaboration, as comments help peer developers to understand
each other's code.

In [ ]:
# if you are using nootebook --> last line will be automatically print
4
5
56

In [ ]:
print(4)
print(5)
7
print(46)
90

In [ ]:
total = sum( [4,5,6,7])
print( total )

## Variables

In [ ]:
# rules of write variable
# 1. variable never start with number
# 2. use meaningful names as variable
# 3. if using long meaningful name use _ underscore or Camelcase
# 4. never use keywords as variables

In [ ]:
# 1. variable never start with number
1total = sum( [4,5,6,7])

In [ ]:
total1 = sum( [4,5,6,7])
print( total1 )

In [ ]:
# 2. use meaningful names as variable
dsds = sum( [4,5,6,7])
print( dsds )

In [ ]:
# 3. if using long meaningful name use _ underscore or Camelcase
total sales = sum( [4,5,6,7])

In [ ]:
total_sales = sum( [4,5,6,7])

In [ ]:
print(total_sales)

In [ ]:
# camelcase
TotalSales = sum( [4,5,6,7])

In [ ]:
# 4. never use keywords as variables
if = sum( [4,5,6,7])

In [ ]:
# Keywords
# False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

<!-- ![](https://beginnersbook.com/wp-content/uploads/2019/03/Python_keywords-1024x485.jpg) -->
![]()

## 2.Litrals

Literals are representations of fixed values in a program. They can be numbers, characters, or strings, etc. For example, 'Hello, World!', 12, 23.0, 'C', etc.

In [ ]:
name ="raj "
# here name  is variable
# and  "raj " is a  litrals (string litrals)

In [ ]:
name

In [ ]:
# none use for noting assign
name = None

In [ ]:
roll_no

# it show the nameerror -- because it not define

In [ ]:
"roll_no"

In [ ]:
roll_no =34

In [ ]:
roll_no
# how to call variable --> using variable name to call

## Python Operators

Operators in Python are special symbols or keywords that perform operations on variables and values.

In [ ]:
# 1.airthmetic operators --> +-*%/
# 2.relational / comperisional operators

# 3.Assignment Operators
# 4.logical operators
# 5.tarniary operators
# 6.bitwise
# 7.Special Operators
    # membership operator
    # Identity operators

In [ ]:
# operators
buy =100
sale =120
profit = sale - buy

sale
print(profit)
buy

In [ ]:
# divide --> return float
20/3

In [ ]:
# Floor Division --> return interger
20//3

In [ ]:
round(6.666666666666667, 2)

In [ ]:
# modulo --? %  -->return reminder
20 % 3

In [ ]:
# power --> use for get the power of value
3**4

In [ ]:
num1 = 2
num2 = 3

In [ ]:
num1 + num2

In [ ]:
print("sum of 2 number " , num1 + num2)

### relational / comperisional operators -->  ><>=,<=, == ,!=
== (Equal to)
!= (Not equal to)
> (Greater than)
< (Less than)
>= (Greater than or equal to)
<= (Less than or equal to)

In [ ]:
# = and ==
std = "raj"   # = use for value assign
print(std)

In [ ]:
# == use for compare the equality of value
"raj" =="raj"
# comperisional operators return only true or false

In [13]:
"raj" =="Raj"
5==5
# python case sensetive

True

In [14]:
# != not equal to
"raj" !="Raj"
5 !=5

False

In [15]:
# < less then
5<20

True

In [16]:
5<5

False

In [17]:
# less equal to
5<=5

True

In [18]:
# < greater then
5>20

False

In [20]:
# <= greater then equal
5>=20

False

### 4.Python Assignment Operators

In [24]:
# Python Assignment Operators
# single = for assign operaotrs
sales =20

In [25]:
sales

20

In [30]:
sales = 45
sales

45

In [31]:
sales + 30

75

In [32]:
sales

45

In [33]:
# reassign in same variable
total_sales = sales +30
total_sales

75

In [34]:
# reassign in same variable
sales = sales +30
sales

75

In [ ]:

# short form

In [ ]:
number

In [ ]:
# number = number +2
number +=2
number

In [ ]:
number -=2

In [ ]:
number

In [ ]:
# logical operators
# --> and or not

In [ ]:
n1 =22
n2 =26

n1<n2

In [ ]:
# even and small
# even
n1 % 2 ==0

In [ ]:
# smalllest number
n1<n2

In [ ]:
n1 % 2 ==0 and n1<n2

In [ ]:
# conditional statements
# if else
if n1 % 2 ==0 and n1<n2:
  print("small even",n1)
else:
  print("n2 is small",n2)

In [ ]:
# tarniary operators
# bitwise
# Special Operators
    # membership operator
    # Identity operators

In [ ]:
# Identity operators
# In Python, is and is not are used to check if two values are located at the same memory location.
a =5

In [ ]:
id(a)

In [ ]:
b= 6

In [ ]:
id(b)

In [ ]:
a is b

In [ ]:
c =5

In [ ]:
id(c)

In [ ]:
a is c

In [ ]:
a is not c

In [ ]:
# membership operator
list1 =[2,3,4,5,6,7,8]
8 in list1

In [ ]:
8 not in list1

In [ ]:
# The ternary operator in Python is a concise way to write conditional expressions.
# It allows you to evaluate a condition and return one value if the condition is true,
# and another value if the condition is false.

# syntax
# value_if_true if condition else value_if_false
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)  # Output: Adult

# Conditional Statements
1. if
2. if-if Statements
3. if-else Statements
4. if-elif-else Statements
5. nested

In [ ]:
# # if syntax

# if conditions:
#   statements
age =20

if  age>=18:
  print("Adult")
  print("hii")

print("extra")

In [ ]:
age =2

if  age>=18:
  print("Adult")
  print("hii")

print("extra")

In [ ]:
age =2

if  age>=18:
  print("Adult")

In [ ]:

if  age>=18:
  print("Adult")

if age<18:
  print("Minor")

In [ ]:
age=3
if  age>=18:
  print("Adult")

if age<18:
  print("Minor")

if age>=18:
  print("Eligible for vote")

In [ ]:
# if else --> if you have only 1 condition return eiter true or False

if  age>=18:
  print("Adult")
else:
  print("Minor")

In [ ]:
# Create a grade system using marks
# A,B,C,D ,Fail

# pass fail
marks = 34
if marks>=33:
  print("pass")
else:
  print("fail")

In [ ]:
# assign grades  --> only using multiple if
marks = 97
# 33 <fail , 33and 45 --> D , 45 and 60 -->C , 60 and 75 --->B, 75 and --> A

if  marks<33:
  print("fail")

if marks>=33  and marks<45:
  print("D")

if marks >=45 and marks<60:
  print("C")

if marks>=60 and marks<75:
  print("B")

if marks>=75:
  print("A")

In [ ]:
# if - elif- else
# assign grades  --> only using multiple
marks = 97
# 33 <fail , 33and 45 --> D , 45 and 60 -->C , 60 and 75 --->B, 75 and --> A

if  marks<33:
  print("fail")

elif marks>=33  and marks<45:
  print("D")

elif marks >=45 and marks<60:
  print("C")

elif marks>=60 and marks<75:
  print("B")

else:
  print("A")

In [ ]:
# Nested
# if age is greater than 18 and if it has a voter id print eligible for vote
age =16
voter_id ="y"

if age>=18:
  print("adult")

if voter_id=="y":
  print("eligible for vote")

In [ ]:
# if age is greater than 18 and if it has a voter id print eligible for vote
age =21
voter_id ="n"

if age>=18:
  print("adult")
  if voter_id=="y":
    print("eligible for vote")

In [ ]:
# if age is greater than 18 and if it has a voter id print eligible for vote
age =21
voter_id ="n"

if age>=18:
  print("adult")
  if voter_id=="y":
    print("eligible for vote")

  else:
    print("not eligible for vote")

In [ ]:
# if age is greater than 18 and if it has a voter id print eligible for vote
age =1
voter_id ="n"

if age>=18:
  print("adult")
  if voter_id=="y":
    print("eligible for vote")
  else:
    print("not eligible for vote")
else:
  print("minor")