In [ ]:
# account_open funtion
#  2. deposit
# 3. withdraw
# 4. show balance
amount =0
def account_open(name, ph, account_number, balance=0):
    global amount 
    amount = balance
    return name ,account_number, amount

def deposit(account_num, amt):
    global amount 
    res = amount
    amount= res+amt
    print(f"ac_no {account_num} has deposit {amt} , now Total amount is {amount}")
    return  amount

def withdraw(account_num, amt):
    global amount 
    res = amount
    amount = res-amt
    print(f"ac_no {account_num} has withdraw {amt} , now Total amount is {amount}")
    return  amount

def balance_show(account_num):
    return f" total Amount  is {amount}"

In [ ]:
customer1 = account_open("kaushal",76768686, 1234, 1000)
customer1

In [ ]:
balance_show(1234)

In [ ]:
deposit(1234,1500)

In [ ]:
withdraw(1234,1200)

In [ ]:
customer1

In [ ]:
customer2 = account_open("harsh",9675665,23456,0)
customer2

In [ ]:
deposit(23456, 5000)

In [ ]:
kausal_list=[1,2,3,4,5]
harsh_list =[5,6,7,8,8]

In [ ]:
kausal_list.append(45)

In [ ]:
kausal_list
harsh_list

In [43]:
4+5

9

In [44]:
"4"+"5"

'45'

In [46]:
print(type(kausal_list))

<class 'list'>

In [48]:
a= 5
print(type(a))

<class 'int'>

In [69]:
# syntaxx
class classname:
    # logic
    pass
# define the class --> it is a blue print of stundent
class Student:
    name =""
    roll_no =""

    def walk(self):
        print(self.name ,"student walk")

    def read(self):
        print("student read ")

def sleep(self):
    print("sleep well ")

In [70]:
# create a object
std1 = Student()

In [71]:
std1.walk()

 student walk

In [72]:
std1.name ="kaushal"

In [73]:
std1.walk()

kaushal student walk

In [61]:
std1.name

'kaushal'

In [76]:
std2 = Student()
std2.name ="harsh"

In [78]:
std2.walk()

harsh student walk

In [ ]:
li = list([4,5,6,78])
li.

In [1]:
class student:
  # attributes
  name ="None"  #class variable
  batch="D313"  #class variable

  #METHODS
  def details(self, std_id):
    self.id =std_id  # instance variable 
    print("details of students", self.id, self.name)

  def marks(self,marks):
    print(f"student name {self.name}  {self.id} ")