![](https://media.licdn.com/dms/image/v2/D4D12AQFXNiOa46y5Cw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1702621289199?e=2147483647&v=beta&t=Kd-ybrI0GqYNPIk-tCOVG9TVxFHoT-Ej0guCY5-XPLI
)

#### Python data types  (2 types)
1. primitive  (int, float ,boolean, None , string)/ inbuilt datatypes

2. non-premitive (user define datatype, )-->sequential datatype(list, tuple , set,frozenset ,dictionary )

In [ ]:
a =5 
type(a)

In [ ]:
float(a)

In [ ]:
# type conversion 
# 1. implicit type conversion (automatically type conversion) --> happens internally by python interpreter
5+5.4 # due to less data loss it convert into higher order of datatypes
# int + float --> float

In [ ]:
# 2. explicit type conversion (custom type conversion)
int(5+5.4)
# result :10

In [ ]:
# 1. String data type
# 2. List 
# 3. Tuple
# 4. Set/frozenset
# 5. Dictionary

# 1. String data types
1Ô∏è‚É£ What is a String in Python?

A string is a sequence of characters enclosed within quotes.
Python strings are:
- Immutable (cannot be changed after creation)
- Ordered
- Iterable

#### String Creates 

#### Quatoes
- 1 single -->  ' '
- 2 double --> " "
- 3 triple double quote --> ("""  """")

In [ ]:
# string 
name ='raj' # single quote
name

In [ ]:
"raj" # double quote

In [ ]:
'father's day'

In [ ]:
n2 = "father's day" # in double quotes  we use inside single quotes as a apostrophe s (')
n2

In [ ]:
paragrapgh = "the sign  left a letter or 
        letters out of a
    what something belongs to as in"

In [ ]:
# multi line string using triple quotes 
n3 =""" that you have left a letter or 
    letters out of a word as in
    what something belongs to as in"""
n3

In [ ]:
print(n3,)

In [ ]:
"""
this is also
use in comments
"""
n3

### 3Ô∏è‚É£ String Indexing
 Each character has an index (starting from 0).

In [ ]:

text = 'programme'
text[6] # 'm'

In [ ]:
# variable[start:stop:step]  --> slicing
# rog --> from text
text[1:4]

In [ ]:
# 'mm'
text[6:8]

In [ ]:
text[3:]

text[:4]

In [ ]:
text[0:9:2] 
# programme --> prorme using step value 2
text[ : :2]

In [ ]:
# Negative Indexing
# programme
# 123456789
#-9-8-7-6-5-4-3-2-1
text[-6] # 'e'
text[-9:-1:2]

text[::-1]

#### 5Ô∏è‚É£ String Immutability

In [ ]:
# 5Ô∏è‚É£ String Immutability
# strings are immutable (cannot be changed)
text[4] ='n' # TypeError: 'str' object does not support item assignment

In [ ]:
text = 'progranme'
text

### 6Ô∏è‚É£ Common String Operations

In [ ]:
# 1. String Concatenation --> combining 2 or more strings into single string
f_name = "sam"
l_name = "altman"

full_name = f_name + l_name
print(full_name)
full_name = f_name + " " + l_name
print(full_name)

In [ ]:
# multipication -->  repetations of strings
"hi " *3

In [ ]:
# üîπ Membership
print("Py" in "Python")     # True
print("oon"in "Python")  # False

In [ ]:
# Iteration  in strings 
for i in text:
    print(i)

####7Ô∏è‚É£ Built-in String Functions
1. len() Length of string
2. max() Max character
3. min() Min character
4. sorted() Sort characters

In [ ]:
print(full_name)
len(full_name) # length of string

In [ ]:
# print the number of digit in a number
print(len('12367890'))

In [ ]:
min('aegkmzA')
max('aeg$kmzA')
sorted('dbca$Z')

In [ ]:
sorted('dbca$Z',reverse=True)

#### 8Ô∏è‚É£ Important String Methods

In [ ]:
# üîπ Case Conversion
s = "Python"

print(s.upper())     # PYTHON
print(s.lower())     # python
print(s.title())     # Python
print(s.capitalize())# Python

In [ ]:
# actual types call pass value in bracket
s = "Python"
str.

In [ ]:
name ="python programmingp python"
name.title() # 1st letter of each word capital
name.capitalize() # only 1st letter of 1st word capital
name.count('p') # count of p in string
name.find('g') # first occurrence of g

In [ ]:
# find 
name.find('z') # -1 if not found
# replace 
name.replace('p', 'r') # replace all occurrences of 'p' with 'P'
name.replace('python', 'java',1) # replace only 1st occurrence of 'p' with 'r'
name.replace('python', 'java') # replace all 

# len
len(name)
# concat 
name + " is great"
# strip
name ='  python pro   '
print(name)
name.strip() # remove leading and trailing spaces
# lstrip
name.lstrip() # remove leading spaces
# rstrip
name.rstrip() # remove trailing spaces
# split
sent = "Python is-great-programming language"
words = sent.split('-') # default split by space
print(words)

sent = "Python is great programming language"
words = sent.split() # default split by space

In [ ]:
# join
words =['Python', 'is', 'great', 'programming', 'language']
print(words)
' '.join(words) # join list of words into single string with space separator
# '-'.join(words) # join list of words into single string with - separator

Here‚Äôs a **comprehensive list of common Python string methods** with **definition** and **example** so you can easily teach or revise them.

---

## **üîπ Python String Methods ‚Äî Definitions & Examples**

### 1. **`upper()`**

**Definition:** Returns a new string with all characters converted to uppercase.

```python
text = "hello world"
print(text.upper())  
# Output: HELLO WORLD
```

---

### 2. **`lower()`**

**Definition:** Returns a new string with all characters converted to lowercase.

```python
text = "HELLO WORLD"
print(text.lower())  
# Output: hello world
```

---

### 3. **`title()`**

**Definition:** Returns a new string where the first letter of each word is capitalized.

```python
text = "python programming"
print(text.title())  
# Output: Python Programming
```

---

### 4. **`capitalize()`**

**Definition:** Capitalizes the first character of the string and makes the rest lowercase.

```python
text = "hello world"
print(text.capitalize())  
# Output: Hello world
```

---

### 5. **`strip()`**

**Definition:** Removes leading and trailing spaces (or specified characters).

```python
text = "   hello world   "
print(text.strip())  
# Output: hello world
```

---

### 6. **`lstrip()`**

**Definition:** Removes spaces (or specified characters) from the left side.

```python
text = "   hello"
print(text.lstrip())  
# Output: hello
```

---

### 7. **`rstrip()`**

**Definition:** Removes spaces (or specified characters) from the right side.

```python
text = "hello   "
print(text.rstrip())  
# Output: hello
```

---

### 8. **`replace()`**

**Definition:** Replaces all occurrences of a substring with another string.

```python
text = "I love Java"
print(text.replace("Java", "Python"))  
# Output: I love Python
```

---

### 9. **`split()`**

**Definition:** Splits the string into a list based on a separator.

```python
text = "apple,banana,cherry"
print(text.split(","))  
# Output: ['apple', 'banana', 'cherry']
```

---

### 10. **`join()`**

**Definition:** Joins elements of an iterable into a single string with a separator.

```python
words = ["I", "love", "Python"]
print(" ".join(words))  
# Output: I love Python
```

---

### 11. **`find()`**

**Definition:** Returns the index of the first occurrence of a substring (or `-1` if not found).

```python
text = "I love Python"
print(text.find("Python"))  
# Output: 7
```

---

### 12. **`index()`**

**Definition:** Similar to `find()`, but raises an error if the substring is not found.

```python
text = "I love Python"
print(text.index("Python"))  
# Output: 7
```

---

### 13. **`count()`**

**Definition:** Returns the number of times a substring appears in the string.

```python
text = "banana"
print(text.count("a"))  
# Output: 3
```

---

### 14. **`startswith()`**

**Definition:** Checks if the string starts with the given substring.

```python
text = "Python is great"
print(text.startswith("Python"))  
# Output: True
```

---

### 15. **`endswith()`**

**Definition:** Checks if the string ends with the given substring.

```python
text = "Python is great"
print(text.endswith("great"))  
# Output: True
```

---

### 16. **`isalpha()`**

**Definition:** Returns `True` if all characters are alphabets (A‚ÄìZ).

```python
text = "Hello"
print(text.isalpha())  
# Output: True
```

---

### 17. **`isdigit()`**

**Definition:** Returns `True` if all characters are digits.

```python
text = "12345"
print(text.isdigit())  
# Output: True
```

---

### 18. **`isalnum()`**

**Definition:** Returns `True` if all characters are alphanumeric (letters and numbers).

```python
text = "Python3"
print(text.isalnum())  
# Output: True
```

---

### 19. **`isspace()`**

**Definition:** Returns `True` if the string contains only whitespace characters.

```python
text = "   "
print(text.isspace())  
# Output: True
```

---

### 20. **`swapcase()`**

**Definition:** Swaps the case of each letter (uppercase ‚Üí lowercase, lowercase ‚Üí uppercase).

```python
text = "PyThOn"
print(text.swapcase())  
# Output: pYtHoN
```

---

## String format

In [ ]:
# Printing multiple values without formatting
full_name = "Sam Altman"
print("My name is ", full_name) # format of string in print functions

In [ ]:
# 1.normal string format
f_name = "Sam"
l_name = "Altman"
print("my first name is ", f_name, "and last name is ", l_name)

In [ ]:
# 2. format methods 
print("my first name is {} and last name is {}".format(f_name, l_name))

In [ ]:
# 3.f-strings (Recommended, Python 3.6+)
print(f"my first name is {f_name} and last name is {l_name}")

In [ ]:
#4.Using % formatting
age =23
print("My full name is %s and I am %d years old" % (full_name, age))

In [ ]:
# Using % formatting
age =23
print("My full name is %s and I am %.2f years old" % (full_name, age))

In Python, the **`print()` function has several important arguments** that control how output appears.

---

## üîπ `print()` Syntax

```python
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
```

---

## üîë Important Arguments Explained

### 1Ô∏è‚É£ **`objects`**

The values you want to print.

```python
print("Hello", 10, 3.5)
```

---

### 2Ô∏è‚É£ **`sep` (separator)**

Defines what goes **between** multiple values.

```python
print("A", "B", "C", sep=", ")
```

**Output:**

```
A, B, C
```

---

### 3Ô∏è‚É£ **`end`**

Defines what is printed **at the end** (default is a newline).

```python
print("Hello", end=" ")
print("World")
```

**Output:**

```
Hello World
```

---

### 4Ô∏è‚É£ **`file`**

Specifies where to print the output (default is the screen).

```python
with open("output.txt", "w") as f:
    print("Hello file", file=f)
```

---

### 5Ô∏è‚É£ **`flush`**

Forces the output buffer to flush immediately.

```python
print("Loading...", flush=True)
```

Useful for real-time logs or progress updates.

---

## üìå Common Examples

### Print without newline

```python
print("Hello", end="")
print("World")
```

### Custom separator

```python
print(1, 2, 3, 4, sep=" | ")
```

---

## ‚úÖ Most Used Arguments

| Argument | Purpose                  |
| -------- | ------------------------ |
| `sep`    | Separator between values |
| `end`    | Line ending              |
| `file`   | Output destination       |
| `flush`  | Immediate output         |

---

In [ ]:
# üîπ Beginner Level
# 1. Reverse a String
# 2. Check for Palindrome
# 4. Count Vowels in a String
# 5. Find Max and Min in a List

# 6. Two Sum Problem
# 8. Check for Anagrams
# 9. Find First Non-Repeating Character

# 11. Longest Substring Without Repeating Characters
# 12. Anagrams
# 14. Validate Parentheses