## List
1. Introduction to Lists
A list in Python is a collection of items that can store different types of data (integers, strings, floats, etc.) and is ordered and mutable (can be changed).

- ✅ Lists are defined using square brackets [ ].
-
✅ Items are separated by commas.
* Example:
```
my_list = [1, 2, 3, "apple", 4.5]
print(my_list)  # [1, 2, 3, 'apple', 4.5]
```

In [ ]:
# Key Characteristics of Python Lists
# 1.order ,hetrogenous ,mutable,allow duplicate,indexed, dynamic size

In [ ]:
# sequetical datatype (list ,tuple, set , dictionary) 
# create ,update, read,delete(CURD opertions)

# Way to create a List
# 1. empty list
list1 = [] # square brackets use for list --> empty list
print(list1)

# 2.  # initialization with value
list2 =[34,6,52,3]
print(list2)

# 3. using list() function
list3 = list() 
print(list3)

 # 4.using list functions with other datatypes
list4 = list({3,4,5,6})
print(list4)

In [ ]:
# Key Characteristics of Python Lists
# 1.order 
list2[2]  # accessing element by index /

# 2.hetrogenous
list5 =[34,5.6,"hello",True,3+4j]
type(list5)

type(list5[4])
# 3.mutable/ changeable 
list5[1] = 9.8
print(list5)
# 4.allow duplicate
list6 =[3,4,5,3,4,5,6,7,8,3]
print(list6)
# 5.dynamic size
list6.append(99)
print(list6)

In [ ]:
sum([4,5,6,7])

#### list methods

In [ ]:
# methods are call using .(dot) after variable name
# 1.append 2. extend, 3.insert , 4.remove,5.pop, 6.clear, 7.index, count,sort ,reverse,copy
# 1. append(element): Adds a single element to the end of the list.
students_details =['ram',"raj",'deep']
students_details

In [ ]:
# new_students add 
students_details.append("raja")

In [ ]:
students_details

In [ ]:
std=['rohan','ramu','jhon']

In [ ]:
students_details.append(std)  # it add all value as list not individual element
students_details

In [ ]:
students_details[3]

In [ ]:
students_details[4]

In [ ]:
s =students_details[4]
s[1]

In [ ]:
students_details[4][1]

In [ ]:
# extend(iterable): Adds all elements from an iterable (like another list, tuple, or string) 
# to the end of the current list.
students_details.extend(["asad",'rohit','krishna'])
students_details

In [ ]:
students_details

In [ ]:
# insert(index, element): Inserts an element at a specified index within the list.
students_details.insert(3,'shahil')
students_details

In [ ]:
# update  = using assign new value 
students_details[1] = 'jhon'

In [ ]:
students_details

In [ ]:
# pop 
students_details.pop() # default delete last value  and print

In [ ]:
students_details.pop(3) # also delete value using index number

In [ ]:
# remove --> delete the data from list using value
students_details.remove('raja')

In [ ]:
students_details

In [ ]:
# index(value):
# returns the index of the first occurrence of a specified value
students_details.index("jhon")

In [ ]:
students_details.append("jhon")

In [ ]:
# count(value): Returns the number of times a specified value appears in the list. 
students_details.count('jhon')

In [ ]:
students_details

In [ ]:
students_details

In [ ]:
# sort(key=None, reverse=False): Sorts the elements of the list in place.
students_details.sort()
students_details

In [ ]:
students_details.sort(reverse=True)
students_details

In [ ]:
students_details.append(5)

In [ ]:
# when we have mixed datatype in list then we can not use sort function
# it will give error
students_details.sort()
students_details

In [ ]:
students_details

In [ ]:
# reverse(): Reverses the order of the elements in the list in place
students_details.reverse()
students_details

In [ ]:
# :a shallow copy of the list. Modifications to the new list and also affect the original
a= students_details
a

In [ ]:
a[2]='raj'
a

In [ ]:
students_details

In [ ]:
# deep copy(): Returns a copy of the list in new memory.
#  Modifications to the new list will not affect the original
c= students_details.copy()
c

In [91]:
c[1]='raja'
c

['deep', 'raja', 'raj', 'ram', 5]

In [92]:
students_details

['deep', 'jhon', 'raj', 'ram', 5]

In [93]:
# clear(): Removes all elements from the list, making it empty.
students_details.clear()
students_details

[]

In [ ]:
# delete variable
del students_details

In [ ]:
students_details

In [ ]:
# -ve indexing --> start the index number from last 
c[-3]

In [ ]:
# slicing  --> take a some part of data from whole data
# synatx --> variable[start: End: step]
c[1 : 6] # raj to ram

In [ ]:
c[ :: 3]

In [ ]:
c[0:5: 2]

In [ ]:
c[0:8:2]

In [ ]:
c[2:]

In [ ]:
c[ :5 ]

In [ ]:
num ='342'
num[::-1]

# data type change
int(num)

In [ ]:
# . Counting Consonants in a Given Word
# word = "programming"
 
# Finding the Maximum Number in a List
numberList = [15, 85, 35, 89, 125]
print(max(numberList))

# 22. Checking for Palindrome Using Extended Slicing Technique
str1 = "kayaka"
s2 =str1[::-1]

if str1==s2:
    print("palandrome")
else:
    print("not a palandrome")

In [ ]:
# find all prime number from 1 to 100 and store in list.
all_prime=[]
for i in range(1,101):
  # check number is prime or not
  num =i
  count =0
  for i in range(1,num+1):
    if num%i==0:
      count+=1

  # print(count)

  if count==2:
    # print("prime")
    all_prime.append(i)

  else:
    pass
    # print("not prime")