## List
1. Introduction to Lists
A list in Python is a collection of items that can store different types of data (integers, strings, floats, etc.) and is ordered and mutable (can be changed).

- ✅ Lists are defined using square brackets [ ].
-
✅ Items are separated by commas.
* Example:
```
my_list = [1, 2, 3, "apple", 4.5]
print(my_list)  # [1, 2, 3, 'apple', 4.5]
```

In [ ]:
# sequetical datatype (list ,tuple, set , dictionary) 
# create ,update, read,delete(CURD opertions)
# List create
# 1. emety list
list1 = []
print(list1)

list2 =[34,6,52,3] # initialization with value
print(list2)
list3 = list() # using list functions 
print(list3)
list4 = list({3,4,5,6}) # using list functions with other datatypes
print(list4)

In [ ]:
# list methods
# methods are call using .(dot) after variable name
# 1.append 2. extend, 3.insert , 4.remove,5.pop, 6.clear, 7.index, count,sort ,reverse,copy
# 1. append(element): Adds a single element to the end of the list.
students_details =['ram',"raj",'deep']
students_details

In [ ]:
# new_students add 
students_details.append("raja")

In [ ]:
students_details.append(["rohan",'ramu','jhon'])

In [ ]:
s= students_details[4]
s

In [ ]:
s[1]

In [ ]:
students_details[4][1]

In [ ]:
# extend(iterable): Adds all elements from an iterable (like another list, tuple, or string) to the end of the current list.
students_details.extend(["ro",'ra','jh'])
students_details

In [ ]:
students_details

In [ ]:
# insert(index, element): Inserts an element at a specified index within the list.
students_details.insert(3,'shahil')
students_details

In [ ]:
# update  = using assign new value 
students_details[1] = 'jhon'

In [ ]:
students_details

In [ ]:
# pop 
students_details.pop() # last value

In [ ]:
students_details.pop(3) # also delete value using index number

In [ ]:
# remove
students_details.remove('raja')

In [ ]:
students_details.append('jhon')

In [ ]:
# index
# returns the index of the first occurrence of a specified value
students_details.index("jhon")

# count(value): Returns the number of times a specified value appears in the list. 
students_details.count('jhon')

In [ ]:
students_details.pop(4)

In [ ]:
# sort(key=None, reverse=False): Sorts the elements of the list in place.
students_details.sort(reverse=False)
students_details

In [ ]:
# reverse(): Reverses the order of the elements in the list in place
students_details.reverse()
students_details

In [ ]:
# copy(): Returns a shallow copy of the list. Modifications to the new list will not affect the original
a= students_details
a
c= students_details.copy()
c

In [ ]:
a[1]='ramu'
a

In [ ]:
c[1]='raj'
c

In [ ]:
students_details

In [ ]:
# clear(): Removes all elements from the list, making it empty.
students_details.clear()
students_details

In [ ]:
# delete variable
del students_details

In [ ]:
students_details

In [ ]:
# -ve indexing --> start the index number from last 
c[-3]

In [ ]:
# slicing  --> take a some part of data from whole data
# synatx --> variable[start: End: step]
c[1 : 6] # raj to ram

In [ ]:
c[ :: 3]

['deep', 'jhon', 'ro']

In [ ]:
c[0:5: 2]

In [ ]:
c[0:8:2]

In [ ]:
c[2:]

In [ ]:
c[ :5 ]

In [ ]:
num ='342'
num[::-1]

# data type change
int(num)

342

In [103]:
# . Counting Consonants in a Given Word
# word = "programming"
 
# Finding the Maximum Number in a List
numberList = [15, 85, 35, 89, 125]
print(max(numberList))

# 22. Checking for Palindrome Using Extended Slicing Technique
str1 = "kayaka"
s2 =str1[::-1]

if str1==s2:
    print("palandrome")
else:
    print("not a palandrome")

125
not a palandrome

In [ ]:
# find all prime number from 1 to 100 and store in list.
all_prime=[]
for i in range(1,101):
  # check number is prime or not
  num =i
  count =0
  for i in range(1,num+1):
    if num%i==0:
      count+=1

  # print(count)

  if count==2:
    # print("prime")
    all_prime.append(i)

  else:
    pass
    # print("not prime")