## Set
A Python set is an unordered collection of unique and mutable items. This means:

- Unordered: Elements within a set do not maintain a specific order. The order in which elements are added is not necessarily the order in which they are stored or retrieved.
- Unique: Sets automatically handle and remove duplicate values; each element in a set must be distinct.
- Mutable: You can add or remove elements from a set after it has been created.

#### Create a Set

In [ ]:
# 1.Using curly braces
set1 = {1, 2, 3, 4}
set1
print(type(set1))

In [ ]:
#2.Using the set() constructor with an iterable
data = [5, 6, 7, 8]  # in list 
set2 = set(data)
set2

In [ ]:
# 3. use set() for empty set
set()

In [ ]:
set2[2]
# set not support indexing  --> set' object is not subscriptable

In [ ]:
# Accessing Elements in Sets
# Sets do not support indexing
# Iterating through a set using for loop
# set2[3]
for i in set2:
  print(i)

## Methods in set

In [ ]:
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8}

In [ ]:
# CURD
# new data add
s1.add(34)

In [ ]:
s1

In [ ]:
s2

In [ ]:
# update
# add multiple value from list/tuple/set
s1.update(s2)
s1

In [ ]:
# pop --> remove random value
s1.pop()

In [ ]:
# remove --> remove specific value from set
s1.remove(5)

In [ ]:
# discard --> remove specific value from set  if value does not exist in set it not show error
s1.discard(8)
s1

In [ ]:
# clear
s1.clear()
s1

In [ ]:
s1

In [ ]:
# for permanenent delete the variable
del s1

In [ ]:
s1

In [ ]:
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8}

## maths funcions in sets

In [ ]:
# union
# intersections
# difference
# symmatric difference

In [ ]:
# 1. union --> combine all data in one (full join)
uni = s1.union(s2)
print("union is ",uni)

In [ ]:
# intersections --Common between two sets
inter = s1.intersection(s2) # inner join (common Values)
print('intersetions is ',inter)

In [ ]:
# difference -->only show the 1st set value which is not common or not in set 2
diff = s1.difference(s2)
print('difference is s1 to s2', diff)

In [ ]:
# symmatric diffrence -- show  all except common elements
sym = s1.symmetric_difference(s2)
print("symmetric_difference",sym)

In [ ]:
inter

In [ ]:
diff

In [ ]:
left_join = inter.union( diff)
left_join

In [ ]:
s1.intersection(s2) | s1.difference(s2)  # use as a left join 
# set operators
# intersection_result = s1 & s2
# difference_result = s1 - s2
# combined_result = intersection_result | difference_result

In [ ]:
# create aprogram a amstrong number
# 153
number = 2525
n2 =number
final =0
power= len(str(number))
for i in range(power):
    print('number ', number)
    r= number % 10
    print('r',r)
    final = final+ r**power
    print('final ',final)
    number = number//10
    print('==================')

if n2==final:
    print("armstrong number",n2, final)
else:
    print("Not a armstrong number",n2, final)

- isdisjoint(other_set): Returns True if the set has no elements in common with other_set, False otherwise.

- issubset(other_set): Returns True if all elements of the calling set are present in other_set, False otherwise.

- issuperset(other_set): Returns True if all elements of other_set are present in the calling set, False otherwise.

In [ ]:
s2

In [ ]:
s7={4,5}
s7.issubset(s2)

In [ ]:
s8={10,5}
s8.isdisjoint(s2)

In [ ]:
# Q.
# we have 2 warehouse  like
s1={"laptop","printer","mouse"}
s2={"wires","keyboard","mouse", "printer","pc"}

#Q. which product is available in both warehouse.
#Q. which product is not  available in both warehouse.

# Q. which product is not available in  warehouse s1 based on s2.
# Q.which product is in warehouse s2.

In [ ]:
#Q which product is not available in both warehouse.
s1.symmetric_difference(s2)

# which product is available in both warehouse
print(s1.intersection(s2))
# which product is not available in  warehouse 1.
print(f"in warehouse 1 not available products are {s2.difference(s1)}")
# which product is in warehouse s2.
print(s2)

### Frozenset

In [ ]:
f1 = frozenset(s1)  # make the variable as a immutable variable in set .
f1

In [ ]:
f1.add(45)

In [ ]:
s1.add(8)

In [24]:
s1

{1, 2, 3, 4, 5, 8}