## Tuple

A tuple in Python is an ordered collection of elements that is immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

Key characteristics of Python tuples:
- Ordered:
- Immutable:
- Heterogeneous:

### Creating and Accessing Tuples

In [ ]:
# Defining tuples using parentheses ()
# 1.An empty tuple
t = ()
type(t)

In [ ]:
# 2.A tuple with mixed data types
my_tuple = ("apple", 10, 3.14, True)  #hetrogenious

In [ ]:
# 3.crate tuple from others sequatial data types
languages =["a","b","c"]
t1 = tuple(languages)

# 4.using comma create tuple
t2 = 2,
print(type(t2))
# 5.create empty tuple using  tuple functions
t3 = tuple()

In [ ]:
type(t)

#### Accessing elements using indexing & slicing

In [ ]:
#  2.indexing possible if data in order
# indexing /
my_tuple[2]

In [ ]:
my_tuple[2] =6 # 3.immutable/ not changable

In [ ]:
# slicing
my_tuple[1:3]

### Tuple Operations

In [ ]:
# Concatenation (+)
t1+t2 # combine two  tuples

In [ ]:
# repetition (*)
t1*3

In [ ]:
# Membership testing (in, not in)
"a" in t1

In [ ]:
# Iterating through tuples
for i in t1:
  print(i)

### Methods

In [ ]:
t1.index

In [ ]:
t1.count("a") # a  how many times reapeat

names.index("c") # a index

# in built methods
min(names)
max(names)
len(names)

# methods
languages.count('Python')
languages.index("C++")

# inbuilt functions
min(languages)
max(languages)
len(languages)

# len(tuple): Returns the total length of the tuple.
# max(tuple): Returns the item from the tuple with the maximum value.
# min(tuple): Returns the item from the tuple with the minimum value.
# sum(tuple): Returns the sum of all numeric elements in the tuple.
# sorted(tuple): Returns a new sorted list of elements from the tuple, leaving the

In [ ]:
min(my_tuple) # mix datatype so comparision  not possible

In [ ]:
# Immutability of Tuples
t1 = (1, 2, 3)
t1[0] = 10  # This will raise a TypeError

In [ ]:
# if tuple is immutable but it require to change some data
roll_no =(1,2,3,5)
# update --> by using change data type
roll_no = list(roll_no)

roll_no.index(5)
roll_no[3]=4

roll_no = tuple(roll_no)
roll_no

#### Packing and Unpacking Tuples

In [ ]:
# Packing multiple values into a single tuple
my_data = 10, "hello", True

print(my_data)
print(type(my_data))

In [ ]:
t1

In [ ]:
# unpacking
x,y,z =t1
print(y,z,x)

In [ ]:
x,_,z = my_data # if you want to blank any value

In [ ]:
x,*z = my_data # store multiple values in 1 variavble after unpacking using *

In [ ]:
z

In [ ]:
# indivisual assignments
a=2
b =4
c =5
# Multiple assignments
a,b,c = 2,4,5