## Tuple

A tuple in Python is an ordered collection of elements that is immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

Key characteristics of Python tuples:
- Ordered:
- Immutable:
- Heterogeneous:

### Creating and Accessing Tuples

In [ ]:
# Defining tuples using parentheses ()/round bracket
# 1.An empty tuple
t = ()
type(t)

In [ ]:
# 2.A tuple with mixed data types
my_tuple = ("apple", 10, 3.14, True)  #hetrogenious

In [ ]:
# 3.crate tuple from others sequatial data types
languages =["a","b","c"]
t1 = tuple(languages)

# 4.using comma create tuple
t2 = 2,

print(type(t2))
# 5.create empty tuple using  tuple functions
t3 = tuple()

In [ ]:
type(t)

#### Accessing elements using indexing & slicing

In [ ]:
#  2.indexing possible if data in order
# indexing / 
my_tuple[2]

In [ ]:
# can we reassign 
my_tuple[2] =6 # 3.immutable/ not changable

In [ ]:
# slicing[start : end: step]
my_tuple[1:3]

### Tuple Operations

In [ ]:
# (+) normal add only int/float
# Concatenation (+) if string do 
t1+t2 # combine two  tuples

In [ ]:
# repetition (*)
t1*3

In [ ]:
# Membership testing (in, not in)
"a" in t1

In [ ]:
# Iterating through tuples
for i in t1:
  print(i)

### Tuple Methods

In [ ]:
t1.count("a") # a  how many times reapeat

In [ ]:
t1.index('c') # it get a value and return the index number

In [ ]:
# inbuilt functions 
min(t1) # mix datatype so comparision  not possible
max(t1)
sum(t1) # mix datatype so comparision  not possible

In [ ]:
t1

#### Packing and Unpacking Tuples

In [ ]:
# indivisual assignments
a=2
b =4
c =5
# Multiple assignments
a,b,c = 2,4,5

In [ ]:
# Packing --> multiple values into a single tuple variable 
my_data = 10, "hello", True  # use comma also create tuple
print(my_data)

In [ ]:
print(type(my_data))

In [ ]:
# unpacking --> multiple values store in multiple variables .
x,y,z =my_data
x

In [ ]:
print(y,z,x)

In [ ]:
m,n = my_data

In [ ]:
m,_,n= my_data # use underscore as a blank variable 
# if you want to blank any value
_

3

In [ ]:
for _ in range(10):
    print('helllo')

In [ ]:
v, *a= 'sds','dsd','dsdsd'

In [ ]:
a

In [70]:
x,*z = my_data # store multiple values in 1 variavble after unpacking using *

In [71]:
z

['hello', True]

In [ ]:
# 2️⃣ Advantages of Tuple in Python
# 1. data safty
# 2. Faster than List
# 3. Data Integrity (Read-Only Data)
# 4. Better for Heterogeneous Data