In [4]:
a = "com1"

In [5]:
a

'com1'

In [3]:
print(a)

com1

In [10]:
# b in a integer number 
b =5
b
a

'com1'

In [13]:
True

True

In [15]:
c =None

In [18]:
abv12 ="dsdsd"

In [19]:
abv12

'dsdsd'

In [20]:
company_name = "apple"

In [25]:
Company_name

NameError: name 'Company_name' is not defined

In [26]:
FIX =4

In [27]:
fix =4

In [28]:
sdsd= "SDsd"

In [30]:
class_ ="sha"

### Data Types

In [1]:
a =5

In [2]:
type(a)

int

In [3]:
a =5.34
type(a)

float

In [8]:
name = "deep", "Dwe" , "ere"
type(name)

tuple

In [27]:
students = ["deep", "Dwe" , "ere",34,232,4]
students

['deep', 'Dwe', 'ere', 34, 232, 4]

In [11]:
students.append("suraj")

In [13]:
students

['deep', 'Dwe', 'ere', 'suraj']

In [14]:
type(students)

list

In [18]:
abc ={ 1:"ram",3:"raj"}
abc

{1: 'ram', 3: 'raj'}

In [17]:
type(abc)

dict

In [19]:
abc[1]

'ram'

In [23]:
int(3.4545)

3

In [24]:
{ "name":"ram","name2":"raj"}

{'name': 'ram', 'name2': 'raj'}

In [39]:
# class abc:
#     pass

# a =abc()

In [37]:
type(a)

__main__.abc

In [36]:
print(type(a))

<class '__main__.abc'>

In [38]:
print(type(4))

<class 'int'>

In [41]:
a=4
b= 5
c= 6

In [43]:
z, x ,y =4,5,7

In [45]:
z

4

In [46]:
a=5
b=6

In [ ]:
b=5
a=6

In [47]:
a ,b =b,a

In [49]:
a,b

(6, 5)

In [ ]:
#

What is the use of group by clause?
What is the difference between where clause and having clause? 
What are joins in SQL? State its types.
Define Cross join.
What is sub-query? State different types of Sub queries.
Differentiate between Left Join  and inner join.
What is Database? Why do we need Database.
What is DBMS?
Define SQL.
State the. Difference between Data and Information.
What is the difference between DBMS and RDBMS?
What is the difference between SQL and MySQL?
Write a query to create database with name pizza_sales_analysis.
Write a query to see list of all databases.
Write a query to create following table.
What is Database? Why do we need Database.
What is DBMS?
Define SQL.
   4. Write a query to add column time with datatype time after date column in above order table.

   5. Write a query to rename the table order to orders.

   6. Add primary key constraint to the column id on existing table orders.
   9798418982

For which kind of Data we can use Boxplot and Scatter plot explain with an example.
What is.  the difference between 1D and 2D scatter plots?
What is the difference between population and a sample?
What is difference between inferential and descriptive statistics?
What is the significance of Exploratory Data Analysis (EDA)?
What Are Skewness and Kurtosis?
What is Outlier?
What Is Hypothesis Testing?
Explain T-test and Z-test with formula?
Imagine that Jeremy took part in an examination. The test is having a mean score of 160, and it has a standard deviation of 15. If Jeremy’s z-score is 1.20, what would be his score on the test?
A Telecom service provider claims that individual customers pay on an average 400 Rs. per month with standard deviation of 25 rs. A random sample of 50 customers bills during a given month is taken with a mean of 250 and standard deviation of 15. What to say with respect to the claim made by the service provider?
What is Data Analysis? What are the different steps we need to follow for the same?
What is Data Presentation? Explain different types of Data presentation.
Imagine that Jeremy took part in an examination. The test is having a mean score of 160, and it has a standard deviation of 15. If Jeremy’s z-score is 1.20, what would be his score on the test?
A Telecom service provider claims that individual customers pay on an average 400 Rs. per month with standard deviation of 25 rs. A random sample of 50 customers bills during a given month is taken with a mean of 250 and standard deviation of 15. What to say with respect to the claim made by the service provider?
What are the common problems that data analysts encounter during analysis?
What are the best methods for data cleaning?
What is Data Analysis? What are the different steps we need to follow for the same?
What is Data Presentation? Explain different types of Data presentation.

In [1]:
a=5
type(a)

int

In [5]:
b=5.34
type(b)

float

In [3]:
a+b

10.34

In [4]:
type(a+b)

float

In [6]:
int(a+b)

10

In [8]:
d =str(a+b)

In [9]:
type(d)

str

In [19]:
print("data science","web","da",sep=" & ")

data science & web & da

In [12]:
print(a)
print(b)

5
5.34

In [24]:
print(a,end=" ,")
print(b, end=" & ")
print(d)

5 ,5.34 & 10.34

In [ ]:
print()

In [26]:
input()

'grfdgdrgdrfgfgfgff'

In [28]:
input("username and phone number")

'97878978987'

In [29]:
input("enter phone number")

'797898898'

In [34]:
user = input("enter phone number")
user

'678678678'

In [32]:
type(user)

str

In [37]:
user = int(input("Enter the phone number"))
user

54657

In [38]:
type(user)

int

In [40]:
num1 = float(input("enter the 1st number "))
num2 = float(input("enter the 2nd number "))

result = num1 + num2
result

12.0

In [41]:
num1 = (input("enter the 1st number "))
num2 = (input("enter the 2nd number "))

result = num1 + num2
result

'45'

In [42]:
13/3

4.333333333333333

In [43]:
13%3

1

In [44]:
4*5

20

In [45]:
4**5

1024

In [46]:
a= 12
b = 45

In [48]:
a>b

False

In [49]:
a!=b

True

In [55]:
a= 12
b = 45
c=10

In [56]:
a>b and c>b

False

In [57]:
a<b and c<b

True

In [58]:
a<b or c>b

True

In [61]:
not(a<b)

False

In [62]:
not(a<b or c>b)

False

In [1]:
# ASSIGNEMENT OPERATOR
# =, +=, -=, *=, /=, %=, **=, //=, <<=,

a= 5
a

5

In [2]:
a+5

10

In [3]:
a

5

In [4]:
a =a+5

In [5]:
a

10

In [7]:
a+=5
a

20

In [8]:
a-=5

In [10]:
a *=2

In [11]:
a

30

In [ ]:
a =a*2

In [26]:
b =5
c =5.0

In [27]:
b is c

False

In [29]:
b is not c

True

In [28]:
b ==c

True

In [14]:
a is c

False

In [ ]:
a= 5
a == 5

In [30]:
# in

list1 =[1,2,3,45,68]

In [31]:
2 in list1

True

In [32]:
34 in list1

False

In [33]:
if b>4:
    print("b is greater")

b is greater

In [36]:
if b>6:
    print("b is greater")

In [37]:
if b>6:
    print("b is greater")

print("xyz")

xyz

In [39]:
if b<6:
    print("b is greater")
    print(b)

print("xyz")

b is greater
5
xyz

In [41]:
c

5.0

In [44]:
# nested if  statement
if b>4:
    print("b is greater than  4")
    if  b>c:
        print("b is greater than c")

b is greater than  4

In [45]:
# nested if  statement
if b>4:
    print("b is greater than  4")
    if  b>=c:
        print("b is greater than c")

b is greater than  4
b is greater than c

In [46]:
# nested if  statement
if b>4:
    print("b is greater than  4")
    if  b==c:
        print("b is greater than c")

b is greater than  4
b is greater than c

In [48]:
a

30

In [51]:
if a>b:
    print("a is greater than b")
else:
    print("a is less than or equal to b")

a is greater than b

In [69]:
# if elif else
marks = int(input("Enter the students marks"))

Invalid Marks

In [72]:
if marks>=90:
    print("Grade: A")

elif marks>=75:
    print("Grade: B")

elif(marks>=60):
    print("Grade: C")

elif(marks>=45):
    print("Grade: D")

elif(marks>=30):
    print("Grade: E")
    
else:
    print("Grade: Fail")

Grade: A

In [74]:
marks = int(input("Enter the students marks"))

if  marks >= 0 and marks<=100:
    
    if marks>=90:
        print("Grade: A")

    elif marks>=75:
        print("Grade: B")

    elif(marks>=60):
        print("Grade: C")

    elif(marks>=45):
        print("Grade: D")

    elif(marks>=30):
        print("Grade: E")
        
    else:
        print("Grade: Fail")
else:
    print("Invalid Marks")

#

Invalid Marks

In [1]:
number =int(input("Enter the  integer number"))

if(number>0):
    print("The number is positive")
else:
    print("The number is negative")

The number is positive

In [2]:
number =int(input("Enter the  integer number"))

if(number>0):
    print( number, " number is positive")
else:
    print( number, " number is negative")

-23  number is negative

In [3]:
number =int(input("Enter the  integer number"))

if(number>0):
    print( "the number " , number, " is positive")
else:
    print("The number", number, " is negative")

The number -23  is negative

In [6]:
number =int(input("Enter the  integer number"))
if(number>0):
    if(number%2==0):
        print( "the number " , number, " is positive and even ")
    else:
        print("the number " , number, " is positive and odd ")
else:
    print("The number", number, " is negative")

the number  24  is positive and even

In [8]:
number =int(input("Enter the  integer number"))

if(number>0):
    print("the number", number,"positive")
else:
    print("The number", number, " is negative")
# 1st if ended  here
# 
if(number%2==0):
        print( "the number " , number, " is positive and even ")
else:
    print("the number " , number, " is negative and odd ")

The number -23  is negative
the number  -23  is negative and odd

In [14]:

languages = ['Swift', 'Python', 'Go',"R","c",'C++']  # list  of languages"

In [17]:
len(languages) # total number of  languages

6

In [15]:
print(languages[2])

Go

In [11]:
languages[0]

'Swift'

In [12]:
languages[1]

'Python'

In [23]:
for i in range(3,6):
    print(i)

3
4
5

In [24]:
for temp in  range(0,6):
    print(languages[temp])

Swift
Python
Go
R
c
C++

In [25]:
# 
for l in languages:
    print(l)

Swift
Python
Go
R
c
C++

In [7]:
# nested for loop
for i in range(1,3):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

In [11]:
# nested for loop
for i in range(1,3):
    for j in range(1,4):
        print("i=",i,"j=",j)

i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3

In [12]:
k=5
# nested for loop
for i in range(1,3):
    for j in range(1,k):
        print("i=",i,"j=",j)

i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4

In [17]:

# nested for loop
for i in range(1,3):
    for j in range(0,i):
        print("i=",i,"j=",j)

i= 1 j= 0
i= 2 j= 0
i= 2 j= 1

In [25]:
for i in range(1,5):
    for j in range(0,i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [30]:
for i in range(1,5):
    for j in range(0,i):
        print(j ,end=" ")

0 0 1 0 1 2 0 1 2 3

In [31]:
for i in range(1,5):
    for j in range(0,i):
        print(j ,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [56]:
for i in range(1,5):
    print(" "*(5-i), end="")
    for j in range(0,i):
        print(j ,end="")
    print()

     0
    0    1
   0   1   2
  0  1  2  3

In [1]:
# 
num1 = float(input("Enter the 1st number "))
num2 = float(input("Enter the 2nd number "))

print("option 1. for Add")
print("option 2. for Sub")
print("option 3. for Mul")
print("option 4. for Div")

opt = int(input("Choose the option "))

if(opt==1):
    print("Addition of 2 number is ", num1 + num2)
elif(opt==2):
    print("subtraction of 2 number is ", num1 - num2)
elif(opt==3):
    print("Multiplication of 2 number is ", num1 * num2)   
elif(opt==4):
    print("divide of 2 number is ", num1 / num2)
else:
    print("Choose a valid option")

option 1. for Add
option 2. for Sub
option 3. for Mul
option 4. for Div
Multiplication of 2 number is  24.0

In [7]:
i=False
if i==True:
    pass

In [9]:
# conutinue
u ="abc"
p = "123"

user_id =input("Enter the username ")
password = input("Enter the password ") 

if user_id == u and password == p:
    print("Login Successfull")
else:
    print("Invalid username or password")

Login Successfull

In [11]:

u ="abc"
p = "123"

for i in range(0,3):
    user_id =input("Enter the username ")
    # print(user_id)
    password = input("Enter the password ") 
    # print(password)
    if user_id == u and password == p:
        print("Login Successfull")
    else:
        print("Invalid username or password")

2323e
34343
Invalid username or password
abc
123
Login Successfull
12
23
Invalid username or password

In [19]:
# break
u ="abc"
p = "123"

for i in range(0,3):
    user_id =input("Enter the username ")
    password = input("Enter the password ") 

    if user_id == u and password == p:
        print("Login Successfull")
        break
    if i==2:
        print("Login failed")
    else:
        print("Invalid username or password")

Invalid username or password
Invalid username or password
Login failed

In [16]:
# break
u ="abc"
p = "123"

for i in range(0,3):
    user_id =input("Enter the username ")
    password = input("Enter the password ") 

    
    if user_id == u and password == p:
        print("Login Successfull")
        break
     
    else:
        if i ==2:
            print("Lock  for 1 hours")
        else:
            print("Invalid username or password. Please try again.")

In [22]:
for i in range(0,5):
    if i==3:
        print("continue run")
        continue
    print(i)
    print("hjhjh")

0
hjhjh
1
hjhjh
2
hjhjh
continue run
4
hjhjh

In [ ]:
for i in range(0,5):
    if i==3:
        print("continue run")
        continue
    print(i)
    print("hjhjh")

In [ ]:
# continue
llis = [3,5,2,"abc",5]

In [1]:
type(4)

int

In [ ]:
if type(a)==str:
    continue

In [4]:
li=[2,3,4,5]
total =0
for i in li:
    # print(i)
    total = total +i

print(total)

14

In [8]:
li=[2,'abc',3,'ddd',4,5]
total =0
for i in li:
    total = total +i
print(total)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
li=['abc',2,3,'ddd',4,5]
total =0
for xyz in li:
    print(xyz)
    if type(xyz)==str:
        continue
    total = total +xyz
    
print(total)

abc
2
3
ddd
4
5
14

In [16]:
xyz=0
while(xyz<=5):
    print(xyz)
    xyz=xyz+1

0
1
2
3
4
5

In [18]:
# replace for with while
u ="abc"
p = "123"
att=1
while(att<=3):
    user_id =input("Enter the username ")
    password = input("Enter the password ") 

    
    if user_id == u and password == p:
        print("Login Successfull")
        break
     
    else:
        if i ==2:
            print("Lock  for 1 hours")
        else:
            print("Invalid username or password. Please try again.")

    att=att+1

Invalid username or password. Please try again.
Invalid username or password. Please try again.
Invalid username or password. Please try again.

In [7]:
# replace for with while
u ="abc"
p = "123"
exi = 1

while(exi!=0):
    user_id =input("Enter the username ")
    password = input("Enter the password ") 

    
    if user_id == u and password == p:
        print("Login Successfull")
        break
     
    else:
        if exi ==2:
            print("Lock  for 1 hours")
        else:
            print("Invalid username or password. Please try again.")

    print("you want to exit press 0")
    exi = int(input())

Login Successfull

In [14]:
# Create a Python List
l1 = [1, 2, 3, 4, 5]
l2 =[]
se = (34,3434,5656,3434)
l3 = list(se)

In [9]:
type(l2)

list

In [12]:
type(l3)

list

In [13]:
type(se)

tuple

In [17]:
l1

[1, 2, 3, 4, 5]

In [18]:
l1[3]

4

In [20]:
l1[3] =45
l1

[1, 2, 3, 45, 5]

    Write a `for` loop to calculate the product of all elements in a list `[2, 3, 5, 7]`.

In [2]:
li =[1,3,1,4.33,"ABC","xYX", True] # duplicate ,hetro
print(li)

[1, 3, 1, 4.33, 'ABC', 'xYX', True]

In [3]:
li # same order

[1, 3, 1, 4.33, 'ABC', 'xYX', True]

In [4]:
# indexing
li[5]

'xYX'

In [5]:
# mutable
li[2] = 34
print(li)

[1, 3, 34, 4.33, 'ABC', 'xYX', True]

In [6]:
li[-1]

True

In [7]:
li[6]

True

In [ ]:
# slicing
# list_variable[start:stop:step]

In [9]:
li[3:6]

[4.33, 'ABC', 'xYX']

In [11]:
# [1, 3, 34, 4.33, 'ABC', 'xYX', True]
li[3:6:2]

[4.33, 'xYX']

In [12]:
li[3:]

[4.33, 'ABC', 'xYX', True]

In [13]:
li[3: : 2]

[4.33, 'xYX']

In [14]:
li[:5]

[1, 3, 34, 4.33, 'ABC']

In [15]:
li[:5:2]

[1, 34, 'ABC']

In [16]:
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True]

In [20]:
li[-3:]

['ABC', 'xYX', True]

In [24]:
li[-2:-1]

['xYX']

In [28]:
li[-4:-3]

[4.33]

In [29]:
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True]

In [31]:
li.append(50)
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True, 50, 50]

In [33]:
sd = [50,34,10]
li.append(sd)
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True, 50, 50, [50, 34, 10]]

In [34]:
sd = [50,34,10]
li.extend(sd)
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True, 50, 50, [50, 34, 10], 50, 34, 10]

In [35]:
li[-4]

[50, 34, 10]

In [36]:
li[-4][1]

34

In [38]:
li.insert(2,"abx")

In [40]:
li.pop()
li

[1, 3, 'abx', 34, 4.33, 'ABC', 'xYX', True, 50, 50, [50, 34, 10], 50, 34]

In [41]:
li.remove('abx')

In [42]:
li

[1, 3, 34, 4.33, 'ABC', 'xYX', True, 50, 50, [50, 34, 10], 50, 34]

In [43]:
li.count(34)

2

In [44]:
li.index('ABC')

4

In [46]:
li

[1, 3, 4.33, 34, 'ABC', 'xYX', True, 50, 50, [50, 34, 10], 50, 34]

In [54]:
li.reverse()
li

[34, 50, [50, 34, 10], 50, 50, True, 'xYX', 'ABC', 34, 4.33, 3, 1]

In [45]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [57]:
nu=[23,65,1,9]
nu.sort(reverse=False)
nu

[1, 9, 23, 65]

In [58]:
nu.reverse()
nu

[65, 23, 9, 1]

In [55]:
li.clear()
li

[]

In [59]:
len(nu)

4

In [61]:
nu

[65, 23, 9, 1]

In [64]:
## tuple
# create
t1 =tuple()

t2=  (1, 2, 3, 4, 5)

t3=(nu,)

t4 =tuple(nu)

In [66]:
print(t1)
print(t2)
print(t3)
print(t4)

()
(1, 2, 3, 4, 5)
([65, 23, 9, 1],)
(65, 23, 9, 1)

In [65]:
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [69]:
t4[4]

IndexError: tuple index out of range

In [71]:
t4[1]=32

TypeError: 'tuple' object does not support item assignment

In [73]:
t5=("abc", 1,3.4)
t5

('abc', 1, 3.4)

In [74]:
t5.count(1)

1

In [75]:
t5.index(3.4)

2

In [76]:
del t5

In [77]:
t5

NameError: name 't5' is not defined