In [1]:
print("hello world")

hello world

In [1]:
6

6

In [3]:
type(6)

int

In [4]:
type(True)

bool

In [7]:
c= "6"

In [8]:
type(c)

str

In [9]:
3+6

9

In [10]:
4.6+7

11.6

In [11]:
7+4.6

11.6

In [12]:
# int float str  bool
int(4.6)

4

In [13]:
int(7+4.6)

11

In [14]:
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))

Value: 124.23
Data Type: <class 'float'>

In [23]:
v= "sfdsf"
type(v)

str

In [24]:
bool(v)

True

In [25]:
"SDFd"

'SDFd'

In [29]:
print("this is  function",v)
print("heloon")
print("3434334")

this is  function sfdsf heloon
3434334

In [32]:
print("this is  function",v,end="---")
print("heloon",end="!!!!")
print("3434334")

this is  function sfdsf---heloon!!!!3434334

In [34]:
print("this is  function",v,end="---",sep=" ,, ")

this is  function ,, sfdsf---

In [40]:
# input
n1 =int(input())
n2 = int(input("this is  the second number: "))
      
result = n1 + n2
print(result)

12

In [42]:
name =input("enter you  name:")
print(name)

haa

In [44]:
10<5

False

In [46]:
10>=5

True

In [47]:
10>10

False

In [51]:
10==10 and  10>=10

True

In [53]:
10==10 or  10>10

True

In [62]:
a,b,c =5,5,6

In [63]:
# is 
a is b

True

In [64]:
a==b

True

In [65]:
a,b,c =5,5.0,6

In [66]:
a is b

False

In [71]:
a is not b

True

In [67]:
a==b

True

In [68]:
data =[1,2,3,4,5,6] 

data

[1, 2, 3, 4, 5, 6]

In [69]:
5 in data

True

In [70]:
10 in data

False

In [72]:
10 not in data

True

In [75]:
v= 5+5j
v

(5+5j)

In [76]:
type(v)

complex

In [77]:
#  list datatypes
a =[]
type(a)

list

In [78]:
a =[2,5,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
[2, 5, 7, 8, 9, 0]

In [85]:
a =[2,5,"sha",9,9,4.56,0,True]
print(type(a))
print(a)

<class 'list'>
[2, 5, 'sha', 9, 9, 4.56, 0, True]

In [81]:
# indexing
a[2]

'sha'

In [88]:
a[4] = 10.44
a

[2, 5, 'sha', 9, 10.44, 4.56, 0, True]

In [89]:
a[-3]

4.56

In [91]:
# slicing
# a[start:stop:step]
a[1:5]

[5, 'sha', 9, 10.44]

In [93]:
a[1:5:2]

[5, 9]

In [95]:
a[5:]

[4.56, 0, True]

In [105]:
a[:5]

[2, 5, 'sha', 9, 10.44]

In [106]:
a

[2, 5, 'sha', 9, 10.44, 4.56, 0, True]

In [108]:
a.append("ans") 
a

[2, 5, 'sha', 9, 10.44, 4.56, 0, True, 'ans', 'ans']