## Pandas

In [ ]:
# https://pandas.pydata.org/
# pip install pandas
import pandas

In [ ]:
# Series and DataFrame

# Series/1D/Vecotr
# and DataFrame/matrix/2d/table

In [ ]:
import pandas as pd

s1 = pd.Series([12,3,4,56])
s1

In [ ]:
# change index
s1.set_axis(["a","B","c","d"])

In [ ]:
# 2d/dataframe
df1 = pd.DataFrame({"a":[2,3,4],"b":[5,6,7],"c":[6,7,8]})

df2 = pd.DataFrame([[2,3,4],[2,6,5],[8,7,6]])
print(df1)
print("===========")
print(df2)

In [ ]:
# loc[row, column]
# loc access data based on index/column custom name
df1.loc[1,"b"]

In [ ]:
# iloc access data based on index number
df1.iloc[1,1]

In [ ]:
df1.iloc[1:,1:]

In [ ]:
pd.read_csv(r"C:\Users\hp\Downloads\ti.csv")
# access from local folder

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
# access from url csv

In [ ]:
df

In [ ]:
# number of row and columns
df.shape

In [ ]:
df.size

In [ ]:
df.ndim

In [ ]:
# basic overview of data
df.info()

In [ ]:
# Statistical overview of  numerical data
df.describe()

In [ ]:
# for object  datype
df.describe(include="object")

In [ ]:
# Statistical overview of data
df.describe(include="all")

In [ ]:
df.columns

In [ ]:
# show name column
df["Name"]

In [ ]:
# slicing using index number
df.iloc[:,0:4]

In [ ]:
df.columns

In [ ]:
# slicing using custom name
df.loc[:,"PassengerId":"Name"]

In [ ]:
# show the any column using their name 
df[["PassengerId","Name","Fare"]]

In [ ]:
df["PassengerId"].dtype

In [ ]:
# change the datatype

df["PassengerId"]= df["PassengerId"].astype("float32")

In [ ]:
df.dtypes

In [ ]:
# show top 5 row 
df.head()

# show top 10 row 
df.head(10)

In [ ]:
# show bottom 5 row 
df.tail()

# show bottom 10 row 
df.tail(10)

In [ ]:
df.head()

In [ ]:
# show the unique values in the column
df["Cabin"].unique()

In [ ]:
# count the unique values in the column
df["Cabin"].nunique()

In [ ]:
# count the number of times each value appears in the column
df["Survived"].value_counts()

In [ ]:
# Data Cleaning
df.info()

In [ ]:
# Check duplicate value 
df.duplicated()

df =df.drop_duplicates() 


df.drop_duplicates(inplace=True)

In [ ]:
# 2. check null 
df["Age"].isnull()

In [ ]:
# add all true value 
df["Age"].isnull().sum()

In [ ]:
# Aggrigate functions

In [ ]:
# 
avg_age = round(df["Age"].mean(),2)

In [ ]:
df["Age"] = df["Age"].fillna(avg_age)

In [ ]:
df["Age"].isnull().sum()

In [ ]:
# show all null values in the dataframe
df.isnull().sum()

In [ ]:
# Drop column
df.head()
df.drop("Cabin",axis=1,inplace=True)

In [ ]:
df

In [ ]:
# drop null values
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
# save the file in local
df.to_csv("clean_data.csv")

In [ ]:
import pandas as  pd
df = pd.read_csv("clean_data.csv")
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop("Unnamed: 0", inplace=True, axis=1)

### Questions

1. total number of passanger
2. total number of teenager passanger 
3. total number of senior passanger
4. count the number of male and female passanger
2. find the number  of the passenger who has the Highest fare
3. find the name of the panssager who has the highest fare
4. find the number  of the passenger who has the lowest fare

In [ ]:
# total number of passanger
len(df)
df["PassengerId"].count()

In [ ]:
# boolean indexing
df.columns

In [ ]:
# total number of teenagers
(df["Age"] <18).sum()

In [ ]:
# details of teenager
df[df["Age"] <18]

In [ ]:
# Seniors
df["PassengerId"][df["Age"] >60].count()

In [ ]:
df["Sex"].unique()

In [ ]:
(df["Sex"]=="male").sum()

In [ ]:
df["Sex"][df["Sex"]=="male"].count()

In [ ]:
df["Sex"].value_counts()

In [ ]:
# highest fair
df["Fare"].max()

In [ ]:
df["Fare"] == df["Fare"].max()

In [ ]:
(df["Fare"] == df["Fare"].max()).sum()

In [ ]:
df[df["Fare"] == df["Fare"].max()]

In [ ]:
# name of the passanger who pay max fare
df[df["Fare"] == df["Fare"].max()]

In [ ]:
df[df["Fare"] == df["Fare"].min()].count()

In [ ]:
# name of the passanger who pay min fare

df[df["Fare"] == df["Fare"].min()]

In [ ]:
# name of the passanger who pay min fare

df["PassengerId"][df["Fare"] == df["Fare"].min()].count()

In [ ]:
# count of the passanger who survived or not after pay min fare

df["Survived"][df["Fare"] == df["Fare"].min()].value_counts()

In [ ]:
# count the total survived or not survived passanger
df['Survived'].value_counts()

In [ ]:
# groupby 

df.groupby("Survived").count()

In [ ]:
# groupby using count in survived columns
df.groupby("Survived")["Survived"].count()

In [ ]:
# fare 
df.groupby("Survived").mean(numeric_only=True)

In [ ]:
# fare 
df.groupby("Survived")[["Fare","Age","Parch"]].mean(numeric_only=True)

In [ ]:
df[["Fare","Age","Parch","Survived"]].groupby("Survived").mean()

In [ ]:
df.describe()

In [ ]:
df.groupby("Survived").describe()

In [ ]:
df.groupby("Survived")["Fare"].describe()

In [ ]:
df.groupby("Survived").aggregate("max")

In [ ]:
df.groupby("Survived")["Fare"].aggregate(["max","min","mean","std"])

In [ ]:
pd.__version__

In [ ]:
#add new columns
df["rdt"] =None

In [ ]:
fare =455
if fare<10:
    print("Fare is low")
elif fare>=10 and fare<=100:
    print("Fare is moderate")
else:
    print("Fare is high")

In [ ]:
df

In [ ]:
# 14/05/24
import pandas as pd
df = pd.read_csv("clean_data.csv")

In [ ]:
df["Age"]<18

In [ ]:
df["Survived"]==1

In [ ]:
((df["Age"]<18) & (df["Survived"]==1) )

In [ ]:
((df["Age"]<18) & (df["Survived"]==1)).sum()

In [ ]:
df[(df["Age"]<18) & (df["Survived"]==1)] ["Sex"].value_counts()

In [ ]:
df["Sex"]=="female"

In [ ]:
((df["Age"]<18) & (df["Survived"]==1) &(df["Sex"]=="male"))

In [ ]:
((df["Age"]>60) & (df["Survived"]==1) &(df["Sex"]=="male")).sum()

In [ ]:
def con(a,s,gender):
    return ((df["Age"]>a) & (df["Survived"]==s) &(df["Sex"]==gender)).sum()

In [ ]:
con(60,0,"male")

### Create columns

In [ ]:
df["new col"] =0
df

In [ ]:
def fare_type(fare):
    if fare<10:
        return "low"
    elif fare>=10 and fare<=100:
        return "moderate"
    else:
        return "high"

fare_type(343)

In [ ]:
df["Fare"][2]

In [ ]:
fare_type(df["Fare"][2])

In [ ]:
df.shape[0] # find the number of rows

In [ ]:
for i in range(889):
    df["new col"][i] =fare_type(df["Fare"][i])

df

In [ ]:
# use apply function to itrate row-wise and apply function
df["fare_type"] = df["Fare"].apply(fare_type)
df

In [ ]:
# **Concatenation** means **combining multiple DataFrames either vertically (row-wise)** or **horizontally (column-wise)**.

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 95]
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Subject': ['Math', 'English', 'Science'],
    'Grade': ['A', 'B', 'A']
})
print("\ndf1:")
print(df1)
print("\ndf2:")
print(df2)

In [ ]:
pd.concat([df1, df2], axis=0 )

In [ ]:
pd.concat([df1, df2], axis=1 )

In [ ]:
# JOin using merge function 
pd.merge(df1,df2,how="left",on="ID")

In [ ]:
pd.merge(df1,df2,how="cross")

In [ ]:
df1.join(df2,on="ID",how="inner",lsuffix='_caller', rsuffix='_other')

In [ ]:
# Definitions and Use Cases:
# ------------------------------------------------------------
# concat: Combines DataFrames either vertically (row-wise) or horizontally (column-wise).
#   Use case: Combine data from multiple CSVs or append new data.

# merge: Combines DataFrames based on common columns (similar to SQL joins).
#   Use case: Merge customer info with transaction data.

# join: Joins DataFrames using their index.
#   Use case: Combine metadata indexed by unique IDs.

# pivot: Reshapes data by turning unique values in a column into new columns.
#   Use case: Create summary tables like Excel pivot tables.

# melt (unpivot): Converts wide-format data into long-format.
#   Use case: Prepare data for analysis/visualization by tidying it.
# ------------------------------------------------------------

In [ ]:
### --- Pivot Example --- ###
pivot_data = pd.DataFrame({
    'ID': [1, 1, 2, 2],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [88, 92, 80, 85]
})
pivot_data

In [ ]:
pivot_table = pivot_data.pivot(index='ID', columns='Subject', values='Score')
print("\nPivot Table:")
print(pivot_table)

In [ ]:
### --- Melt (Unpivot) Example --- ###

melted = pd.melt(pivot_table.reset_index(), id_vars=['ID'], value_vars=['Math', 'Science'], var_name='xcf', value_name='Score')
print("\nMelted Data:")
print(melted)

In [ ]:
pd.read

15/05/2025

In [ ]:
import pandas as pd 
df = pd.read_csv("clean_data.csv")

In [ ]:
# 
#Q. How many passengers are less than 5 years old

#Q. How many passengers have paid less than avg fare

#How many passengers paid 0 fare

#Q how many passengers of class 1

#How many passengers survived

#How many females paid more than avg fare

#Qhow many male passenger paid more than avg >>and

In [ ]:
((df["Survived"] ==1) & (df["Sex"] =="male") ).sum()

## DATABASE CONNECTIONS

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

In [ ]:
# mysql connector
import mysql.connector  
#Create the connection object   
myconn = mysql.connector.connect(host = "127.0.0.1", user = "root",passwd = "Azsxdcf123@" ,database = "mavenmovies")  
#creating the cursor object  
cur = myconn.cursor()   
try:  
    #Reading the Employee data      
    cur.execute("select * from Payment")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  

    #printing the result  
    cur.execute("desc Payment")  
    col_name =cur.fetchall()

    # for x in result:  
    #     print(x);  
except:  
    myconn.rollback()  
  
myconn.close()

In [ ]:
type(result)

In [70]:
col_name

[('payment_id', 'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('customer_id', 'smallint unsigned', 'NO', 'MUL', None, ''),
 ('staff_id', 'tinyint unsigned', 'NO', 'MUL', None, ''),
 ('rental_id', 'int', 'YES', 'MUL', None, ''),
 ('amount', 'decimal(5,2)', 'NO', '', None, ''),
 ('payment_date', 'datetime', 'NO', '', None, ''),
 ('last_update',
  'timestamp',
  'YES',
  '',
  'CURRENT_TIMESTAMP',
  'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [ ]:
name =[]
for  i in col_name:
    print(i[0])
    name.append(i[0])

In [72]:
name

['payment_id',
 'customer_id',
 'staff_id',
 'rental_id',
 'amount',
 'payment_date',
 'last_update']

In [ ]:
pyt = pd.DataFrame(result ,columns=name)
pyt

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,last_update
0,1,1,1,76.0,2.99,2005-05-25 11:30:37,2006-02-15 22:12:30
1,2,1,1,573.0,0.99,2005-05-28 10:35:23,2006-02-15 22:12:30
2,3,1,1,1185.0,5.99,2005-06-15 00:54:12,2006-02-15 22:12:30
3,4,1,2,1422.0,0.99,2005-06-15 18:02:53,2006-02-15 22:12:30
4,5,1,2,1476.0,9.99,2005-06-15 21:08:46,2006-02-15 22:12:30
...,...,...,...,...,...,...,...
16044,16045,599,1,14599.0,4.99,2005-08-21 17:43:42,2006-02-15 22:24:12
16045,16046,599,1,14719.0,1.99,2005-08-21 21:41:57,2006-02-15 22:24:12
16046,16047,599,2,15590.0,8.99,2005-08-23 06:09:44,2006-02-15 22:24:12
16047,16048,599,2,15719.0,2.99,2005-08-23 11:08:46,2006-02-15 22:24:13
16048,16049,599,2,15725.0,2.99,2005-08-23 11:25:00,2006-02-15 22:24:13

In [ ]:
pyt.to_json("abc.json", orient="records")

In [ ]:
pyt["amount"].sum()

In [ ]:
(pyt["amount"]>10).sum()

In [ ]:
pyt[pyt["amount"]>10]["amount"].sum()

In [ ]:
pd.read_json("abc.json")