In [ ]:
# Loop
#1. for  --> fix number iterations 
# 2. while

for i in range(10,0,-2):
    print(i)

In [ ]:
list1 =[343,545,232,232,5,3]

for i in list1:
    print(i)

In [ ]:
len(list1)

In [ ]:
list1[1]

In [ ]:
for i in range(len(list1)-1, -1,-1):
    print(list1[i])

In [ ]:
# variable
while():


    # false the condtions

In [ ]:
i= 1
while(i<=5):
    print(i)
    i =i+1
    # i+=1

In [ ]:
reply ="Y"
while(reply=="Y"):
    print("play the game again")

    print("are you play again press : Y / press N")
    reply = input("are you play again press : Y  OTHER WISE press 0")

In [ ]:
import random
list1= [1,2,3,4,5,6,7]
l2 =["ram","shayam","bhola","bhem"]
random.choice(l2)

In [ ]:
# guess the number from system generate number
# user input
user = int(input("Enter a number from 1 to 7 "))
# system choice 
system_choice = random.choice(list1)

if user==system_choice:
    print(user, "WIN")
else:
    print(f"user number user system number {system_choice} you lose ")

In [ ]:
import random
amount=100
restart = "y"
list1= [1,2,3,4,5,6,7]

while(amount>=0 and restart == "y"):
    user = int(input("Enter a number from 1 to 7 "))
    system_choice = random.choice(list1)

    if user==system_choice:
        print(user, "WIN", amount)
        amount +=10

    else:
        amount -=10
        print(f"user number {user} system number {system_choice} you lose 10Rs rest amt:{amount}")
        
    restart = input("You want to play again press y otherwise press n")

In [ ]:
def casino():
    import random
    amount=100
    restart = "y"
    list1= [1,2,3,4,5,6,7]

    while(amount>=0 and restart == "y"):
        user = int(input("Enter a number from 1 to 7 "))
        system_choice = random.choice(list1)

        if user==system_choice:
            print(user, "WIN", amount)
            amount +=10

        else:
            amount -=10
            print(f"user number {user} system number {system_choice} you lose 10Rs rest amt:{amount}")
            
        restart = input("You want to play again press y otherwise press n")

In [ ]:
# RUN 
casino()

In [ ]:
def casino(amount =100,bet=10):  #  default 
    import random
    restart = "y"
    list1= [1,2,3,4,5,6,7]

    while(amount>=0 and restart == "y"):
        user = int(input("Enter a number from 1 to 7 "))
        system_choice = random.choice(list1)

        if user==system_choice:
            print(user, "WIN", amount)
            amount +=bet

        else:
            amount -=bet
            print(f"user number {user} system number {system_choice} you lose {bet}Rs rest amt:{amount}")
            
        restart = input("You want to play again press y otherwise press n")

In [ ]:
casino(10000,1000)

In [ ]:
casino(bet =1000,amount= 10000)

In [ ]:
casino()

## Types of Arguments in Python
Python provides various argument types to pass values to functions, making them more flexible and reusable. Understanding these types can simplify your code and improve readability. we have the following function argument types in Python:

1. Default argument
2. Keyword arguments (named arguments)
3. Positional arguments
4. Arbitrary arguments (variable-length arguments *args and **kwargs)
5. Lambda Function Arguments

##### some inbuit functions
1. normal functions
2. Lambda funtions
3. other --> filter funtions, map function, reduce function,

### DATA TYPES IN PYHTON 

* SEGUENTIAL data TYPES
1. LIST []
2. TUPLE()
3. SET OR FORZEN SET(,)

Mapping data types
4.dictonary{}

In [ ]:
# single value store
a =5

In [ ]:
# 1. list
a =[]  #empty list
type(a)

In [ ]:
b = [1,2,3,4,5,6]  # initilize with value
type(b)

In [ ]:
# store multipe values
# store multiple types of data
c =[1,"a", "raj",True, 3.09]

In [ ]:
print(c)

In [ ]:
c

In [ ]:
# indexing 
# start from 0 
c[3]

In [ ]:
c[0,1]

In [ ]:
# slices
# var[start:end: step]  syntax
# range(start,end,step)
c[0:4]  # in slicing last index number not include

In [ ]:
c[:]

In [ ]:
c[2:]

In [ ]:
int(len(c)/2)

In [ ]:
c[len(c)//2]

In [ ]:
c[::]

In [ ]:
c[::3]

In [ ]:
std = ["raj","deep","ram"]

In [ ]:
# add data in last index using append
std.append(6)

In [ ]:
# add data in any index using insert
std.insert(0,"shyam")

In [ ]:
std.pop() # pop delete the last value

std.pop(3) # pop delete the index value

In [ ]:
std.remove("raj")  # delete the specific value of 1st occurance present value

In [ ]:
std.clear()

In [ ]:
std = ["raj","deep","ram"]

In [ ]:
s1 = std.copy()  # deep copy

In [ ]:
s2 =std  #shallow copy

In [ ]:
id(s1)

In [ ]:
id(std)

In [ ]:
id(s2)

In [ ]:
a=3
b =3.0

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
std.append("deep")

In [ ]:
std.count("deep")

In [ ]:
std.reverse()

In [ ]:
std.append(2)

In [ ]:
std.reverse()

In [ ]:
std

In [ ]:
std.sort(reverse=True)  # for descending using reverse =true
std

In [ ]:
std.sort()
std

In [ ]:
std

In [ ]:
std2 =["a","b","c"]

In [ ]:
std.append(std2)

In [ ]:
std[-1]

In [ ]:
std.extend(std2) # use to add itrable object one by one using extend function

In [ ]:
std

In [ ]:
# List Characteristics
# In Python, lists are:

# Ordered - They maintain the order of elements.
# Mutable - Items can be changed after creation.
# Allow duplicates - They can contain duplicate values.

# Method	Description
# append()	Adds an item to the end of the list
# extend()	Adds items of lists and other iterables to the end of the list
# insert()	Inserts an item at the specified index
# remove()	Removes the specified value from the list
# pop()	Returns and removes item present at the given index
# clear()	Removes all items from the list
# index()	Returns the index of the first matched item
# count()	Returns the count of the specified item in the list
# sort()	Sorts the list in ascending/descending order
# reverse()	Reverses the item of the list
# copy()	Returns the shallow copy of the list

In [ ]:
int(5.6)

In [ ]:
list()  # using list funtion convert any sequetial data into list

In [ ]:
# Python list() - Convert other datatypes to list.
# Python list comprehension - A concise way to create a list from another sequence in a single line.
# Python enumerate() function - Adds a counter (index by default) to a list.

In [ ]:
for i in (std):
    print(i)

In [ ]:
for i in enumerate(std):
    print(i)

In [ ]:
for i ,j in enumerate(std):
    print(i)

## Python Tuple
A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created.

In [ ]:
# # Create a Python Tuple
# Ordered - They maintain the order of elements.
# Immutable - They cannot be changed after creation.
# Allow duplicates - They can contain duplicate values.
t1 =()
t2 =(1,2,3,4,5)
t3 =tuple(std)

In [ ]:
type(t3)

In [ ]:
t3[4:]

In [ ]:
t3[5]=44
# 'tuple' object does not support item assignment
# data is immutable in tuple

In [ ]:
std[4]= "abh"

In [ ]:
t3.count("deep")

In [ ]:
t3.index("raj")

In [ ]:
for i in t3:
    print(i)

### Python Sets
A set is a collection of unique data, meaning that elements within a set cannot be duplicated.

In [ ]:
s1={4,3,5,6,7}
s2 = set()
s3= set(t1)

In [ ]:
type(s1)

In [ ]:
s1.discard(3)

In [ ]:
s1.remove(3)

In [ ]:
s1.update([6,3,4,1,7,8,8])

In [ ]:
s1

In [ ]:
# dictonaty type
d= {1:"ram", 2:"raj"}

In [ ]:
type(d)