In [ ]:
# pip install pandas
import pandas 
import pandas as pd

In [ ]:

#pandas>>data manipulation and data wrangling
# create Series, DataFrame ,indexing, columns, data types, assign, create new columns

# data cleaning
# drop columns,  drop rows, fill missing values, handle outliers, remove duplicates


# data transformation
# pivot, melt, groupby, sort, sortby, rank, quantile, shift,
# data merging
# join, merge, concat, append
# data analysis
# summary statistics, descriptive statistics, correlation, regression, time series analysis
# data visualization
# plot, scatter plot, bar plot, histogram, box plot, violin plot, heatmap
# data export
# to_csv, to_excel, to_json, to_pickle, to_sql



# A Pandas Series is a one-dimensional labeled array-like object that can hold data of any type.
### Labels

# The labels in the Pandas Series are 
# index numbers by default. Like in DataFrame and array, the index number in Series starts from 0.

Data Represent in pandas 

1. Series/1D/Vector

2. DataFrame/2D/Tabular data / Matrix

In [ ]:
# create 
s1 = pd.Series([1, 2, 3, 4, 5])
s1

In [ ]:
type(s1)

In [ ]:
s1.ndim

In [ ]:
s1.shape

In [ ]:
s1.size

In [ ]:
# create sseries with custom index
s2 = pd.Series([6,7,78,9],index=["a","b","c","d"])
s2

In [ ]:
# create series with custom index when value already create
s1
s1.set_axis(["w","x","y","z","v"])

In [ ]:
s1.reset_index(drop=True)

#### Indexing and Slicing

In [ ]:
# indexing
(s1[3])

In [ ]:
s2["c"]

In [ ]:
s2["a":"c"]

In [ ]:
s2[:3]

In [ ]:
# Define DF using 2d array
df = pd.DataFrame([[12,3,34],[3,4,5]])
df

In [ ]:
df.ndim

In [ ]:
# Define DF using Dictonary
df2 = pd.DataFrame({"a": [12,3,34] ,
                   "b": [3,4,5]}
                   )
df2

In [ ]:
df3 = df2.set_axis(["x","y","z"])

In [ ]:
df3 = df3.set_axis(["c","d"],axis=1)

In [ ]:
# add new_columns to the dataframe
df2["c"] = [1,2,3]
df2
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

In [ ]:
df3

In [ ]:
df

In [ ]:
# indxing
# df[0][0,:]

In [ ]:
#loc and iloc
#loc is label based indexing cutsom
#iloc is integer based indexing

In [ ]:
df3

In [ ]:
df3.loc["y","c":]

In [ ]:
df2

In [ ]:
# 
df2.loc[0:1,"b":]

In [ ]:
df2.iloc[0:2, 1:]

In [ ]:
df2.c

In [ ]:
# Data Preparation and analysis

# Import necessary libraries -->pandas
# Import data
# basic overview of data
# indexing and slicing 
# data cleaning 
    # duplicate 
    # missing values/missing value 
    # rename
    # error value
    # delete row-wise/columns-wise
    # create new feature/column
# save 
# load
# Data anlysis
# Data visualization

# =========================
# Strat Machine Learning -->Sk-learn libraries
    # data preprocessing
    # training
    # prediction

# Data Preparation and analysis

In [ ]:
# impoort data
import pandas as pd

pd.read_csv(r"C:\Users\hp\Downloads\ti.csv")

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
# head() return top 5 row
df.head()

# 10 is number of rows to display
df.head(10)

In [ ]:
# tail() return bottom 5 row
df.tail()

# 10 is number of rows to display
df.tail(5)

In [ ]:
# basic informations about your data
df.info()

In [ ]:
# statistical summary of the numberical data
df.describe()

In [ ]:
# statistical summary of the no-numerical data
df.describe(include="O")

In [ ]:
# statistical summary of the both no-numerical and numerical data
df.describe(include="all")

In [ ]:
df["Fare"].mean()

In [ ]:
df["Fare"].std()

In [ ]:
df["Fare"].skew()

In [ ]:
import numpy as np 
np.sqrt(df["Fare"]).skew()

In [ ]:
np.square(df["Fare"]).skew()

In [ ]:
df.head()

In [ ]:
df["Name"][10]

In [ ]:
df.iloc[:, 3]

In [ ]:
df.loc[:, "Name"]

In [ ]:
# show any column using their name in 2D
df[["Name","Fare","Survived"]]

In [ ]:
# show  all columns name 
df.columns

In [ ]:
# total fare
df["Fare"].sum()

In [ ]:
sum()

In [ ]:
# check Duplicate  
df.duplicated().sum()

In [ ]:
# drop Duplicate
df = df.drop_duplicates()

In [ ]:
# NULL value 
df.isnull().sum()

In [ ]:
df["Age"].mean()

In [ ]:
# fill null value
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [ ]:
df.isnull().sum()

In [ ]:
# Inplace is use to reassingn the value in same df
df.drop("Cabin", axis=1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
# drop null value 
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
# change datatypes
df.dtypes

In [ ]:
df

In [ ]:
df["Age"].astype("int32")

In [ ]:
# df["Age"] = df["Age"].astype("int32")

In [ ]:
# save the clean file
df.to_csv("clean_data.csv",index=False)

In [ ]:
# again load clean file 
df1 = pd.read_csv("clean_data.csv")
df1.head()

In [ ]:
# Create new column using assign value in new column name
df1["xys"]  =90

In [ ]:
# count the number of customer who has pay more than 100
(df1["Fare"]>100).sum()

In [ ]:
# all details of customer who has pay more than 100
df1[df1["Fare"]>100].count()

In [ ]:
# all details of customer who has pay more than 100
df1[df1["Fare"]>100]["Fare"].count()

In [ ]:
# show the name of customer who has pay more than 100
df1[df1["Fare"]>100][["Name","Fare"]]

In [ ]:
# find the max fare
df["Fare"].max()
# name of the customer who pay max
df["Fare"] == df["Fare"].max()  # conditions

df[df["Fare"] == df["Fare"].max()]

# count the total number of teenagers
(df["Age"]<18).sum()
df[df["Age"]<18]["Age"].count()

# total number of male and female passangers

(df["Sex"]=="male").sum()

In [ ]:
# count
# nuique --> actual unique value 
df["Sex"].unique()
# nnuique --> number of unique value 
df["Sex"].nunique()

# value_count -->show count of all distinct value in df
df["Sex"].value_counts()

# count the total female teenager passanger
df[(df["Age"]<18) & (df["Sex"]=="female") ].count()

In [ ]:
#Q. How many passengers are less than 5 years old

#Q. How many passengers have paid less than avg fare

#How many passengers paid 0 fare

#Q how many passengers of class 1

#How many passengers survived

#How many females paid more than avg fare

#Qhow many male passenger paid more than avg >>and