In [ ]:
# Loop
#1. for  --> fix number iterations 
# 2. while

for i in range(10,0,-2):
    print(i)

In [ ]:
list1 =[343,545,232,232,5,3]

for i in list1:
    print(i)

In [ ]:
len(list1)

In [ ]:
list1[1]

In [ ]:
for i in range(len(list1)-1, -1,-1):
    print(list1[i])

In [ ]:
# variable
while():


    # false the condtions

In [ ]:
i= 1
while(i<=5):
    print(i)
    i =i+1
    # i+=1

In [ ]:
reply ="Y"
while(reply=="Y"):
    print("play the game again")

    print("are you play again press : Y / press N")
    reply = input("are you play again press : Y  OTHER WISE press 0")

In [ ]:
import random
list1= [1,2,3,4,5,6,7]
l2 =["ram","shayam","bhola","bhem"]
random.choice(l2)

In [ ]:
# guess the number from system generate number
# user input
user = int(input("Enter a number from 1 to 7 "))
# system choice 
system_choice = random.choice(list1)

if user==system_choice:
    print(user, "WIN")
else:
    print(f"user number user system number {system_choice} you lose ")

In [ ]:
import random
amount=100
restart = "y"
list1= [1,2,3,4,5,6,7]

while(amount>=0 and restart == "y"):
    user = int(input("Enter a number from 1 to 7 "))
    system_choice = random.choice(list1)

    if user==system_choice:
        print(user, "WIN", amount)
        amount +=10

    else:
        amount -=10
        print(f"user number {user} system number {system_choice} you lose 10Rs rest amt:{amount}")
        
    restart = input("You want to play again press y otherwise press n")

In [ ]:
def casino():
    import random
    amount=100
    restart = "y"
    list1= [1,2,3,4,5,6,7]

    while(amount>=0 and restart == "y"):
        user = int(input("Enter a number from 1 to 7 "))
        system_choice = random.choice(list1)

        if user==system_choice:
            print(user, "WIN", amount)
            amount +=10

        else:
            amount -=10
            print(f"user number {user} system number {system_choice} you lose 10Rs rest amt:{amount}")
            
        restart = input("You want to play again press y otherwise press n")

In [ ]:
# RUN 
casino()

In [ ]:
def casino(amount =100,bet=10):  #  default 
    import random
    restart = "y"
    list1= [1,2,3,4,5,6,7]

    while(amount>=0 and restart == "y"):
        user = int(input("Enter a number from 1 to 7 "))
        system_choice = random.choice(list1)

        if user==system_choice:
            print(user, "WIN", amount)
            amount +=bet

        else:
            amount -=bet
            print(f"user number {user} system number {system_choice} you lose {bet}Rs rest amt:{amount}")
            
        restart = input("You want to play again press y otherwise press n")

In [ ]:
casino(10000,1000)

In [ ]:
casino(bet =1000,amount= 10000)

In [ ]:
casino()

## Types of Arguments in Python
Python provides various argument types to pass values to functions, making them more flexible and reusable. Understanding these types can simplify your code and improve readability. we have the following function argument types in Python:

1. Default argument
2. Keyword arguments (named arguments)
3. Positional arguments
4. Arbitrary arguments (variable-length arguments *args and **kwargs)
5. Lambda Function Arguments

##### some inbuit functions
1. normal functions
2. Lambda funtions
3. other --> filter funtions, map function, reduce function,

### DATA TYPES IN PYHTON 

* SEGUENTIAL data TYPES
1. LIST []
2. TUPLE()
3. SET OR FORZEN SET(,)

Mapping data types
4.dictonary{}

In [ ]:
# single value store
a =5

In [ ]:
# 1. list
a =[]  #empty list
type(a)

In [ ]:
b = [1,2,3,4,5,6]  # initilize with value
type(b)

In [ ]:
# store multipe values
# store multiple types of data
c =[1,"a", "raj",True, 3.09]

In [ ]:
print(c)

In [ ]:
c

In [ ]:
# indexing 
# start from 0 
c[3]

In [ ]:
c[0,1]

In [ ]:
# slices
# var[start:end: step]  syntax
# range(start,end,step)
c[0:4]  # in slicing last index number not include

In [ ]:
c[:]

In [ ]:
c[2:]

In [ ]:
int(len(c)/2)

In [ ]:
c[len(c)//2]

In [ ]:
c[::]

In [ ]:
c[::3]

In [ ]:
std = ["raj","deep","ram"]

In [ ]:
# add data in last index using append
std.append(6)

In [ ]:
# add data in any index using insert
std.insert(0,"shyam")

In [ ]:
std.pop() # pop delete the last value

std.pop(3) # pop delete the index value

In [ ]:
std.remove("raj")  # delete the specific value of 1st occurance present value

In [ ]:
std.clear()

In [ ]:
std = ["raj","deep","ram"]

In [ ]:
s1 = std.copy()  # deep copy

In [ ]:
s2 =std  #shallow copy

In [ ]:
id(s1)

In [ ]:
id(std)

In [ ]:
id(s2)

In [ ]:
a=3
b =3.0

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
std.append("deep")

In [ ]:
std.count("deep")

In [ ]:
std.reverse()

In [ ]:
std.append(2)

In [ ]:
std.reverse()

In [ ]:
std

In [ ]:
std.sort(reverse=True)  # for descending using reverse =true
std

In [ ]:
std.sort()
std

In [ ]:
std

In [ ]:
std2 =["a","b","c"]

In [ ]:
std.append(std2)

In [ ]:
std[-1]

In [ ]:
std.extend(std2) # use to add itrable object one by one using extend function

In [ ]:
std

In [ ]:
# List Characteristics
# In Python, lists are:

# Ordered - They maintain the order of elements.
# Mutable - Items can be changed after creation.
# Allow duplicates - They can contain duplicate values.

# Method	Description
# append()	Adds an item to the end of the list
# extend()	Adds items of lists and other iterables to the end of the list
# insert()	Inserts an item at the specified index
# remove()	Removes the specified value from the list
# pop()	Returns and removes item present at the given index
# clear()	Removes all items from the list
# index()	Returns the index of the first matched item
# count()	Returns the count of the specified item in the list
# sort()	Sorts the list in ascending/descending order
# reverse()	Reverses the item of the list
# copy()	Returns the shallow copy of the list

In [ ]:
int(5.6)

In [ ]:
list()  # using list funtion convert any sequetial data into list

In [ ]:
# Python list() - Convert other datatypes to list.
# Python list comprehension - A concise way to create a list from another sequence in a single line.
# Python enumerate() function - Adds a counter (index by default) to a list.

In [ ]:
for i in (std):
    print(i)

In [ ]:
for i in enumerate(std):
    print(i)

In [ ]:
for i ,j in enumerate(std):
    print(i)

## Python Tuple
A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created.

In [ ]:
# # Create a Python Tuple
# Ordered - They maintain the order of elements.
# Immutable - They cannot be changed after creation.
# Allow duplicates - They can contain duplicate values.
t1 =()
t2 =(1,2,3,4,5)
t3 =tuple(std)

In [ ]:
type(t3)

In [ ]:
t3[4:]

In [ ]:
t3[5]=44
# 'tuple' object does not support item assignment
# data is immutable in tuple

In [ ]:
std[4]= "abh"

In [ ]:
t3.count("deep")

In [ ]:
t3.index("raj")

In [ ]:
for i in t3:
    print(i)

### Python Sets
A set is a collection of unique data, meaning that elements within a set cannot be duplicated.

In [ ]:
s1={4,3,5,6,7}
s2 = set()
s3= set(t1)

In [ ]:
type(s1)

In [ ]:
s1.discard(3)

In [ ]:
s1.remove(3)

In [ ]:
s1.update([6,3,4,1,7,8,8])

In [ ]:
s1

In [ ]:
# dictonaty type
d= {1:"ram", 2:"raj"}

In [ ]:
type(d)

In [ ]:
students ={
    "id":[1,2,3],
    "name":["raj","deep","ram"],
    "class":["8th","10th","12th"]
}

In [ ]:
# name ="raj"
def search_std_details(name):
    if name in students["name"]:
        print("record found")
        for i in range(0, len(students["name"])):
            if name == students["name"][i]:
                print(f" student id : {students["id"][i]}")
                print(f" student name : {students["name"][i]}")
                print(f" student calss : {students["class"][i]}")
    else:
        print(name,"Record Not Found ")

In [ ]:
search_std_details("ajay")

## List commprehension

https://www.geeksforgeeks.org/comprehensions-in-python/

In [ ]:
# [<expression> for <item> in <iterable> if <condition>]

In [ ]:
even = []
for i in range(11):
    if i%2==0:
        # print(i)
        even.append(i)
even

In [ ]:
[ i for i in range(11) if i%2==0]

In [ ]:
# Dictonary comprehension
# new_dict = [<key>:<value> for <item> in <iterable> if <condition>]
#            [<expression> for <item> in <iterable> if <condition>]   -->list comp
a = ["Texas", "California", "Florida"] # states
b = ["Austin", "Sacramento", "Tallahassee"] # capital
d1 = {}
d1["Texas"] ="Austin"
d1

In [ ]:
for i in zip(a,b):
    print(i[1])
    d1[i[0]] = i[1]
d1

In [ ]:
res = {state: capital for state, capital in zip(a, b)}
print(res)

In [ ]:
def check_std_details(id):
    if id in students["id"]:
        print("found")
        for i in students["id"]:
            if i ==id:
                print(i)
                print(students["id"][i-1])
                print(students["name"][i-1])
                print(students["class"][i-1])

    else:
        print("Record not found")

In [ ]:
check_std_details(1)

In [ ]:
def check_positve(num):
    if num>0:
        # print(num)
        return num
    else:
        print("-ve number ", num)
        return 0
     
def odd_even_check(n):
    if n%2==0:
        print(n , " even")
        # print(f" student id : {n} name ")
    
    else:
        print(n , " odd")

In [ ]:
v = check_positve(54)

In [ ]:
check_positve(54)

In [ ]:
v

In [ ]:
odd_even_check(v)

In [ ]:
odd_even_check(check_positve(-53))

In [ ]:

def check_positve(num):
    if num>0:
        print(a)
        return num
    else:
        print("-ve number ", num)
        return 0

In [ ]:
check_positve(54)

In [ ]:
a

In [ ]:
num

In [ ]:
claa_ = "dsda"
def check_std_details(id):
    if id in students["id"]:
        print("found")
        for i in students["id"]:
            if i ==id:
                print(i)
                print(students["id"][i-1])
                print(students["name"][i-1])
                print(students["class"][i-1])

    else:
        print("Record not found")

In [ ]:
# outside function 
def outer():
    message = 'local'

    # nested function  
    def inner():
        nonlocal     message
        # declare nonlocal variable
        message = 'nonlocal'
        print("inner:", message)

    inner()
    print("outer:", message)

outer()

In [ ]:
# https://www.geeksforgeeks.org/map-reduce-and-filter-operations-in-python/
# https://www.programiz.com/python-programming/global-local-nonlocal-variables

In [ ]:
s1 ={1,2,3,4,5}
s2 = {4,3,57,6,8}

In [ ]:
s1.union(s2)

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

In [ ]:
s2.symmetric_difference(s1)

class 10/05/25

types of function
- basic function with arguments
- lambda function
- Recursion function


buildin functions
* map 
- reduce 
- filters

In [ ]:
var = 35
def prime_check(n):
    count =0
    global var
    print(var)
    var = var+4
    print(var)
    for i in range(1, n+1):
        if n% i==0:
            count+=1
    
    if count==2:
        print(n, "is prime")
        return n
    else:
        print(n, "is not prime")
        return n

print(var)
prime_check(6)+2

In [ ]:
var

In [ ]:
if count==2:
    print(n, "is prime")
    return n
else:
    print(n, "is not prime")
    return n

In [ ]:
prime_check(7)

In [ ]:
# Lambda
# syntax
# lambda args : logic 

func = lambda a,b : a+b

In [ ]:
func(2,3)

In [ ]:
(lambda a : a**2 )(3)

In [ ]:
# lambda function without any variable assign
(lambda a : "even" if a%2==0 else "odd")(34)

In [ ]:
# lambda function with variable assign
odd_even_check= lambda a : "even" if a%2==0 else "odd"

In [ ]:
odd_even_check(34)

In [ ]:
# Recurssion 
def print_num(v):
    print(v)
    v =v+2
    print(v)

In [ ]:
print_num(6)

In [ ]:
# Recurssion 
def print_num(v):
    print(v)
    v =print_num(v)+2
    print(v)

In [ ]:
print_num(4)

In [ ]:
num =5 
fact =1 
for i in range(1,num+1):
    print(f"i={i}, fact: {fact}")
    fact =fact*i
    print(f"fact: {fact}")
    print("==================")

print(fact)

In [ ]:
num =5 
fact =1 
i =1
while(i<=num):
    fact =fact*1
    i+=1
print(fact)

In [ ]:
def factorial(num):
    if num==1:
        return num   
    return num * factorial(num-1)

factorial(5)

# https://www.programiz.com/python-programming/recursion

In [ ]:
# Map 
# Reduce 
# filter
# map() function is used to apply a given function to each item of an iterable (like lists,
#  tuples, or sets) and returns a list of the results.

# The map() function takes two arguments: a function and an iterable.

# reduce() function is used to apply a given function of two arguments an accumulating way to

In [ ]:
# Reduce 
l1 = [1, 2, 3, 4, 5]

sum(l1)

In [ ]:
min(l1)

In [ ]:
# even sum using loop in function
l1 = [1, 2, 3, 4, 5]
def even_sum(n):
    total = 0
    for i in n:
        print(i)
        if i % 2 == 0:
            total +=i

    return total

even_sum(l1)

In [ ]:
import functools as f

In [ ]:
# filter() function is used to apply a given function to each item of an iterable (like lists,
#  tuples, or sets).

# The filter() function takes two arguments: a function and an iterable.

In [ ]:
# fiter 
numbers = [1, 2, 3, 4]

def even_num(n):
    if n%2==0:
        return n  
    
list(filter(even_num, numbers)  )

In [ ]:
# show only words their length is greater than 3
words = ['cat', 'lion', 'dog', 'elephant']

# create lambda function to filter words with length greater than 3 only for one word
(lambda w: len(w)>3)("cat")

In [ ]:
# create normal function to filter words with length greater than 3 only for one word
def check(w):
    if len(w) >3:
        return w    
check("er")

In [ ]:
# now use filter functions with check() function to itrate for each item in the list words
list(filter(check, words))

In [ ]:
# now use filter functions with lambda function to itrate for each item in the list wordsl
list(filter((lambda w : len(w)>3 ), words))

In [ ]:
l3 =[-23,-43,3,4,-9]
def positive(n):
    if n>0:
        return n

positive(-34)

In [ ]:
# reduce 
# reduce() function is used to apply a given function to each item of an iterable (like lists,
#  tuples, or sets) return in a single output value.

# The reduce() function takes two arguments: a function and an iterable.
numbers = [0,1, 2, 3, 4, 5]
# find the sum of all numbers in the list
from functools import reduce
result = reduce(lambda x, y: x + y, numbers)
result

In [ ]:
def sum_all(x,y):
    return x+y
# one time call only for 2 values
sum_all(3,4)

# use reduce function to sum all values in a list using sum all function
reduce(sum_all, [3,4,5])

In [ ]:
def sum_even(x,y):
    if y%2==0:
        return x+y    
    else:
        return x
reduce(sum_even, numbers)

ðŸ” Step-by-step Execution:
x = 0, y = 1 â†’ 1 is odd â†’ return 0
x = 0, y = 2 â†’ 2 is even â†’ return 0 + 2 =2

x =2, y = 3 â†’ 3 is odd â†’ return 2

x = 2, y = 4 â†’ 4 is even â†’ return 2 + 4 = 6

x = 6, y = 5 â†’ 5 is odd â†’ return 6

x = 6, y = 6 â†’ 6 is even â†’ return 6 + 6 = 12

In [ ]:
numbers

In [ ]:
# using map to manupulate each data and return a new list
list(map(lambda x :x+2, numbers))

In [ ]:
#  return the list of even and odd text in place of the original list
# [0, 1, 2, 3, 4, 5]
# ["even","odd","even","odd","even","odd"]
def even_odd_list(x):
    if x%2==0:
        return f"{x} even"
    else:
        return f"{x} odd"
    
list(map(even_odd_list, numbers))

In [ ]:
list(map(lambda x : f"{x} even" if x%2==0 else f"{x} odd",numbers) )

In [ ]:
words = ['cat', 'lion', 'dog', 'elephant']
# capitalize all words in the list
words[1].upper()

In [ ]:
list( map( lambda x : x.upper() ,words))

In [ ]:
# https://www.geeksforgeeks.org/map-reduce-and-filter-operations-in-python/

## 17/05/2025

In [ ]:
# Take value from users --> name ,roll_no , class , email, address 

# create a functions to store student details in dictonary --->dict = student_details{}

# variable = name ,roll_no , class , email, address 



# {name:["a"],roll_no:[1] , class:[10] , email:[gmail.com], address :[]}

In [ ]:
student_detail ={}

In [ ]:
def insert_std_details():
    name    = input("Enter student name: ")
    roll_no = int(input("Enter student roll: "))
    # std     = int(input("Enter student class: "))
    # email   = input("Enter student email: ")
    # address = input("Enter student addres: ")
    if "name" not in student_detail.keys():
        student_detail["name"] =list([name])
    else:
        student_detail["name"].append(name)

    if "roll_no" not in student_detail.keys():
        student_detail["roll_no"] =list([roll_no])
    else:
        student_detail["roll_no"].append(roll_no)

def display_details():
    for i in student_detail.items():
        for j in i[1]:
            print(j)

In [ ]:
# student_detail = {}  # Global dictionary to store student data

def insert_std_details():
    inputs = {
        "name": input("Enter student name: "),
        "roll_no": int(input("Enter student roll: ")),
        "email": input("Enter student email: "),
        "address": input("Enter student address: ")
        
    }

    for key, value in inputs.items():
        student_detail.setdefault(key, []).append(value)

In [54]:
insert_std_details()

In [55]:
display_details()

Name:
  raj
  ds
  pawan
  eee
  t
  raj
  deep
Roll_No:
  1
  3
  7
  5
  0
  1
  2
Email:
  @gmail.com
  @yahoo.com
Address:
  delhi
  mumbai

In [ ]:
students ={
    "id":[1,2,3],
    "name":["raj","deep","ram"],
    "class":["8th","10th","12th"]
}

In [ ]:
"idw" in students.keys()

In [ ]:
students["idss"] = list([4])

In [ ]:
students["idss"].append(9)

In [ ]:
# pass ,break ,continue
def functions():
    pass

In [ ]:
def func():
    for i in range(10):
        if i == 5:
            break
        print(i)

func()

In [ ]:
def func():
    for  i in range(10):
        if i==6:
            continue
        print(i)


func()

In [56]:
4+5

9

In [57]:
"4"+"5"

'45'